webs-html-improvements-files/oritmartin.com/manus-ai/Files/Improved_N8N_Workflow.json
{
  "name": "Improved Content Pipeline - Orit Martin - manus-ai - 2026-03-26",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderId": "={{$credentials.googleDriveFolderId}}",
        "options": {}
      },
      "id": "trigger-gdocs",
      "name": "Google Docs Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        200,
        260
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-article",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ],
      "webhookId": "generate-article"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\nconst providedProducts = Array.isArray(body.products) ? body.products : (Array.isArray(input.products) ? input.products : []);\n\nreturn {\n  json: {\n    siteUrl: body.siteUrl || input.siteUrl || 'https://www.oritmartin.com/',\n    articleTopic: body.articleTopic || input.articleTopic || input.title || 'אמנות קבלה וספירות',\n    docContent: body.content || input.content || input.docContent || '',\n    products: providedProducts,\n    businessName: 'אורית מרטין, אמנות רוחנית וקבלית מירושלים',\n    businessDescription: 'גלריה ליצירות רוחניות וקבליות במהדורות מוגבלות, בהר נוף ירושלים.',\n    verifiedLinks: {\n      aboutUrl: 'https://www.oritmartin.com/about',\n      galleryUrl: 'https://www.oritmartin.com/gallery',\n      contactUrl: 'https://www.oritmartin.com/contact',\n      phone: '+972587676321',\n      email: 'orit-26@netvision.net.il',\n      facebookUrl: 'https://www.facebook.com/%D7%90%D7%95%D7%A8%D7%99%D7%AA-%D7%9E%D7%A8%D7%98%D7%99%D7%9F-%D7%A6%D7%99%D7%99%D7%A8%D7%AA-orit-martin-1430061693883873/',\n      instagramUrl: 'https://www.instagram.com/orit_martin_spiritual_art/',\n      authorPortrait: 'https://zqcnyllsfwnssnuduvmj.supabase.co/storage/v1/object/public/article-assets/oritmartin/author-portrait.jpeg'\n    },\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\": \"{{ $json.siteUrl }}\", \"limit\": 60}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "site-discovery",
      "name": "Site Discovery (Firecrawl)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api-key",
          "name": "Firecrawl API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $node['Normalize Input'].json;\nconst urls = input.links || input.urls || [];\nconst lowerUrls = urls.map(url => String(url || ''));\nconst storePatterns = ['product', 'product-page', 'gallery', 'shop', 'collection', 'catalog'];\nconst storeUrls = lowerUrls.filter(url => storePatterns.some(pattern => url.toLowerCase().includes(pattern)));\nconst aboutUrl = lowerUrls.find(url => /about|אודות/i.test(url)) || prevData.verifiedLinks.aboutUrl;\nconst galleryUrl = lowerUrls.find(url => /gallery|גלריה/i.test(url)) || prevData.verifiedLinks.galleryUrl;\n\nreturn {\n  json: {\n    ...prevData,\n    siteUrls: lowerUrls,\n    isStore: storeUrls.length > 0 || (prevData.products || []).length > 0,\n    storeUrlCount: storeUrls.length,\n    aboutUrl,\n    galleryUrl,\n    contactAction: `tel:${prevData.verifiedLinks.phone}`,\n    productUrls: Array.from(new Set(storeUrls)).slice(0, 12)\n  }\n};"
      },
      "id": "parse-site-map",
      "name": "Parse Site Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isStore }}",
              "value2": true
            }
          ]
        }
      },
      "id": "store-check",
      "name": "Store or Non-Store?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"url\": \"{{ $json.galleryUrl || $json.productUrls[0] || $json.siteUrl }}\", \"formats\": [\"markdown\", \"html\"], \"onlyMainContent\": true}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrape-products",
      "name": "Scrape Product Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api-key",
          "name": "Firecrawl API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $node['Parse Site Map'].json;\nconst existingProducts = Array.isArray(prevData.products) ? prevData.products : [];\nconst metadata = ((input.data || {}).metadata) || {};\nconst scrapedProducts = [];\n\nif (metadata.title || metadata.url || metadata.sourceURL) {\n  scrapedProducts.push({\n    title: metadata.title || '',\n    url: metadata.sourceURL || metadata.url || prevData.galleryUrl || prevData.siteUrl || '',\n    imageUrl: metadata.ogImage || metadata['og:image'] || metadata.image || '',\n    description: metadata.description || metadata.ogDescription || ''\n  });\n}\n\nconst merged = [...existingProducts, ...scrapedProducts]\n  .filter(product => product && (product.title || product.url || product.imageUrl))\n  .map(product => ({\n    title: String(product.title || '').trim(),\n    url: String(product.url || '').trim(),\n    imageUrl: String(product.imageUrl || '').trim(),\n    description: String(product.description || '').trim()\n  }))\n  .filter(product => product.title && product.url)\n  .filter((product, index, array) => array.findIndex(candidate => candidate.url === product.url || candidate.title === product.title) === index);\n\nreturn {\n  json: {\n    ...prevData,\n    products: merged\n  }\n};"
      },
      "id": "extract-products",
      "name": "Extract Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $node['Parse Site Map'].json;\nreturn {\n  json: {\n    ...prevData,\n    products: Array.isArray(prevData.products) ? prevData.products : []\n  }\n};"
      },
      "id": "empty-products",
      "name": "Prepare Empty Product Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst topic = String(input.articleTopic || '').toLowerCase();\nconst topicWords = topic.split(/\\s+/).filter(word => word.length > 2);\nconst products = Array.isArray(input.products) ? input.products : [];\n\nconst scoredProducts = products.map(product => {\n  const title = String(product.title || '').toLowerCase();\n  const description = String(product.description || '').toLowerCase();\n  let relevanceScore = product.imageUrl ? 2 : -10;\n\n  for (const word of topicWords) {\n    if (title.includes(word)) relevanceScore += 3;\n    if (description.includes(word)) relevanceScore += 1;\n  }\n\n  if (/קבלה|ספירות|רוח|יהדות|אור/.test(title)) relevanceScore += 2;\n\n  return { ...product, relevanceScore };\n});\n\nscoredProducts.sort((a, b) => b.relevanceScore - a.relevanceScore);\n\nreturn {\n  json: {\n    ...input,\n    products: scoredProducts.slice(0, 6),\n    hasProducts: scoredProducts.some(product => Boolean(product.imageUrl))\n  }\n};"
      },
      "id": "rank-products",
      "name": "Rank and Select Top Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst links = Array.from(new Set([input.aboutUrl, input.galleryUrl, ...(input.products || []).slice(0, 3).map(product => product.url)].filter(Boolean)));\nconst sourceContent = String(input.docContent || '').trim();\nconst productList = (input.products || []).map(product => `- ${product.title} | ${product.url}`).join('\\n');\n\nconst brief = `כתוב טיוטת כתבה בעברית על הנושא: ${input.articleTopic}.\n\nכללי חובה:\n- הכתבה צריכה להרגיש מקצועית, אנושית, שקטה ולא מכירתית.\n- השתמש ב-H2 וב-H3 בטקסט עצמו כדי לייצר מבנה ברור.\n- שלב קישורים פנימיים אמיתיים כשיש להם מקום טבעי.\n- אל תמציא קישורים, מוצרים, או עובדות.\n- אל תכתוב HTML מלא. תן טיוטת גוף כתבה עשירה, עם כותרות, פסקאות וקישורים, כך שהשלב הבא יוכל לעטוף אותה ב-HTML.\n- שמור על קישורים חיצוניים ופנימיים אם הם כבר קיימים בתוכן המקור.\n\nקישורים פנימיים זמינים:\n${links.join('\\n')}\n\nמוצרים רלוונטיים:\n${productList || 'אין מוצרים זמינים'}\n\nתוכן מקור, אם קיים:\n${sourceContent || 'אין תוכן מקור. כתוב טיוטה מקורית אך מבוססת מציאות על בסיס הנושא והאתר.'}`;\n\nreturn {\n  json: {\n    ...input,\n    blogBrief: brief\n  }\n};"
      },
      "id": "build-blog-brief",
      "name": "Build Blog Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.maximoApiUrl}}/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"prompt\": \"{{ $json.blogBrief }}\", \"format\": \"text\", \"language\": \"he\", \"direction\": \"rtl\"}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "write-blog-draft",
      "name": "Write Blog Draft (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maximo-api-key",
          "name": "Maximo API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Blog Brief'].json;\nconst input = $input.first().json;\nconst output = input.output || input.text || input.content || input.result || input.data || '';\n\nif (!String(output || '').trim()) {\n  throw new Error('Writing Blog received no usable article body from the LLM response.');\n}\n\nreturn {\n  json: {\n    ...source,\n    output: String(output).trim()\n  }\n};"
      },
      "id": "writing-blog",
      "name": "Writing Blog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Writing Blog'].json;\nconst imageCandidates = (source.products || [])\n  .map(product => String(product.imageUrl || '').trim())\n  .filter(Boolean);\nconst uniqueImages = [...new Set(imageCandidates)];\n\nreturn {\n  json: {\n    ...source,\n    images: {\n      hero: { url: uniqueImages[0] || '' },\n      section_1: { url: uniqueImages[1] || '' },\n      section_2: { url: uniqueImages[2] || '' },\n      section_3: { url: uniqueImages[3] || '' },\n      section_4: { url: uniqueImages[4] || '' }\n    }\n  }\n};"
      },
      "id": "prepare-images",
      "name": "Preparing Images for HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Preparing Images for HTML'].json;\nconst prompt = `ORIT MARTIN WORDPRESS HTML RENDERER\n\nYou are generating one final Hebrew HTML article for WordPress.\nOutput raw HTML only.\nStart with <article and end with </article>.\nNo HTML comments.\nMUST include one <style> block right after the opening <article id=\"om-top\"> tag with these exact rules:\n#om-top summary{display:flex!important;align-items:center!important;justify-content:space-between!important;gap:12px!important;list-style:none!important;cursor:pointer}\n#om-top summary::-webkit-details-marker{display:none!important}\n#om-top summary::marker{display:none!important;content:\"\"!important}\n#om-top .omic{display:inline-flex!important;align-items:center!important;justify-content:center!important;width:22px!important;height:22px!important;flex-shrink:0!important;font-size:1.1rem!important;transition:transform 0.3s ease}\n#om-top details[open] .omic{transform:rotate(45deg)}\n#om-top .omtl:hover{text-decoration:underline;color:#a47b4c}\n#om-top .omfs:hover{background:#f7f2eb}\n#om-top .omcta:hover{background:#b99258;transform:translateY(-1px)}\n#om-top .ompb:hover{background:#C4A265;color:#fff}\n#om-top .omab:hover{filter:brightness(0.92)}\n#om-top .omsl:hover{border-color:#C4A265;color:#8c6840}\n#om-top .omfb:hover{transform:translateY(-2px)}\n#om-top .omsl{display:inline-flex!important;align-items:center!important;gap:6px!important;white-space:nowrap!important}\n#om-top .omcta{display:inline-flex!important;align-items:center!important;justify-content:center!important;gap:6px!important}\n#om-top .omcta svg,#om-top .omfb svg,#om-top .omab svg,#om-top .omsl svg{flex-shrink:0!important;vertical-align:middle!important}\n\nApply classes: omic on + spans, omtl on TOC links, omfs on summaries, omcta on CTA, ompb on product buttons, omab on author buttons, omsl on social links, omfb on floating buttons.\nNo content after the author section.\nInline CSS on every element as fallback.\nThe author section must be the final section in the markup.\nThe floating Contact and Back to Top buttons must appear before the author section in the DOM.\nUse only verified site facts for Orit Martin.\nPreserve real internal and external links from the injected article content.\nUse real artwork images only. Skip products without usable images.\nUse object-fit:contain and height:auto for all informative artwork images.\nTOC title must be exactly \\u05EA\\u05D5\\u05DB\\u05DF \\u05E2\\u05E0\\u05D9\\u05D9\\u05E0\\u05D9\\u05DD.\nTOC must be right after the summary card, closed by default, one column, unordered, not numbered.\nFAQ items must be separate details elements, closed by default, not numbered, placed before the closing section.\nThe final main CTA goes to the gallery unless injected content makes another real destination more appropriate.\nThe floating Contact button must link to https://www.oritmartin.com/contact.\nVerified social profiles: Facebook and Instagram. Include both in the author section with SVG icons.\nThe author section MUST include the portrait image from the verified Supabase URL as a centered 110px circle with 3px solid #C4A265 border.\nInclude phone and email buttons in the author section.\nAdd onmouseover/onmouseout hover effects on interactive elements.\nAdd ontoggle on TOC and FAQ details elements to rotate the + indicator.\nThe + span MUST have full inline style including display:inline-flex, width:22px, height:22px, min-width:22px, flex-shrink:0.\nEvery summary must have flex-wrap:nowrap.\nEvery SVG in CTA/floating/social buttons must have style flex-shrink:0;vertical-align:middle;display:inline-block.\nSocial link buttons must wrap SVG + text inside a span with display:inline-flex, align-items:center, gap:6px.\nAdd 2 inline CTA banners between body sections.\nDo NOT add a WhatsApp floating button (not a verified link).\nDo NOT add JSON-LD blocks after the author section.\n\nUse the exact locked injection block below as-is. Do not add any other N8N expressions.\n\n### \\u05DE\\u05D5\\u05E6\\u05E8\\u05D9\\u05DD \\u05D6\\u05DE\\u05D9\\u05E0\\u05D9\\u05DD:\n{{ JSON.stringify($json[\"products\"], null, 2) }}\n\n### \\u05EA\\u05D5\\u05DB\\u05DF \\u05D4\\u05DB\\u05EA\\u05D1\\u05D4:\n{{ $(\"Writing Blog\").first().json.output }}\n\n\\u05D7\\u05D5\\u05D1\\u05D4! \\u05DC\\u05D4\\u05E7\\u05E4\\u05D9\\u05D3 \\u05DC\\u05E9\\u05D9\\u05DD \\u05D1\\u05DE\\u05D0\\u05DE\\u05E8 \\u05D4\\u05E7\\u05D9\\u05E9\\u05D5\\u05E8\\u05D9\\u05DD \\u05D4\\u05D7\\u05D9\\u05E6\\u05D5\\u05E0\\u05D9\\u05D9\\u05DD \\u05D5\\u05D2\\u05DD \\u05D4\\u05E7\\u05D9\\u05E9\\u05D5\\u05E8\\u05D9\\u05DD \\u05D4\\u05E4\\u05E0\\u05D9\\u05DE\\u05D9\\u05D9\\u05DD \\u05DB\\u05DE\\u05D5 \\u05E9\\u05E7\\u05D9\\u05D1\\u05DC\\u05EA \\u05D1\\u05EA\\u05D5\\u05DB\\u05DF \\u05D4\\u05DB\\u05EA\\u05D1\\u05D4.\n\n### \\u05EA\\u05DE\\u05D5\\u05E0\\u05D5\\u05EA \\u05D6\\u05DE\\u05D9\\u05E0\\u05D5\\u05EA:\n\\`\\`\\`text\nSection image 1 URL: {{ $(\"Preparing Images for HTML\").first().json.images.section_1.url }}\nSection image 2 URL: {{ $(\"Preparing Images for HTML\").first().json.images.section_2.url }}\nSection image 3 URL: {{ $(\"Preparing Images for HTML\").first().json.images.section_3.url }}\nSection image 4 URL: {{ $(\"Preparing Images for HTML\").first().json.images.section_4.url }}\nHero image URL:      {{ $(\"Preparing Images for HTML\").first().json.images.hero.url }}\n\\`\\`\\`\n\nCreate a premium editorial structure: introduction, summary card, TOC, optional artwork grid, core body sections, 2 inline CTA banners, FAQ, short closing, one final CTA, floating buttons (Contact + Back to Top only), final author section. Nothing after the author section.`;\n\nreturn {\n  json: {\n    ...source,\n    htmlPrompt: prompt\n  }\n};"
      },
      "id": "build-html-prompt",
      "name": "Build Final HTML Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.maximoApiUrl}}/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"prompt\": \"{{ $json.htmlPrompt }}\", \"format\": \"html\", \"language\": \"he\", \"direction\": \"rtl\"}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "render-final-html",
      "name": "Render Final HTML (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3160,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "maximo-api-key",
          "name": "Maximo API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Final HTML Prompt'].json;\nconst input = $input.first().json;\nlet html = String(input.html || input.output || input.content || input.improved_html || '').trim();\n\nif (!html) {\n  throw new Error('Render Final HTML returned no usable HTML payload.');\n}\n\n// Strip any style blocks that are NOT the mandatory #om-top scoped block.\n// The #om-top style block is required and must be preserved.\nconst styleBlockRegex = /<style[^>]*>[\\s\\S]*?<\\/style>/gi;\nconst styleBlocks = html.match(styleBlockRegex) || [];\nfor (const block of styleBlocks) {\n  if (!block.includes('#om-top')) {\n    html = html.replace(block, '');\n  }\n}\n\n// Strip HTML comments\nhtml = html.replace(/<!--[\\s\\S]*?-->/g, '');\n\n// Strip script tags (including JSON-LD)\nhtml = html.replace(/<script[\\s\\S]*?<\\/script>/gi, '');\n\n// Normalize em dashes\nhtml = html.replace(/\\u2014/g, ', ');\n\n// Validate: must start with <article and end with </article>\nif (!/^<article\\b/i.test(html)) {\n  throw new Error('Final HTML does not start with an <article> element.');\n}\nif (!html.trimEnd().endsWith('</article>')) {\n  throw new Error('Final HTML does not end with </article>.');\n}\n\n// Validate: no HTML comments remain\nif (/<!--/.test(html)) {\n  throw new Error('HTML comments remained after cleanup.');\n}\n\n// Validate: no script tags remain\nif (/<script\\b/i.test(html)) {\n  throw new Error('Script tags remained after cleanup.');\n}\n\n// Validate: the mandatory #om-top style block is present\nif (!/(<style[^>]*>[\\s\\S]*?#om-top[\\s\\S]*?<\\/style>)/i.test(html)) {\n  throw new Error('The mandatory #om-top style block is missing from the output.');\n}\n\nreturn {\n  json: {\n    ...source,\n    cleanedHtml: html\n  }\n};"
      },
      "id": "clean-html",
      "name": "Clean HTML for WordPress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    title: input.articleTopic || 'Untitled',\n    content: input.cleanedHtml,\n    status: 'draft',\n    categories: [],\n    tags: [],\n    meta: {\n      _yoast_wpseo_metadesc: input.metaDescription || '',\n      _yoast_wpseo_focuskw: input.articleTopic || ''\n    }\n  }\n};"
      },
      "id": "prepare-wp",
      "name": "Prepare WordPress Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.wordpressUrl}}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\": \"{{ $json.title }}\", \"content\": \"{{ $json.content }}\", \"status\": \"{{ $json.status }}\"}",
        "options": {}
      },
      "id": "publish-wp",
      "name": "Publish to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3820,
        360
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "wordpress-auth",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.slackWebhookUrl}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"Orit Martin article prepared: {{ $node['Prepare WordPress Post'].json.title }} - {{ $node['Publish to WordPress'].json.link || 'Draft saved' }}\"}",
        "options": {}
      },
      "id": "slack-success",
      "name": "Notify Slack (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4040,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$credentials.socialPostsSheetId}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Articles",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{$now.format('YYYY-MM-DD')}}",
            "Title": "={{$node['Prepare WordPress Post'].json.title}}",
            "WordPress URL": "={{$node['Publish to WordPress'].json.link || ''}}"
          }
        },
        "options": {}
      },
      "id": "save-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        4040,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$credentials.slackWebhookUrl}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"Error in Orit Martin pipeline: {{ $json.error || 'Unknown error' }}\"}",
        "options": {}
      },
      "id": "slack-error",
      "name": "Error Handler (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3820,
        580
      ]
    }
  ],
  "connections": {
    "Google Docs Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Site Discovery (Firecrawl)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site Discovery (Firecrawl)": {
      "main": [
        [
          {
            "node": "Parse Site Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Site Map": {
      "main": [
        [
          {
            "node": "Store or Non-Store?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store or Non-Store?": {
      "main": [
        [
          {
            "node": "Scrape Product Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Empty Product Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Product Pages": {
      "main": [
        [
          {
            "node": "Extract Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Data": {
      "main": [
        [
          {
            "node": "Rank and Select Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Empty Product Set": {
      "main": [
        [
          {
            "node": "Rank and Select Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank and Select Top Products": {
      "main": [
        [
          {
            "node": "Build Blog Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blog Brief": {
      "main": [
        [
          {
            "node": "Write Blog Draft (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Blog Draft (LLM)": {
      "main": [
        [
          {
            "node": "Writing Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing Blog": {
      "main": [
        [
          {
            "node": "Preparing Images for HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Images for HTML": {
      "main": [
        [
          {
            "node": "Build Final HTML Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final HTML Prompt": {
      "main": [
        [
          {
            "node": "Render Final HTML (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Final HTML (LLM)": {
      "main": [
        [
          {
            "node": "Clean HTML for WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML for WordPress": {
      "main": [
        [
          {
            "node": "Prepare WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WordPress Post": {
      "main": [
        [
          {
            "node": "Publish to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to WordPress": {
      "main": [
        [
          {
            "node": "Notify Slack (Success)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateId": "improved-content-pipeline-oritmartin-manus-ai-2026-03-26",
    "instanceId": "maximo-seo-report"
  },
  "pinData": {},
  "tags": [
    {
      "name": "content-pipeline",
      "id": "1"
    },
    {
      "name": "wordpress",
      "id": "2"
    },
    {
      "name": "firecrawl",
      "id": "3"
    },
    {
      "name": "orit-martin",
      "id": "4"
    },
    {
      "name": "manus-ai",
      "id": "5"
    }
  ]
}
