hondabike.co.il/Improved Files (12.4.26) ✦ Latest/Improved_N8N_Workflow.json
{
  "updatedAt": "2026-04-12T12:49:00.305Z",
  "createdAt": "2026-04-09T10:31:25.789Z",
  "id": "zPBQi59Cat4rYd7M",
  "name": "hondabike.co.il",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit#gid=683869339"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Published",
              "lookupValue": "production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        8288
      ],
      "id": "8fb2612a-fd67-4037-98e1-7be8de4d27e9",
      "name": "Grab New Cluster",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        8288
      ],
      "id": "f1a2d01f-f353-4248-acbf-c669d9feec7b",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        8224
      ],
      "typeVersion": 1,
      "id": "7f6fe38e-5650-4b70-8dd6-de11179c15cd",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        8208
      ],
      "typeVersion": 1,
      "id": "834788b0-4cf6-4599-baf1-2b5e73a82fe5",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        8208
      ],
      "typeVersion": 1,
      "id": "23113ae5-e7a8-45a5-9ec6-03e8d841d870",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 244
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        8208
      ],
      "typeVersion": 1,
      "id": "0f2e0ae8-30c7-4c06-86dc-b7936a6f28f3",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 348
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        8240
      ],
      "typeVersion": 1,
      "id": "602e47ae-5ee1-4102-a9fb-17c21b540dc9",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        8240
      ],
      "typeVersion": 1,
      "id": "b91f77d1-0620-439d-a436-06418628e9b9",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3184,
        8208
      ],
      "typeVersion": 1,
      "id": "453f7d8c-95c6-4aad-92aa-a28d5b4a1abd",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3616,
        8208
      ],
      "typeVersion": 1,
      "id": "992df330-f3d9-4c4b-a04d-42b9d854a65f",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        8208
      ],
      "typeVersion": 1,
      "id": "baa1ad9e-edc4-4e58-8b93-a0323b998141",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4928,
        8208
      ],
      "typeVersion": 1,
      "id": "75e88497-c7a9-4cf9-a625-0fa504198e2f",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=═══════════════════════════════════════════════════════\nACTIVE DATA INPUTS (DO NOT EDIT EXPRESSION TOKENS)\n═══════════════════════════════════════════════════════\n\n{{ JSON.stringify($json[\"products\"], null, 2) }}\n\n{{ $('Writing Blog').first().json.output }}\n\n{{ JSON.stringify($json[\"reviews_data\"], null, 2) }}\n\n{{ JSON.stringify($json[\"social_profiles\"], null, 2) }}\n\n{{ $items(\"Preparing Images for HTML\")[0].json.images.section_1.url }}\n{{ $items(\"Preparing Images for HTML\")[0].json.images.section_2.url }}\n{{ $items(\"Preparing Images for HTML\")[0].json.images.section_3.url }}\n{{ $items(\"Preparing Images for HTML\")[0].json.images.section_4.url }}\n{{ $items(\"Preparing Images for HTML\")[0].json.images.hero.url }}\n\nYou are an Authority-Building CTR-Optimized WordPress HTML Article Generator specializing in FULLY RESPONSIVE design for Honda Bike Israel (הונדה אופנועים). Generate a single HTML article element that establishes expertise in the motorcycle and scooter industry, builds trust, maximizes conversions, and renders PERFECTLY on all devices from 320px mobile to 4K desktop.\n\nBRAND CONTEXT:\nThis article is for Honda Bike Israel (hondabike.co.il), the official Honda motorcycle and scooter importer in Israel, part of Meir Group (קבוצת מאיר). All content must align with the Honda brand identity: professional, trustworthy, safety-conscious, and rider-focused.\n\nSTYLE VARIABLES:\nPRIMARY_COLOR: #E91B2F\nSECONDARY_COLOR: #d11223\nACCENT_COLOR: #E91B2F\nTEXT_COLOR: #404040\nBG_COLOR: #FFFFFF\nFONT_FAMILY: Assistant, system-ui, sans-serif\nRADIUS_PX: 6px\nBORDER_COLOR: #E91B2F\nSHADOW: 0 4px 12px rgba(233,27,47,0.15)\nSPACING: airy\n\nCRITICAL RESPONSIVE FRAMEWORK:\nYou MUST use these breakpoints:\n- Mobile Small: max-width 375px\n- Mobile Large: max-width 480px\n- Tablet: max-width 768px\n- Desktop Small: max-width 1024px\n- Desktop Large: max-width 1440px\n- Desktop XL: min-width 1441px\n\nRESPONSIVE UNIT RULES:\n- Use clamp() for all font sizes: clamp(min, preferred, max)\n- Use percentage or vw for widths, NEVER fixed px for containers\n- Use rem/em for spacing, not fixed px\n- Images MUST use: max-width: 100%; height: auto; object-fit: cover;\n\nSince inline @media is NOT supported, use this CSS-in-HTML workaround: Wrap responsive elements in a div with a unique data attribute, then include a single style block INSIDE the article element at the very beginning. The article MUST begin like this:\n\n<article lang=\"he\" dir=\"rtl\">\n<style>\n:root {\n--primary: #E91B2F;\n--secondary: #d11223;\n--accent: #E91B2F;\n--text: #404040;\n--bg: #FFFFFF;\n--radius: 6px;\n--shadow: 0 4px 12px rgba(233,27,47,0.15);\n}\n.title_content h1.title { text-align: center !important; }\nhtml { scroll-behavior: smooth; }\nsummary br, [data-resp=\"float-group\"] br, [data-resp=\"float-group\"] a br, [data-resp=\"cta-btn\"] br, .cta-hover br { display: none !important; }\n[data-resp=\"container\"] > p:empty { display: none !important; margin: 0 !important; padding: 0 !important; height: 0 !important; }\n[data-resp=\"container\"] a { transition: color 0.2s, background 0.2s; }\n[data-resp=\"container\"] a:not([data-resp=\"cta-btn\"]):not(.cta-hover):not(.social-btn):not(.float-cta-hover):not([data-resp=\"cta-link\"]):hover { background: transparent !important; color: #d11223 !important; text-decoration: underline !important; }\n[data-resp=\"cta-link\"]:hover { color: #FFFFFF !important; background: transparent !important; text-decoration: underline !important; opacity: 0.85; }\ndetails[open] summary span.arrow { transform: rotate(180deg); }\ndetails summary::-webkit-details-marker { display: none; }\ndetails summary { list-style: none; }\n[data-resp=\"container\"] { padding: 0 15%; }\n[data-resp=\"heading\"] { font-size: 2.5rem; }\n[data-resp=\"table-wrap\"] { overflow-x: auto; -webkit-overflow-scrolling: touch; }\n[data-resp=\"table\"] { min-width: 600px; }\n[data-resp=\"img\"] { width: 100%; height: auto; }\n[data-resp=\"cta-btn\"], .cta-hover { padding: 12px 28px !important; font-size: 0.95rem !important; min-height: 44px; border-radius: 50px !important; border: 2px solid transparent; box-sizing: border-box; display: inline-flex !important; align-items: center; justify-content: center; white-space: nowrap; line-height: 1.2; vertical-align: middle; }\n[data-resp=\"grid\"] { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }\n[data-resp=\"card\"] { padding: 24px; transition: transform 0.25s ease, box-shadow 0.25s ease; }\n[data-resp=\"card\"]:hover { transform: translateY(-3px); box-shadow: 0 8px 24px rgba(233,27,47,0.2) !important; }\n[data-resp=\"toc\"] { padding: 24px; }\n[data-resp=\"toc-item\"] { border-radius: 4px; transition: background 0.2s; padding: clamp(8px, 1.5vw, 12px) clamp(8px, 2vw, 12px); margin: 0 -clamp(8px, 2vw, 12px); }\n[data-resp=\"toc-item\"]:hover { background: rgba(233,27,47,0.06); }\n[data-resp=\"toc-item\"]:hover a { color: #d11223 !important; }\n[data-resp=\"faq-item\"] { padding: 16px; }\n[data-resp=\"faq\"] > summary { transition: background 0.2s; }\n[data-resp=\"faq\"]:not([open]) > summary:hover { background: rgba(233,27,47,0.04); }\n[data-resp=\"author-box\"] { display: flex; flex-direction: row; gap: 24px; }\n[data-resp=\"stat-grid\"] { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; }\n[data-resp=\"stat-item\"] { transition: transform 0.2s, box-shadow 0.2s; }\n[data-resp=\"stat-item\"]:hover { transform: translateY(-2px); box-shadow: 0 6px 16px rgba(233,27,47,0.2); }\n[data-resp=\"float-group\"] { position: fixed; bottom: 24px; left: 24px; z-index: 9999; display: flex; flex-direction: column; gap: 10px; align-items: flex-start; }\n.social-btn:hover { opacity: 1 !important; }\n.social-fb:hover { background: #1877F2 !important; color: #fff !important; }\n.social-ig:hover { background: #E1306C !important; color: #fff !important; }\n.cta-hover:hover { transform: translateY(-2px); box-shadow: 0 6px 20px rgba(233,27,47,0.3); }\n.cta-hover:focus { outline: 2px solid #E91B2F; outline-offset: 2px; }\n.cta-hover:active { transform: translateY(0) scale(0.98); }\n.float-cta-hover:hover { transform: translateY(-3px); box-shadow: 0 8px 24px rgba(233,27,47,0.4); }\n@media (max-width: 1024px) {\n[data-resp=\"container\"] { padding: 0 10%; }\n[data-resp=\"grid\"] { grid-template-columns: repeat(2, 1fr); }\n[data-resp=\"stat-grid\"] { grid-template-columns: repeat(2, 1fr); }\n}\n@media (max-width: 768px) {\n[data-resp=\"container\"] { padding: 0 5%; }\n[data-resp=\"heading\"] { font-size: 1.8rem; }\n[data-resp=\"table\"] { font-size: 0.85rem; }\n[data-resp=\"cta-btn\"] { padding: 14px 24px; font-size: 1rem; width: 100%; display: block; text-align: center; }\n[data-resp=\"grid\"] { grid-template-columns: 1fr; }\n[data-resp=\"card\"] { padding: 16px; }\n[data-resp=\"toc\"] { padding: 16px; }\n[data-resp=\"author-box\"] { flex-direction: column; text-align: center; }\n[data-resp=\"stat-grid\"] { grid-template-columns: repeat(2, 1fr); gap: 12px; }\n[data-resp=\"float-group\"] { bottom: 16px; left: 16px; }\n}\n@media (max-width: 480px) {\n[data-resp=\"container\"] { padding: 0 4%; }\n[data-resp=\"heading\"] { font-size: 1.5rem; }\n[data-resp=\"table\"] { font-size: 0.75rem; min-width: 500px; }\n[data-resp=\"cta-btn\"] { padding: 12px 20px; font-size: 0.95rem; }\n[data-resp=\"faq-item\"] { padding: 12px; }\n[data-resp=\"stat-grid\"] { grid-template-columns: 1fr 1fr; gap: 8px; }\n}\n@media (max-width: 480px) {\n[data-resp=\"simple-table\"] tr { display: block; margin-bottom: 16px; border: 1px solid #E91B2F; border-radius: 6px; }\n[data-resp=\"simple-table\"] td { display: flex; justify-content: space-between; padding: 8px 12px; }\n[data-resp=\"simple-table\"] td::before { content: attr(data-label); font-weight: bold; }\n[data-resp=\"simple-table\"] thead { display: none; }\n}\n</style>\n[rest of article content]\n</article>\n\nRESPONSIVE TABLE RULES (CRITICAL):\nTables MUST follow these rules. MANDATORY TABLE WRAPPER:\n<div data-resp=\"table-wrap\" style=\"width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; margin: 24px 0; border-radius: 6px;\">\n<table data-resp=\"table\" style=\"width: 100%; min-width: 600px; border-collapse: collapse; font-size: clamp(0.75rem, 2vw, 1rem);\">\n...\n</table>\n</div>\nTABLE HEADER: Background #E91B2F, color #FFFFFF, font-weight 700. TABLE CELL RULES: Header cells use padding clamp(8px, 2vw, 16px); white-space: nowrap for short text, normal for long. Body cells use padding clamp(8px, 2vw, 14px); word-break: break-word for long content. Use percentage widths for columns, not fixed px. First column: min-width: 120px for readability. Apply zebra striping with #fef8f8 for better mobile readability. Row borders use rgba(233,27,47,0.1). For simple data tables with 2-3 columns, use data-resp=\"simple-table\" to enable stacked card layout on mobile.\n\nRESPONSIVE IMAGE RULES (CRITICAL):\nAll images MUST follow this structure:\n<figure data-resp=\"figure\" style=\"margin: 24px 0; width: 100%; max-width: 800px; margin-left: auto; margin-right: auto;\">\n<img data-resp=\"img\" src=\"[URL]\" alt=\"[DESCRIPTIVE ALT IN HEBREW]\" loading=\"lazy\" decoding=\"async\" style=\"width: 100%; height: auto; max-height: 500px; object-fit: cover; border-radius: 6px; display: block;\" />\n</figure>\nIMAGE PLACEMENT RULES: Full-width images use within content flow with max-width 800px. Side images use float only on desktop, full-width on mobile. Gallery images use grid that collapses from 3 to 2 to 1 columns. NEVER add captions below images.\nRESPONSIVE IMAGE IN GRID:\n<div data-resp=\"img-grid\" style=\"display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 16px;\">\n[images here]\n</div>\n\nAUTHORITY-BUILDING FRAMEWORK:\nEXPERTISE INDICATORS: Honda Bike is the official Honda importer in Israel, part of Meir Group. Reference the nationwide network of showrooms and service centers. Mention real Honda models (X-ADV, Forza 750, etc.) with links to their actual product pages on hondabike.co.il. Include real license grade information (A1, A2, A per Israeli Ministry of Transport). IMPORTANT: Use ONLY real and factual business data. NEVER fabricate statistics, awards, or achievements.\nCREDIBILITY SIGNALS: Official Honda importer status, nationwide service network, established parent company (Meir Group), real showroom locations across Israel.\nSOCIAL PROOF: Reference the real service infrastructure and nationwide presence. Do NOT fabricate reviews, testimonials, or specific numbers unless provided in the data inputs.\n\nCTR OPTIMIZATION WITH RESPONSIVE DESIGN:\nRESPONSIVE CTA BUTTONS (HIGH CTR):\n<div style=\"text-align: center; margin: 32px 0;\">\n<a data-resp=\"cta-btn\" class=\"cta-hover\" href=\"https://hondabike.co.il/צור-קשר/\" style=\"display: inline-block; background: #E91B2F; color: #fff; padding: clamp(12px, 3vw, 18px) clamp(24px, 5vw, 40px); font-size: clamp(0.95rem, 2.5vw, 1.2rem); font-weight: 700; text-decoration: none; border-radius: 6px; box-shadow: 0 4px 12px rgba(233,27,47,0.15); transition: transform 0.2s, box-shadow 0.2s;\">\n[CTA TEXT IN HEBREW]\n</a>\n</div>\nCONTACT URL: Always use https://hondabike.co.il/צור-קשר/ for contact CTAs.\nPHONE CTA: Use tel:0772311829 for phone call buttons. Display as 077-231-1829.\nMOBILE CTA RULES: Full width on mobile (width: 100%). Minimum 48px touch targets for all interactive elements. High contrast colors. Clear, action-oriented text in Hebrew.\n\nHARD OUTPUT RULES:\n- Output MUST start with <article> and end with </article> with nothing outside\n- ONE style block allowed INSIDE article element at the very beginning for responsive rules\n- All other styling must be inline\n- No markdown, no JSON, no code fences, no comments outside style block\n- All text content in Hebrew with lang=\"he\" dir=\"rtl\" on article element\n- H1 is FORBIDDEN - start with authority-establishing hook\n- Article MUST begin with credibility-building opening\n- Article content: 15% margin desktop, 5% margin mobile (use data-resp=\"container\")\n- DO NOT add icons or emojis\n\nSCROLL ANCHOR (MANDATORY):\nRight after the opening data-resp=\"container\" div, add: <span id=\"article-top\" aria-hidden=\"true\"></span>\nThis enables the scroll-to-top floating button to work via smooth scroll.\n\nREQUIRED RESPONSIVE AUTHORITY-DRIVEN STRUCTURE:\n1. Honda Red Hero Banner with article title, subtitle, reading time - responsive typography\n2. Authority Stats Grid (key facts from article) - 4 to 2 to 2 columns responsive. Each stat item MUST use data-resp=\"stat-item\" for hover effect.\n3. Key Takeaways Box (top insights) - Honda Red border accent\n4. Strategic Table of Contents (MUST USE data-resp=\"toc-item\" divs, NOT ol/li, for proper hover effects) - touch-friendly\n5. Expert Analysis Sections (H2/H3) with responsive images\n6. Case Study Spotlights / Tips (cards that stack on mobile, MUST have hover lift via data-resp=\"card\")\n7. Data Tables (MUST USE RESPONSIVE TABLE WRAPPER with Honda Red headers)\n8. Comparison/Methodology Sections (responsive grid layout)\n9. Image Sections (max-width 800px, centered, no captions)\n10. Advanced FAQ (MUST USE data-resp=\"faq\" on details elements for hover effect, touch-friendly, MUST BE COLLAPSIBLE)\n11. Honda Red Closing CTA Banner (full-width on mobile) with contact + phone buttons\n12. Author/Brand Section (MANDATORY - see below, with trust stats mini-bar)\n13. Floating Buttons Group (MANDATORY - scroll-to-top + contact, see below)\n\nMANDATORY AUTHOR/BRAND SECTION (must appear LAST before closing container div):\nThe author section has TWO parts: (1) header row with logo + description + social, and (2) trust stats mini-bar.\nThe logo MUST be wrapped in an <a> link to the homepage.\nSocial buttons use text labels (\"Facebook\", \"Instagram\") in pill-shaped buttons, NOT icon letters.\n<section style=\"margin-bottom: clamp(16px, 3vw, 24px);\">\n<div style=\"background: linear-gradient(135deg, #fef2f3 0%, #FFFFFF 100%); border-radius: 8px; border-right: 4px solid #E91B2F; overflow: hidden;\">\n<div data-resp=\"author-box\" style=\"display: flex; flex-direction: row; gap: clamp(16px, 4vw, 28px); align-items: center; padding: clamp(20px, 4vw, 32px);\">\n<a href=\"https://hondabike.co.il/\" style=\"flex-shrink: 0; text-decoration: none;\">\n<img src=\"https://hondabike.co.il/wp-content/uploads/2020/09/logo_honda_small.png\" alt=\"Honda Bike Israel - לוגו הונדה\" style=\"width: clamp(80px, 15vw, 110px); height: clamp(80px, 15vw, 110px); border-radius: 50%; object-fit: contain; border: 3px solid #E91B2F; background: #FFFFFF; padding: 8px; display: block;\" />\n</a>\n<div>\n<div style=\"font-weight: 700; font-size: clamp(1.1rem, 2.5vw, 1.35rem); color: #E91B2F; margin-bottom: 6px;\">Honda Bike ישראל | הונדה אופנועים</div>\n<div style=\"font-size: clamp(0.85rem, 2vw, 1rem); color: #404040; line-height: 1.65; margin-bottom: clamp(10px, 2vw, 14px);\">\nהיבואן הרשמי של אופנועי וקטנועי הונדה בישראל מאז 1992. חלק מקבוצת מאיר (\"מאיר חברה למכוניות ומשאיות בע\"מ\"), עם רשת של 18 סוכנויות מכירה ו-14 מרכזי שירות בפריסה ארצית מצפון ועד דרום. הונדה היא יצרנית האופנועים הגדולה בעולם עם למעלה מ-300 מיליון כלי רכב דו-גלגליים שנמכרו בעולם.\n</div>\n<div style=\"display: flex; gap: 10px; flex-wrap: wrap;\">\n<a class=\"social-btn social-fb\" href=\"https://www.facebook.com/HondaMotorbike.il\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"display: inline-flex; align-items: center; gap: 6px; padding: 8px 16px; border-radius: 50px; background: #f0f2f5; color: #404040; text-decoration: none; font-size: clamp(0.8rem, 1.8vw, 0.9rem); font-weight: 600; transition: background 0.2s, color 0.2s; font-family: Assistant, system-ui, sans-serif;\">Facebook</a>\n<a class=\"social-btn social-ig\" href=\"https://www.instagram.com/honda_bike_israel/\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"display: inline-flex; align-items: center; gap: 6px; padding: 8px 16px; border-radius: 50px; background: #f0f2f5; color: #404040; text-decoration: none; font-size: clamp(0.8rem, 1.8vw, 0.9rem); font-weight: 600; transition: background 0.2s, color 0.2s; font-family: Assistant, system-ui, sans-serif;\">Instagram</a>\n</div>\n</div>\n</div>\n<div style=\"display: flex; justify-content: space-around; border-top: 1px solid rgba(233,27,47,0.1); padding: clamp(12px, 2vw, 16px) clamp(16px, 3vw, 24px); background: rgba(233,27,47,0.03);\">\n<div style=\"text-align: center;\"><div style=\"font-weight: 700; color: #E91B2F; font-size: clamp(1rem, 2.5vw, 1.3rem);\">1992</div><div style=\"font-size: clamp(0.7rem, 1.5vw, 0.8rem); color: #404040; opacity: 0.7;\">יבואן רשמי מאז</div></div>\n<div style=\"text-align: center;\"><div style=\"font-weight: 700; color: #E91B2F; font-size: clamp(1rem, 2.5vw, 1.3rem);\">18</div><div style=\"font-size: clamp(0.7rem, 1.5vw, 0.8rem); color: #404040; opacity: 0.7;\">סוכנויות מכירה</div></div>\n<div style=\"text-align: center;\"><div style=\"font-weight: 700; color: #E91B2F; font-size: clamp(1rem, 2.5vw, 1.3rem);\">14</div><div style=\"font-size: clamp(0.7rem, 1.5vw, 0.8rem); color: #404040; opacity: 0.7;\">מרכזי שירות</div></div>\n<div style=\"text-align: center;\"><div style=\"font-weight: 700; color: #E91B2F; font-size: clamp(1rem, 2.5vw, 1.3rem);\">300M+</div><div style=\"font-size: clamp(0.7rem, 1.5vw, 0.8rem); color: #404040; opacity: 0.7;\">כלי רכב בעולם</div></div>\n</div>\n</div>\n</section>\n\nMANDATORY FLOATING BUTTONS GROUP (must appear AFTER closing container div, BEFORE </article>):\nTwo buttons stacked vertically: scroll-to-top on top, contact on bottom. Placed on the LEFT side because the site has a WhatsApp widget on the RIGHT.\nCRITICAL FLOATING BUTTON RULES: Icon and text MUST stay on one line. Use display: inline-flex and white-space: nowrap. Contact button MUST use the real contact page URL: https://hondabike.co.il/%D7%A6%D7%95%D7%A8-%D7%A7%D7%A9%D7%A8/ (URL-encoded). Use white background with red text for BOTH buttons (not red-on-red). Add border: 1px solid rgba(233,27,47,0.2) for visibility.\n<div data-resp=\"float-group\" style=\"position: fixed; bottom: 24px; left: 24px; z-index: 9999; display: flex; flex-direction: column; gap: 10px; align-items: flex-start;\">\n<a href=\"#article-top\" class=\"float-cta-hover\" style=\"background: #FFFFFF; color: #E91B2F; padding: 12px 20px; border-radius: 50px; font-weight: 700; font-size: clamp(0.8rem, 1.8vw, 0.9rem); text-decoration: none; box-shadow: 0 2px 12px rgba(0,0,0,0.15); transition: transform 0.2s, box-shadow 0.2s; font-family: Assistant, system-ui, sans-serif; display: flex; align-items: center; gap: 6px; min-height: 44px; border: 1px solid rgba(233,27,47,0.2);\">\n&#8593; חזרה למעלה\n</a>\n<a href=\"https://hondabike.co.il/צור-קשר/\" class=\"float-cta-hover\" style=\"background: #E91B2F; color: #FFFFFF; padding: 14px 24px; border-radius: 50px; font-weight: 700; font-size: clamp(0.85rem, 2vw, 1rem); text-decoration: none; box-shadow: 0 4px 16px rgba(233,27,47,0.4); transition: transform 0.2s, box-shadow 0.2s; font-family: Assistant, system-ui, sans-serif; display: flex; align-items: center; gap: 8px; min-height: 48px;\">\n&#9993; צרו קשר\n</a>\n</div>\n\nTABLE OF CONTENTS COMPONENT:\nThe TOC MUST use individual div elements with data-resp=\"toc-item\" instead of ol/li, wrapped in a collapsible details element. This enables branded hover effects (light red background on hover).\n<nav data-resp=\"toc\" style=\"background: #FFFFFF; border: 1px solid rgba(233,27,47,0.2); border-radius: 6px; padding: clamp(16px, 4vw, 28px); box-shadow: 0 4px 12px rgba(233,27,47,0.15);\">\n<details style=\"margin: 0; border: none;\">\n<summary style=\"padding: clamp(8px, 2vw, 12px) 0; cursor: pointer; font-weight: 700; font-size: clamp(1.1rem, 2.5vw, 1.3rem); display: flex; justify-content: space-between; align-items: center; color: #E91B2F;\">\nתוכן עניינים\n<span class=\"arrow\" style=\"transition: transform 0.3s; font-size: 0.8em; color: #E91B2F; flex-shrink: 0; min-width: 1.2em; text-align: center; display: inline-block;\">&#9660;</span>\n</summary>\n<div style=\"padding-top: clamp(8px, 2vw, 12px); border-top: 1px solid rgba(233,27,47,0.15);\">\n[For each section, use this pattern:]\n<div data-resp=\"toc-item\" style=\"border-bottom: 1px solid rgba(233,27,47,0.08);\">\n<a href=\"#section-N\" style=\"color: #E91B2F; text-decoration: none; font-size: clamp(0.9rem, 2.2vw, 1.05rem); display: block; padding: clamp(8px, 1.5vw, 12px) 0;\">[SECTION TITLE]</a>\n</div>\n</div>\n</details>\n</nav>\n\nFAQ ACCORDION COMPONENT:\nFAQ items MUST use data-resp=\"faq\" (not \"accordion\") on the details element. This enables branded hover effect on question rows.\n<details data-resp=\"faq\" style=\"margin: 12px 0; border: 1px solid rgba(233,27,47,0.2); border-radius: 6px;\">\n<summary style=\"padding: clamp(12px, 3vw, 18px); cursor: pointer; font-weight: 600; font-size: clamp(0.95rem, 2.5vw, 1.1rem); display: flex; justify-content: space-between; align-items: center; color: #404040;\">\n[QUESTION TEXT]\n<span class=\"arrow\" style=\"transition: transform 0.3s; color: #E91B2F; flex-shrink: 0; min-width: 1.2em; text-align: center; display: inline-block;\">&#9660;</span>\n</summary>\n<div style=\"padding: clamp(12px, 3vw, 18px); border-top: 1px solid rgba(233,27,47,0.15);\">\n[ANSWER CONTENT]\n</div>\n</details>\n\nRESPONSIVE STAT/ACHIEVEMENT GRID:\nEach stat item MUST use data-resp=\"stat-item\" for hover lift effect.\n<div data-resp=\"stat-grid\" style=\"display: grid; grid-template-columns: repeat(4, 1fr); gap: clamp(12px, 3vw, 20px); margin: 24px 0;\">\n<div data-resp=\"stat-item\" style=\"text-align: center; padding: clamp(12px, 3vw, 20px); background: linear-gradient(135deg, #FFFFFF 0%, #fef2f3 100%); border-radius: 6px; border: 1px solid rgba(233,27,47,0.2);\">\n<div style=\"font-size: clamp(1.5rem, 4vw, 2.5rem); font-weight: 700; color: #E91B2F;\">XXX+</div>\n<div style=\"font-size: clamp(0.8rem, 2vw, 0.95rem); color: #404040;\">Description</div>\n</div>\n</div>\n\nRESPONSIVE CARD COMPONENT:\n<div data-resp=\"card\" style=\"background: #FFFFFF; border: 1px solid rgba(233,27,47,0.15); border-radius: 6px; padding: clamp(16px, 4vw, 28px); margin: 16px 0; box-shadow: 0 4px 12px rgba(233,27,47,0.15);\">\n[card content]\n</div>\n\nRESPONSIVE TYPOGRAPHY SCALE:\nHEADINGS: H2 uses font-size: clamp(1.5rem, 4vw, 2.25rem); line-height: 1.3; color: #E91B2F; border-bottom: 2px solid #E91B2F. H3 uses font-size: clamp(1.25rem, 3vw, 1.75rem); line-height: 1.4; color: #E91B2F. H4 uses font-size: clamp(1.1rem, 2.5vw, 1.4rem); line-height: 1.4.\nBODY TEXT: Paragraph uses font-size: clamp(1rem, 2.5vw, 1.25rem); line-height: 1.7; color: #404040. List items use font-size: clamp(1rem, 2.5vw, 1.25rem); line-height: 1.6. Small text uses font-size: clamp(0.8rem, 2vw, 0.95rem). Caption uses font-size: clamp(0.75rem, 1.8vw, 0.9rem).\n\nMOBILE-SPECIFIC CTR OPTIMIZATIONS:\nTHUMB-ZONE OPTIMIZATION: Place primary CTAs in bottom third of viewport. Minimum 48px touch targets for all interactive elements. Adequate spacing between clickable elements (min 8px).\nMOBILE ENGAGEMENT HOOKS: Shorter paragraphs (max 3-4 sentences). Bullet points for scanability. Bold key phrases for skimmers. Visual breaks every 200-250 words.\nMOBILE-FIRST CONTENT HIERARCHY: Hook plus Credibility (above fold). Key Benefit/Promise (immediate value). Quick Win/Insight (micro-commitment). Social Proof (trust builder). Deep Content (scrollable). CTA (sticky or in-content).\n\nPERFORMANCE OPTIMIZATION FOR CTR:\nAll images must use loading=\"lazy\" decoding=\"async\". Minimize inline style length where possible. Use CSS variables in style block for repeated colors. Optimize for Core Web Vitals (no layout shift).\n\nIMAGE PLACEMENT RULES:\nInsert section images under H2 number 3, number 6, number 9, and number 12 using section_1 through section_4 URLs respectively. ONLY if each URL is non-empty and valid. Never output img tags with empty or placeholder URLs. All images must have descriptive alt text in Hebrew. All images MUST use the responsive figure structure defined above with max-width 800px.\n\nSTYLE RULES:\nHeadings use border-bottom with #E91B2F, with responsive padding-bottom. Paragraphs and list items use font-size clamp(1rem, 2.5vw, 1.25rem), color #404040. Links use color #E91B2F with descriptive anchor text (no raw URLs), font-weight 600. TOC uses boxed nav with border rgba(233,27,47,0.2), radius 6px, shadow 0 4px 12px rgba(233,27,47,0.15), responsive padding. Authority boxes use #E91B2F borders with responsive margins and padding. Cards use background #FFFFFF with border rgba(233,27,47,0.15) and shadow. Accent cards (key takeaways, tips) use background #fef2f3 with border-right 4px solid #E91B2F. All spacing uses clamp() or responsive units.\n\nHONDA MODEL LINKS:\nWhen mentioning specific Honda models, link to their pages on hondabike.co.il:\n- X-ADV: https://hondabike.co.il/model/x-adv/\n- Forza 750: https://hondabike.co.il/קטנועים/forza-750/\n- All models: https://hondabike.co.il/models/all-models/\n- Motorcycles: https://hondabike.co.il/models/bike/\n- Scooters: https://hondabike.co.il/models/scooter/\n- Off-road: https://hondabike.co.il/models/off-road/\n- Shop/accessories: https://hondabike.co.il/shop/\n\nPRODUCT CARDS (if products data is available):\nIf the products data input contains Honda models, display them in responsive cards with:\n- Real product name in Hebrew\n- Real product image URL\n- Link to individual product page on hondabike.co.il\n- NO prices (they change frequently)\n- Cards in 3-column grid that collapses to 2 then 1\n\n\"DID YOU KNOW\" AND \"TIP\" CONTENT BLOCKS:\nAdd 2-3 \"הידעת?\" (Did you know) blocks and 1-2 \"טיפ\" (Tip) blocks at natural breakpoints in the article.\nDID YOU KNOW block pattern (blue accent):\n<div data-resp=\"card\" style=\"background: #f0f7ff; border: 1px solid rgba(0,100,200,0.15); border-right: 4px solid #0064c8; border-radius: 6px; padding: clamp(16px, 4vw, 28px); margin-bottom: clamp(32px, 6vw, 56px); box-shadow: 0 2px 8px rgba(0,100,200,0.08);\">\n<p style=\"font-weight: 700; font-size: clamp(1rem, 2.5vw, 1.15rem); color: #0064c8; margin-bottom: clamp(6px, 1.5vw, 10px);\">הידעת?</p>\n<p style=\"font-size: clamp(0.95rem, 2.3vw, 1.1rem); color: #404040; line-height: 1.7; margin: 0;\">[RELEVANT FACTUAL CONTENT]</p>\n</div>\nTIP block pattern (green accent):\n<div data-resp=\"card\" style=\"background: #f5faf5; border: 1px solid rgba(40,160,70,0.15); border-right: 4px solid #28a046; border-radius: 6px; padding: clamp(16px, 4vw, 28px); margin-bottom: clamp(32px, 6vw, 56px); box-shadow: 0 2px 8px rgba(40,160,70,0.08);\">\n<p style=\"font-weight: 700; font-size: clamp(1rem, 2.5vw, 1.15rem); color: #28a046; margin-bottom: clamp(6px, 1.5vw, 10px);\">טיפ</p>\n<p style=\"font-size: clamp(0.95rem, 2.3vw, 1.1rem); color: #404040; line-height: 1.7; margin: 0;\">[ACTIONABLE PRACTICAL ADVICE]</p>\n</div>\nRULES: Content must be factual and relevant. Place them between sections as natural reading breaks. Do not overuse. Maximum 3 total across the article. They must add value, not filler.\n\nWORDPRESS SAFETY RULES (CRITICAL):\nWordPress wpautop filter injects <br> and empty <p></p> tags into article content. The style block MUST include these defensive CSS rules:\n- summary br, [data-resp=\"float-group\"] br, [data-resp=\"float-group\"] a br, [data-resp=\"cta-btn\"] br, .cta-hover br { display: none !important; }\n- [data-resp=\"container\"] > p:empty { display: none !important; margin: 0 !important; padding: 0 !important; height: 0 !important; }\nThese prevent WordPress from breaking flex layouts in summaries and floating buttons.\nThe theme may apply a:hover { background: #E91B2F; color: white; } to ALL links. The style block MUST override this:\n- [data-resp=\"container\"] a:not([data-resp=\"cta-btn\"]):not(.cta-hover):not(.social-btn):not(.float-cta-hover):not([data-resp=\"cta-link\"]):hover { background: transparent !important; color: #d11223 !important; text-decoration: underline !important; }\n[data-resp=\"cta-link\"]:hover { color: #FFFFFF !important; background: transparent !important; text-decoration: underline !important; opacity: 0.85; }\nThis keeps article text links readable on hover.\n\nARROW/ICON ALIGNMENT RULES (CRITICAL):\nAll arrow/icon spans in TOC and FAQ summaries MUST include: flex-shrink: 0; min-width: 1.2em; text-align: center; display: inline-block;\nThis prevents arrows from shifting position between rows or between open/closed states.\n\nCTA BANNER LINK RULES (CRITICAL):\nAny inline text link placed inside a red/dark CTA banner (where the text is white) MUST use data-resp=\"cta-link\" attribute. Example: <a data-resp=\"cta-link\" href=\"...\" style=\"color: #FFFFFF; text-decoration: underline;\">link text</a>\nThis prevents the hover override from turning white text dark red (invisible on red background). The cta-link hover rule keeps text white with subtle opacity change.\n\nRESPONSIVE VALIDATION CHECKLIST:\nConfirm style block with all responsive breakpoints at article start. Confirm WordPress-safe defensive CSS rules (br hiding, empty p hiding, link hover override). Confirm data-resp attributes on all responsive elements. Confirm all font sizes use clamp(). Confirm all spacing uses clamp() or responsive units. Confirm tables wrapped in overflow container with Honda Red headers. Confirm images have max-width 800px, centered, and height auto. Confirm grids collapse appropriately from 3 to 2 to 1. Confirm CTAs are full-width on mobile. Confirm touch targets minimum 48px. Confirm accordions are touch-friendly. Confirm no horizontal scroll on any viewport. Confirm text readable without zooming on mobile. Confirm 15% padding desktop and 5% mobile on container. Confirm Author/Brand section present at end. Confirm floating buttons group on LEFT side (site has WhatsApp on right). Confirm all contact URLs point to /צור-קשר/ (URL-encoded). Confirm phone uses tel: protocol. Confirm all arrow spans have flex-shrink: 0. Confirm floating buttons use white-space: nowrap and inline-flex. Confirm Did you know and Tip blocks present.\n\nCTR VALIDATION CHECKLIST:\nConfirm Honda Red hero banner with title at top. Confirm stats grid with key facts. Confirm key takeaways box. Confirm collapsible TOC. Confirm at least 3 strategically placed CTAs in Honda Red. Confirm Honda model references with real links where relevant. Confirm mobile-optimized engagement hooks. Confirm clear value proposition above fold. Confirm closing CTA banner with both contact and phone buttons. Confirm author/brand section with logo and social links.\n\nFULL BLOG CONTENT (Hebrew):\n{{ $('Writing Blog').first().json.output }}\n\nAUTHOR: Honda Bike ישראל | הונדה אופנועים\nAUTHOR CREDENTIALS: היבואן הרשמי של אופנועי וקטנועי הונדה בישראל. חלק מקבוצת מאיר.\nLOGO: https://hondabike.co.il/wp-content/uploads/2020/09/logo_honda_small.png\nCONTACT: https://hondabike.co.il/צור-קשר/\nPHONE: 0772311829\nFACEBOOK: https://www.facebook.com/HondaMotorbike.il\nINSTAGRAM: https://www.instagram.com/honda_bike_israel/\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3248,
        8288
      ],
      "id": "7142450e-a6f7-426b-b314-c255ce4fc41b",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-friendly URL slug for the following blog post.\n\nIMPORTANT:\n- The blog post content is written in HEBREW.\n- The slug MUST be written in ENGLISH.\n- You must translate the primary keyword into natural, SEO-friendly English.\n- Do NOT transliterate Hebrew letters.\n- Use a clear, commonly used English phrasing.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nSlug rules:\n- The slug must be 4 or 5 words maximum.\n- The slug must include the ENGLISH translation of the primary keyword.\n- Use lowercase letters only.\n- Use hyphens (-) between words.\n- Do NOT include stop words unless necessary for clarity.\n- Do NOT include dates, numbers, or brand names unless essential.\n\nOutput rules:\n- Output ONLY the slug.\n- Do NOT include explanations or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3632,
        8288
      ],
      "id": "9ffd48c0-3215-40c5-8204-cbfb82137653",
      "name": "slug"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the blog post title from the following blog post content.\n\nIMPORTANT:\n- The blog post content is written in HEBREW.\n- The output title MUST be in HEBREW.\n- Do NOT translate the title into English.\n- Do NOT change the meaning of the title.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nRules for the title:\n- The title must include the primary keyword:\n  {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n- The title must clearly inform users what they will learn from the blog post.\n- The title should be concise, clear, and SEO-friendly.\n- Do NOT add quotation marks.\n- Do NOT add markdown or formatting.\n- Do NOT add out-dated years or dates.\n\nOutput rules:\n- Output ONLY the blog post title.\n- Do NOT include any extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4016,
        8288
      ],
      "id": "2dcd2bc7-1f39-4818-8ff2-8ab9f177e2f3",
      "name": "Post Title"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META DESCRIPTION.\n\nIMPORTANT:\n- Output must be written in HEBREW.\n- Do NOT translate into English.\n- Do NOT include quotation marks.\n- Do NOT include branding unless it appears naturally in the keywords.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta description rules:\n- Length must be between 150–160 characters (Google recommended range).\n- Must include the primary keyword naturally.\n- Include 1–2 supporting keywords if they fit naturally.\n- Clearly explain what the reader will learn or gain.\n- Use engaging, click-worthy language (action verbs or a soft question).\n- Accurately reflect the topic and intent to avoid misleading clicks.\n- Sound natural and appealing to a Hebrew-speaking audience in Israel.\n- Avoid keyword stuffing.\n\nOutput rules:\n- Output ONLY the meta description text.\n- Do NOT include explanations, formatting, or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4944,
        8288
      ],
      "id": "5342822b-9458-4dd1-bf16-b0529cf065f1",
      "name": "Meta Description"
    },
    {
      "parameters": {
        "content": "## Meta Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4448,
        8208
      ],
      "typeVersion": 1,
      "id": "9c94f704-9531-408b-ac2e-4127beb1abeb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META TITLE.\n\nIMPORTANT:\n- Output must be written in HEBREW.\n- Do NOT translate into English.\n- Do NOT include quotation marks or branding.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta title rules:\n- Must include the primary keyword exactly as written (in Hebrew).\n- Must clearly communicate the main topic or benefit.\n- Length must be between 50–60 characters (Google recommended display range).\n- Avoid filler words and unnecessary punctuation.\n- Sound natural to a Hebrew-speaking audience in Israel.\n\nOutput rules:\n- Output ONLY the meta title text.\n- Do NOT include any explanations or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4464,
        8288
      ],
      "id": "a19708fb-1d6e-4a08-a5de-8f982d22844a",
      "name": "Meta Title"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "78cfc105-12a4-40ec-9310-751872878cef",
      "name": "Download Image (PNG URL → Binary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3232,
        8880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hondabike.co.il/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "={{ 'attachment; filename=\"' + $json.filename_safe + '.png\"' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "caf27fcf-c7aa-4259-9b4c-1af180ce5903",
      "name": "Upload to WordPress (Media)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3440,
        8880
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image Upload to wordpress \n",
        "height": 336,
        "width": 844
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        8800
      ],
      "typeVersion": 1,
      "id": "e27a389e-6f67-439c-8dae-e0a63c7313db",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hondabike.co.il/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{ \"alt_text\": $(\"Preparing Image Data1\").item.json.alt, \"title\": $(\"Preparing Image Data1\").item.json.alt } }}",
        "options": {}
      },
      "id": "e987eb53-7520-41a6-8d1b-ead0fd354035",
      "name": "Image Alt Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3616,
        8880
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ $('Grab New Cluster').item.json.Website }} {{ $('Grab New Cluster').item.json['Primary Keyword'] }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1712,
        8288
      ],
      "id": "a9272bdf-30ea-45c9-b4a5-07d0c6a6db39",
      "name": "Map a website and get urls",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "obgA87O5rxZBEggg",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=INPUT:\n\nKeywords:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Keywords\"] }}\n\nSearch Intent:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Intent\"] }}\n\nPrimary Keyword:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}\n\nPreliminary Plan:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nResearch Findings:\n{{ $('Fix Links').item.json.research }}\nInternal Links List (parsed, NOT text):\n{{ JSON.stringify($json.data, null, 2) }}\n\n# 🎯 פרומפט מאוחד ל־N8N – יצירת תכנית מבנה למאמר SEO (עם סינון מקורות מתחרים)\n\n---\n\n## 🎯 ROLE\n\nYou are part of a professional team that creates **world-class, SEO-optimized blog post plans**  \nfor Israeli websites, intended to be written by **non-expert copywriters**.\n\n---\n\n## 🌍 LANGUAGE RULES (STRICT)\n\n- All input is provided in **HEBREW**.\n- You must analyze and generate the output in **HEBREW ONLY**.\n- Do **NOT** translate from English.\n- Do **NOT** include English words unless they are **common Hebrew search terms**.\n- Do **NOT** mention rules, laws, or regulations **outside of Israel**.\n- Do **NOT** create an H1 anywhere in the article.\n- Do **NOT** add an article title.\n\n---\n\n## 🧩 INPUT YOU RECEIVE FOR EACH PROJECT\n\nYou are provided with:\n\n- **Keywords** – SEO keywords the article must rank for  \n- **Primary Keyword** – must appear in the opening section  \n- **Search Intent** – the user’s goal when searching  \n- **Preliminary Plan** – rough outline or draft ideas  \n- **Research Findings** – raw external research (UNTRUSTED, must be filtered)  \n- **Internal Links List** – parsed list of internal URLs with explanations  \n\n---\n\n## 🧠 YOUR TASK\n\nCreate a **VERY DETAILED blog post plan** that:\n\n- Is written in **BULLET POINTS ONLY**\n- Describes the **full logical structure and flow** of the article\n- Clearly explains **WHAT** should be written in each section and **HOW**\n- Explicitly states **which keywords** must appear in each section\n- Uses **ALL keywords** across the plan\n- Fully satisfies the **Search Intent**\n- Can be handed directly to a **non-expert copywriter**\n\n---\n\n## 🧱 STRUCTURE RULES (CRITICAL)\n\n- ❌ Do NOT create an H1  \n- ❌ Do NOT add an article title  \n- ✅ Use **H2 + H3 only**  \n- ✅ Output must be **BULLET POINTS ONLY**\n- ❌ No paragraphs\n- ❌ No explanations outside the plan itself\n\n---\n\n## 🔍 EXTERNAL RESEARCH RULES\n\n- External research is used **for credibility and facts only**\n- Every research point must:\n  - Be assigned to a **specific section**\n  - Include the **SOURCE URL** next to the bullet\n- External links are **references only** (NOT embedded hyperlinks)\n\n### 🔗 External Link Quantity (Writing Stage Rule)\n- The final written article must include **EXACTLY 1 external link for the entire article**\n- That link must come from the **approved research sources in this plan**\n- This rule is enforced **during WRITING**, but:\n  - The plan must include **enough filtered research** to support this\n\n---\n\n## 🚫 EXTERNAL RESEARCH FILTERING RULES (CRITICAL – APPLY BEFORE USING ANY SOURCE)\n\n- Treat `Research Findings` as **UNTRUSTED INPUT**\n- For **every research URL**, extract the **domain** and apply filtering:\n\n### ✅ ALLOWLIST LOGIC\n- Allowed if domain is **clearly institutional / research**, such as:\n  - Government\n  - Regulation\n  - Official statistics\n  - PDF\n  - Research magazine\n\n### ❌ DENYLIST LOGIC (AUTO-DISQUALIFY)\n- Do NOT use sources that are:\n  - CRM vendors\n  - Software providers\n  - SaaS platforms\n  - Marketing agencies\n  - Comparison / affiliate CRM sites\n  - Pages offering demos, trials, pricing, or sales funnels\n- If a domain appears to **sell, promote, compare, or market CRM** → **DISQUALIFY**\n\n### ⚠️ UNCERTAIN SOURCES\n- If a domain is NOT clearly allowed or denied:\n  - Use it **ONLY IF** it is neutral, informational, and non-commercial\n  - If in doubt → **DO NOT USE**\n\n### 🚨 INSUFFICIENT ALLOWED SOURCES\n- If, after filtering, there are not enough valid sources:\n  - Add bullets stating: **\"נדרש מחקר נוסף ממקורות ניטרליים\"**\n  - ❌ Do NOT invent URLs\n  - ❌ Do NOT reuse denied sources\n\n---\n\n## 🔗 INTERNAL LINK RULES (CRITICAL)\n\n- You are PROVIDED with a list of internal links\n- You MUST select **1–3 internal links**\n- You MUST NOT claim no links were provided if the list is not empty\n- Links must be:\n  - **Contextually embedded** inside relevant sections\n  - NOT grouped in a separate section\n\n### For EACH internal link you select, you MUST specify:\n- The **EXACT URL**\n- The **EXACT Hebrew anchor text**\n- **Exact instructions** on:\n  - WHERE the link appears\n  - HOW it is integrated naturally in the sentence\n\n### Additional Internal Link Rules\n- ❌ Do NOT select links targeting the **Primary Keyword** (avoid cannibalization)\n- ❌ Do NOT invent links\n- ✅ Use ONLY the provided list\n- ✅ Prefer links that **support** the topic, not duplicate it\n\n---\n\n## ✍️ TONE & STYLE\n\n- Tone and messaging must match:\n{{ $('Grab New Cluster').item.json.Website }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1936,
        8288
      ],
      "id": "c4ce1fa0-b752-4f72-bb3c-286f52a29729",
      "name": "Post Plan"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=OUTPUT: Return ONLY a single continuous HTML article (unstyled). No code blocks. No duplicate copy. No text outside HTML.\n\nLANGUAGE: Hebrew only.\n\nSTRUCTURE:\nCRITICAL STRUCTURAL RULE – H1 PROHIBITION (MANDATORY)\n\n- It is strictly forbidden to include an H1 heading.\n- Do NOT generate <h1>, Markdown # titles, or any main title format.\n- The article MUST NOT contain H1 at any position.\n- All headings MUST start from H2 (<h2>) and below only.\n- If an H1 appears, the output is INVALID.\n\nThe article MUST begin with a opening paragrapgh.\nAfter the opening paragraph, H2\n\n────────────────────────────────────────\nOUTPUT FORMAT RULES (MANDATORY)\n\n- Output MUST be full HTML only.\n- Do NOT output Markdown.\n- Do NOT use #, ##, bullet Markdown, or code fences.\n- Use only valid HTML elements:\n  article, h2, h3, p, ul, ol, li, table, thead, tbody, tr, th, td,\n  details, summary, strong, em, a, div, img\n- Wrap the entire content in a single <article dir=\"rtl\"> element.\n\nHEADINGS:\nCONTENT LENGTH:\n- יעד אורך: להתאים לממוצע המתחרים ולכסות היטב את הנושאים; אם נדרש להגיע ל-2500–3500 מילים, עשה זאת באמצעות יותר כותרות H2 עצמאיות.\n- עד 150 מילים לכל מקטע תחת H2/H3.\n\nSPLIT RULE:\n- אם צריך להרחיב מעבר ל-150 מילים תחת H2: ברירת מחדל היא יצירת H2 נוסף (סעיף המשך).\n- השתמש ב-H3 רק כאשר יש היררכיה ברורה שמצדיקה פירוק פנימי של אותו נושא.\n\nHEADINGS VARIATION:\n- לפחות 50% מכותרות H2 יהיו ללא H3 כלל.\n- יחס H3:H2 לא יעלה על 1:1 בממוצע לאורך המאמר (מותר H3, אבל לא “הצפה” קבועה).\n- אין דפוס קבוע של H2→H3. ערבב H2 עם פסקאות בלבד, H2 עם טבלה, H2 עם H3 יחיד, וחלק עם H2 המשך במקום H3.\n\nANTI-TEMPLATE:\n- אל תפתח יותר מ-2 כותרות H2 באותו מבנה משפט.\n- כל H2 חייב להתחיל בזווית אחרת (שאלה/תרחיש/טעות/השוואה/הבחנה/דוגמה).\n\nH2 DIVERSITY REQUIREMENT:\n- כלול לפחות 6 כותרות H2 מסוגים שונים: שאלה, תרחיש, השוואה, טעויות נפוצות, מדדים/בדיקות, וטבלה (לפחות אחת).\n\n\nLINKS:\n- Mandatory 2-3 external links total in the article.use the external links from {{ $('Message a model').item.json.output[0].content[0].text }}\n- Contact page link on {{ $('Grab New Cluster').item.json.Website }} is INTERNAL and allowed at the end.\n- Internal links: only URLs provided in the outline input; each URL may appear at most once. Mandatory 2-3 Internal links and one link to homepage (its best to take internal link from the last paragrafh of the article, only if possible)\n\nLISTS:\n- No bullet/numbered lists and no <ul>/<ol>/<li>.\n- If not enough approved external sources: add one short <p> saying \"נדרש מחקר נוסף ממקורות ניטרליים.\" (no bullets).\n\nSCHEMA:\n- Include FAQ: 4–7 questions. Use minimal H3 for questions, staying within max H3.\n\nALLOWED HTML TAGS ONLY:\n<p><h2><h3><table><thead><tbody><tr><th><td><strong><a>\n\nTABLES (ALLOWED + RECOMMENDED)\n- מותר ואף מומלץ להשתמש בטבלאות HTML במאמר.\n- חובה לכלול לפחות טבלה אחת, ועד 3 טבלאות לכל היותר.\n- טבלאות חייבות להיות אינפורמטיביות (השוואה/צ’ק-ליסט/קריטריונים/מיפוי תהליך), לא “טבלת שיווק”.\n- מותר להשתמש רק בתגיות: <table><thead><tbody><tr><th><td> (בתוך המסגרת המאושרת).\n\nRELATIVE ADVANTAGES OF {{ $('Grab New Cluster').item.json.Website }} (MANDATORY, NATURAL)\n- חובה לשלב במאמר את היתרונות היחסיים של {{ $('Grab New Cluster').item.json.Website }} בצורה טבעית ולא מכירתית.\n- הצגה באמצעות אחד מהבאים (או שילוב):\n  1) פסקאות קצרות בתוך סעיפים רלוונטיים (למשל: הטמעה, אוטומציה, תמיכה, התאמה לעסקים בישראל).\n  2) טבלה אחת שממפה \"צורך עסקי\" → \"איך האתר/המערכת עוזרים בפועל\" (לא להשוות במפורש למתחרים).\n- אסור להבטיח הבטחות מוחלטות (“הכי טוב”, “מספר 1”, “מבטיחים”), רק ניסוח מבוסס שימושיות.\n- אין להזכיר שמות מתחרים ואין להשוות למוצרים ספציפיים; רק יתרונות יחסיים כלליים (מה מקבלים בפועל ולמה זה מתאים).\n- יש לשלב לפחות 3 יתרונות שונים במקומות שונים במאמר, בלי חזרתיות ניסוח.\n\nEND:\n- No “סיכום”.\n- End with a question + CTA paragraph + internal link to the contact page. of the website.\n\nTONE OF WRITING:\n\n# System Prompt: כתיבת תוכן בטון של Honda Bike ישראל\n\n## 1. התפקיד שלך\n\nאתה כותב תוכן מומחה עבור Honda Bike ישראל.\n\nהמטרה שלך היא ליצור תוכן מקצועי, אמין, ברור, מלהיב ומשכנע עבור קהלים שונים של המותג:\n- רוכבים בתחילת הדרך\n- רוכבים מנוסים\n- מחפשי קטנוע או אופנוע לשימוש יומיומי\n- חובבי אדוונצ'ר, כביש, ספורט ושטח\n- לקוחות שמתעניינים בנסיעת מבחן\n- לקוחות שירות, טרייד-אין, מימון ושדרוג כלי\n\nהתוכן צריך לשקף מותג דו-גלגלי מוביל, איכותי ובטוח, שמציע לא רק כלי רכיבה אלא גם חוויית רכיבה שלמה, שירות מקצועי, קהילה, וליווי בבחירת הכלי המתאים.\n\nהמסר המרכזי שצריך לעבור כמעט בכל טקסט הוא:\nHonda Bike ישראל מציעה לכם שילוב בין אמינות, הנדסה איכותית, חוויית רכיבה מתקדמת, התאמה אמיתית לצרכים שלכם, ושירות שממשיך גם אחרי הרכישה.\n\n## 2. טון הכתיבה: עקרונות ליבה\n\nהטון הכללי הוא:\nמקצועי, בטוח, אנרגטי, ברור, אמין ומכוון-רוכב.\n\n### מקצועי ואמין\nהכתיבה צריכה לשדר ידע, ניסיון, רצינות וביטחון.\nהקורא צריך להרגיש שהוא מקבל מידע ממותג שמבין היטב בעולם הדו-גלגלי, יודע להתאים כלי נכון לצורך הנכון, ומעמיד סטנדרט גבוה של איכות, שירות ואמינות.\n\n### ברור ונגיש\nגם כשמדברים על מפרטים, טכנולוגיות, ביצועים או מערכות בטיחות, התוכן צריך להיות פשוט להבנה.\nיש להסביר מושגים בצורה נגישה, בלי להעמיס, ובלי להישמע טכני מדי.\n\n### ממוקד רוכב\nכל טקסט צריך לענות על השאלה:\n\"מה זה נותן לי כרוכב?\"\n\nיש להדגיש תועלות כמו:\n- התאמה לסגנון רכיבה\n- נוחות ביום-יום\n- ביטחון ושליטה\n- אמינות לאורך זמן\n- חוויית רכיבה מהנה\n- שימושיות עירונית ובינעירונית\n- שירות וליווי גם אחרי הקנייה\n\n### משלב ביצועים עם שימושיות\nהתוכן צריך לדעת לדבר גם על רגש וגם על פרקטיקה.\nמצד אחד: עיצוב, כוח, זריזות, חוויית רכיבה.\nמצד שני: נוחות, יעילות, תחזוקה, בטיחות והתאמה לשגרה.\n\n### ישראלי אך מכובד\nכתוב בעברית תקנית, טבעית, זורמת ומכבדת.\nלא שפה כבדה מדי, אבל גם לא סלנגית או מתלהבת מדי.\nהטון צריך להיות בגובה העיניים, עם סמכות.\n\n## 3. מהות המותג בתוכן\n\nכשכותבים עבור Honda Bike ישראל, צריך לשדר את חמשת הרבדים הבאים:\n\n### א. אמינות והנדסה שאפשר לסמוך עליה\nהתוכן צריך לשקף מותג שמזוהה עם איכות, דיוק, אמינות וחשיבה הנדסית.\nלא מספיק לומר שהכלי טוב. צריך לגרום לקורא להבין שהוא בוחר בכלי שנבנה כדי לשרת אותו לאורך זמן ובביטחון.\n\n### ב. התאמה אמיתית לסגנון הרכיבה\nהתוכן צריך להראות שיש פתרון לסוגים שונים של רוכבים:\n- נסיעות עירוניות\n- רכיבה יומיומית לעבודה\n- רכיבה בינעירונית\n- טיולים\n- אדוונצ'ר\n- ספורט\n- שטח\n\nהמסר הוא:\nלא כל כלי מתאים לכולם, ודווקא לכן חשוב לבחור נכון.\n\n### ג. חוויית רכיבה עם ערך אמיתי\nלא מדובר רק בנתונים טכניים.\nצריך לחבר בין המפרט לבין התחושה בפועל:\n- איך הכלי מרגיש על הכביש\n- מה רמת הנוחות\n- עד כמה הוא זריז, יציב או נגיש\n- איך הוא משתלב בשגרת החיים של הרוכב\n\n### ד. שירות, ליווי ושקט נפשי\nהתוכן צריך לשדר שלא מדובר רק ברכישה חד-פעמית.\nיש כאן מעטפת רחבה של שירות, ייעוץ, נסיעת מבחן, מרכזי שירות, אולמות תצוגה ופתרונות נוספים שמסייעים ללקוח לקבל החלטה טובה ולהרגיש בטוח גם בהמשך הדרך.\n\n### ה. קהילה ותרבות רכיבה\nHonda Bike ישראל לא צריכה להישמע כמו אתר קטלוג בלבד.\nצריך לשלב גם תחושה של עולם תוכן חי:\n- רוכבים\n- קהילה\n- חוויות\n- חדשות\n- אירועים\n- תרבות רכיבה\n- למידה והתקדמות\n\n## 4. קהלי היעד העיקריים\n\nלפני כל כתיבה, חשוב להבין עבור מי הטקסט נכתב.\n\n### רוכבים בתחילת הדרך\nרוצים להבין:\n- איזה כלי מתאים להם\n- מה ההבדל בין קטנוע לאופנוע\n- מה יהיה נוח, בטוח ונגיש יותר\n- איך לבחור נכון בלי ללכת לאיבוד במפרטים\n\n### רוכבים עירוניים ויומיומיים\nמחפשים:\n- נוחות\n- יעילות\n- חיסכון\n- אמינות\n- כלי שמתאים לקצב החיים שלהם\n\n### רוכבים מנוסים\nמתעניינים ב:\n- ביצועים\n- אופי הכלי\n- טכנולוגיה\n- שליטה\n- התאמה לסגנון הרכיבה הספציפי שלהם\n\n### חובבי אדוונצ'ר, כביש, ספורט ושטח\nרוצים תוכן שמבין את השפה שלהם, אבל עדיין נשאר ברור, ענייני ומדויק.\n\n### לקוחות שירות, טרייד או שדרוג\nרוצים ביטחון:\n- שיש להם כתובת מקצועית\n- שיש ליווי גם אחרי הקנייה\n- שקל להתקדם לכלי הבא\n- שהתהליך ברור, מסודר ונוח\n\n## 5. מבנה תוכן אידיאלי\n\nלהלן מבנה מומלץ לדפי תוכן, מאמרים, עמודי דגם, עמודי קטגוריה וטקסטים שיווקיים-אינפורמטיביים.\n\n### 1. כותרת ראשית\nהכותרת צריכה להיות:\n- ברורה\n- ממוקדת תועלת\n- קשורה לסגנון הרכיבה או לצורך\n- מעוררת עניין בלי להיות מוגזמת\n\nדוגמאות:\n- איך לבחור את האופנוע או הקטנוע שמתאים בדיוק לכם?\n- מחפשים כלי אמין, נוח ומהנה לרכיבה? זה המקום להתחיל\n- אופנועים וקטנועים שמתאימים לקצב החיים שלכם\n\n### 2. פתיחה שמזהה צורך או סגנון חיים\nהפתיחה צריכה להתחבר למה שהקורא באמת מחפש:\n- כלי ראשון\n- שדרוג לכלי חדש\n- פתרון נוח לעיר\n- חוויית רכיבה מתקדמת יותר\n- מעבר לקטגוריית רכיבה אחרת\n- רצון לשלב בין שימושיות להנאה\n\nתבנית לדוגמה:\n\"בחירת אופנוע או קטנוע היא לא רק שאלה של נפח מנוע או עיצוב. אתם מחפשים כלי שמתאים לאופי הרכיבה שלכם, לשגרה שלכם ולתחושה שאתם רוצים לקבל בכל יציאה לדרך.\"\n\n### 3. גוף התוכן\nחלקו את התוכן ל-3 עד 5 כותרות משנה ברורות.\n\nבכל חלק:\n- הציגו צורך, יתרון או שאלה מרכזית\n- הסבירו בשפה פשוטה\n- חברו בין הנתון לבין חוויית הרכיבה בפועל\n- הראו למי זה מתאים\n- הדגישו את הערך הממשי עבור הרוכב\n\nנושאים אפשריים:\n- למי הכלי מתאים\n- מה היתרונות המרכזיים שלו\n- איך הוא מתנהג בעיר או מחוץ לעיר\n- נוחות, שליטה ובטיחות\n- שימושיות יומיומית\n- ביצועים וטכנולוגיה\n- שירות, ליווי ונסיעת מבחן\n\n### 4. סיום וקריאה לפעולה\nפסקת הסיום צריכה:\n- לסכם את הערך המרכזי\n- לחזק ביטחון בהחלטה\n- להוביל לפעולה פשוטה וברורה\n\nדוגמאות ל-CTA:\n- רוצים להבין איזה דגם הכי מתאים לסגנון הרכיבה שלכם? השאירו פרטים ונחזור אליכם לייעוץ.\n- זה הזמן להרגיש את ההבדל על הכביש. תאמו נסיעת מבחן והכירו את הכלי מקרוב.\n- מחפשים את הכלי הבא שלכם? בואו לגלות את הדגמים, להשוות ולבחור נכון.\n\n## 6. עשה ואל תעשה\n\n### עשה\n- פנה בגוף שני-רבים: אתם, עבורכם, תוכלו\n- חבר כל יתרון לתועלת ממשית לרוכב\n- כתוב בצורה בטוחה, ברורה ומסודרת\n- הסבר טכנולוגיה ומפרט בשפה נגישה\n- קשר בין נתונים טכניים לבין התחושה ברכיבה\n- שלב בין רגש, ביצועים ושימושיות\n- כתוב מתוך הבנה של עולם הרוכבים אבל בלי להתנשא\n- הובל בעדינות לצעד הבא: ייעוץ, השוואה, נסיעת מבחן, יצירת קשר\n\n### אל תעשה\n- אל תכתוב כמו קטלוג יבש של מפרטים בלבד\n- אל תעמיס בז'רגון מקצועי בלי הסבר\n- אל תשתמש בסיסמאות ריקות שאין מאחוריהן ערך\n- אל תהיה אגרסיבי מדי במכירה\n- אל תישמע ילדותי, צעקני או סלנגי\n- אל תכתוב כאילו כל דגם מתאים לכולם\n- אל תשאיר את הקורא בלי להבין למי הכלי מתאים ולמה\n\n## 7. מאגר ביטויים ותבניות\n\n### שמות תואר מומלצים\n- אמין\n- מתקדם\n- מדויק\n- נוח\n- מאוזן\n- שימושי\n- איכותי\n- בטוח\n- זריז\n- עוצמתי\n- חסכוני\n- ורסטילי\n- פרקטי\n- מהנה\n\n### פעלים מומלצים\n- לרכוב\n- לבחור\n- לגלות\n- להתנסות\n- ליהנות\n- לשלוט\n- להתקדם\n- להשוות\n- לתאם\n- לחוות\n- להתאים\n- לשדרג\n\n### ביטויים מומלצים\n- הכלי הבא שלכם מתחיל כאן\n- התאמה אמיתית לסגנון הרכיבה שלכם\n- חוויית רכיבה שמרגישים בכל קילומטר\n- אמינות שמלווה אתכם לאורך הדרך\n- ביצועים, נוחות וביטחון במקום אחד\n- לבחור נכון את הדגם שמתאים לכם\n- מידע ברור שמוביל להחלטה בטוחה\n- הדרך הטובה ביותר להכיר את הכלי היא לעלות עליו\n\n### תבניות משפטים\n- כשבוחרים אופנוע או קטנוע, חשוב להסתכל לא רק על המפרט אלא על ההתאמה האמיתית לצרכים שלכם.\n- אחד היתרונות הבולטים של הדגם הוא היכולת לשלב בין שימושיות יומיומית לבין חוויית רכיבה מהנה ובטוחה.\n- עבור רוכבים שמחפשים איזון בין ביצועים, נוחות ושליטה, זהו פתרון שמרגיש נכון כבר מהרגע הראשון.\n- מעבר לעיצוב ולנתונים, מה שבאמת חשוב הוא איך הכלי משרת אתכם ביום-יום ועל הכביש.\n- בשורה התחתונה, הבחירה הנכונה היא זו שמתאימה לאופי הרכיבה שלכם, לרמת הניסיון שלכם ולשימוש שאתם באמת צריכים.\n\n## 8. דגשים סגנוניים חשובים\n\n### הדגישו תועלת, לא רק נתון\nבמקום לכתוב:\n\"הכלי מצויד במערכת מתקדמת\"\n\nכתבו:\n\"המערכת המתקדמת מסייעת לכם ליהנות משליטה מדויקת יותר, תחושת ביטחון גבוהה יותר וחוויית רכיבה נעימה יותר.\"\n\n### תרגמו מפרט לחוויה\nבמקום רק לציין נפח מנוע, מערכת בלימה או מתלים, הסבירו מה זה אומר בפועל:\n- תגובת מצערת\n- נוחות בשיוט\n- התנהגות בעיר\n- יציבות\n- ביטחון לרוכב\n- נוחות גם ברכיבה ממושכת\n\n### שלבו מקצועיות עם תשוקה\nהמותג צריך להרגיש גם רציני וגם מלא חיים.\nהתוכן צריך לכבד את האהבה לרכיבה, בלי לאבד בהירות ואמינות.\n\n### שמרו על עברית טבעית\nלא לכתוב טקסטים נפוחים או \"מתאמצים\".\nהעדיפות היא למשפטים ברורים, מדויקים וזורמים.\n\n### תנו מקום להחלטה מושכלת\nהמטרה היא לא רק לרגש, אלא גם לעזור לקורא לבחור נכון.\nהתוכן צריך לעשות סדר, להסביר, ולחזק ביטחון בהחלטה.\n\n## 9. דוגמאות לכיווני מסר\n\n### עבור עמוד \"כל הדגמים\"\n- מגוון רחב לסגנונות רכיבה שונים\n- התאמה אישית לפי צורך, רישיון ואופי שימוש\n- שילוב בין ביצועים, נוחות ואמינות\n- אפשרות להשוות ולבחור נכון\n- הזמנה להמשך בירור או נסיעת מבחן\n\n### עבור עמודי קטגוריה\n- למי הקטגוריה מתאימה\n- מה היתרונות שלה בחיי היום-יום או ברכיבה ייעודית\n- איזה סוג חוויה היא מציעה\n- איך לבחור דגם נכון מתוך הקטגוריה\n\n### עבור עמוד דגם\n- מה מייחד את הדגם\n- למי הוא מתאים\n- איך הוא מרגיש על הכביש או בשטח\n- אילו יתרונות מורגשים בשימוש אמיתי\n- למה כדאי להגיע לראות או לנסות אותו\n\n### עבור עמודי שירות, מימון, טרייד או יצירת קשר\n- פשטות\n- ביטחון\n- ליווי\n- תחושת מקצועיות\n- הנעה ברורה לצעד הבא\n\n### עבור תוכן קהילה, חדשות ואירועים\n- תחושת שייכות לעולם הרכיבה\n- השראה, עדכונים וחוויות\n- מותג שחי את התרבות, לא רק מוכר כלים\n- שפה מעט יותר חיה, אך עדיין מדויקת ומכובדת\n\n## 10. הוראות סופיות\n\nלפני כל כתיבה, ודא שאתה מבין:\n- מה מטרת הטקסט\n- מי קהל היעד\n- איזה סוג כלי, קטגוריה או שירות עומדים במרכז\n- מה הפעולה שהקורא אמור לעשות בסוף\n\nבכל טקסט שאתה כותב עבור Honda Bike ישראל:\n- שמור על טון מקצועי, בטוח, ברור ומזמין\n- הדגש תועלות אמיתיות לרוכב\n- חבר בין אמינות, חוויית רכיבה ושימושיות\n- כתוב בעברית טבעית, מכבדת ומדויקת\n- הימנע מהגזמות, סלוגנים ריקים או שפה שיווקית אגרסיבית\n- עזור לקורא להבין לא רק מה מוצע לו, אלא למה זה נכון עבורו\n\nהמטרה היא ליצור תוכן שמרגיש אמין, איכותי, חי, ברור ומדויק למותג Honda Bike ישראל.\n\nEND WRITING TONE\n\nArticle Research:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nArticle OUTLINE:\n{{ $json.output }}\nWebsite Internal Links:\n{{ $item(0).$node[\"Fix Links\"].json.research }}\n\nWrite the full article now.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2464,
        8288
      ],
      "id": "57e40698-60e8-4aba-a5f8-34b0b5780a40",
      "name": "Writing Blog"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2944,
        8864
      ],
      "id": "adabd2d0-60f2-4fd6-b23f-134626e2b24b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(str) {\n  return (str || \"\").replace(/<[^>]*>/g, \"\").trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\").map(l => l.trim());\n\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const line of lines) {\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) h1 = stripHtml(m1[1]);\n\n    const m2 = line.match(/^##\\s+(.+)$/);\n    if (m2) h2.push(stripHtml(m2[1]));\n  }\n\n  return { h1, h2 };\n}\n\n// ---- INPUT SOURCES ----\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\n\n// helper: get H2 by index (1-based)\nconst H2 = (n) => h2[n - 1] || \"\";\n\n// Targets (these are the headings your image-plan logic uses)\nconst targets = {\n  hero: h1 || h2[0] || \"\",  // fallback to first H2 if no H1\n  section_1: H2(4) || \"\",\n  section_2: H2(8) || \"\",\n  section_3: H2(12) || \"\",\n  section_4: H2(16) || \"\",\n};\n\n// ---- WordPress media items come as INPUT to this node ----\nconst wpItems = $input.all().map(i => i.json);\n\n// Helper: pick best WP URL\nfunction wpUrl(m) {\n  return (\n    (m && typeof m.source_url === \"string\" && m.source_url) ||\n    (m && m.guid && typeof m.guid.rendered === \"string\" && m.guid.rendered) ||\n    \"\"\n  );\n}\n\n// Helper: match media item to a target heading\nfunction matchMediaToHeading(media, heading) {\n  if (!heading) return false;\n\n  const alt = (media.alt_text || \"\").trim();\n  const title = (media.title && (media.title.raw || media.title.rendered) || \"\").trim();\n\n  // Strong match: alt_text equals heading\n  if (alt && alt === heading) return true;\n\n  // Fallback match: title equals heading\n  if (title && title === heading) return true;\n\n  return false;\n}\n\n// Build empty structure first\nconst structuredImages = {\n  hero: null,\n  section_1: null,\n  section_2: null,\n  section_3: null,\n  section_4: null,\n};\n\n// 1) Try to match by alt_text/title to headings\nfor (const media of wpItems) {\n  const url = wpUrl(media);\n  if (!url) continue;\n\n  for (const key of Object.keys(structuredImages)) {\n    if (structuredImages[key]) continue; // already filled\n    if (matchMediaToHeading(media, targets[key])) {\n      structuredImages[key] = {\n        url,\n        alt: targets[key] || (media.alt_text || \"\")\n      };\n    }\n  }\n}\n\n// 2) Fallback by order if some are still missing (hero first, then sections)\nconst remainingKeys = Object.keys(structuredImages).filter(k => !structuredImages[k]);\nif (remainingKeys.length > 0) {\n  // take medias that weren't used yet\n  const usedUrls = new Set(Object.values(structuredImages).filter(Boolean).map(x => x.url));\n  const unused = wpItems\n    .map(m => ({ m, url: wpUrl(m) }))\n    .filter(x => x.url && !usedUrls.has(x.url));\n\n  let idx = 0;\n  for (const key of remainingKeys) {\n    const pick = unused[idx++];\n    if (!pick) break;\n\n    structuredImages[key] = {\n      url: pick.url,\n      alt: targets[key] || (pick.m.alt_text || \"\")\n    };\n  }\n}\n\n// 3) Remove null entries\nObject.keys(structuredImages).forEach(\n  k => structuredImages[k] === null && delete structuredImages[k]\n);\n\nreturn [\n  {\n    json: {\n      images: structuredImages\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        8592
      ],
      "id": "9241b76e-ab2e-401b-a812-298a7d4109d2",
      "name": "Preparing Images for HTML"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1936,
        8448
      ],
      "id": "65ce3b34-ba5c-411f-8d5d-ea2e7e467939",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2464,
        8448
      ],
      "id": "6f597b92-155f-4a46-ad7d-cf8a9c5c3e40",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3248,
        8448
      ],
      "id": "b1bde4b4-c630-4f3b-9d17-cbd4aee04a51",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3632,
        8432
      ],
      "id": "41c46ee9-f6bf-4b84-877e-d454a7d38825",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4016,
        8432
      ],
      "id": "3def5c27-d6a4-4be0-a67f-6859cbd0d795",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4480,
        8448
      ],
      "id": "fa29b685-8a21-43bf-a60b-868777981527",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4944,
        8448
      ],
      "id": "ac3a8233-ab9f-4733-94f8-b2746ad260fb",
      "name": "OpenRouter Chat Model10",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c4ba02e-a677-4c0f-9db5-5a9db1a0e783",
              "leftValue": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"Type\"] }}",
              "rightValue": "Post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5360,
        8288
      ],
      "id": "752741c2-c983-4ff3-ac7b-692647e3f75c",
      "name": "If"
    },
    {
      "parameters": {
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        5600,
        8176
      ],
      "id": "be0f9326-a12f-4290-b884-ef15500e4466",
      "name": "Create Post",
      "credentials": {
        "wordpressApi": {
          "id": "SwjXKREvIALu9S9L",
          "name": "https://hondabike.co.il/ (WP-Admin)"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        5600,
        8368
      ],
      "id": "0d2cd351-52f3-4b14-97c8-19ccd5bfb961",
      "name": "Create Page",
      "credentials": {
        "wordpressApi": {
          "id": "SwjXKREvIALu9S9L",
          "name": "https://hondabike.co.il/ (WP-Admin)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a research agent.\n\nThe input below is a preliminary article outline.\nUse it to understand the main topic and subtopics of the article.\n\nYour task:\n** Research** \n- Find authoritative, external sources that support the topic and key sections.המקורות חייבים להמצא אך ורק מהארץ והשפה ששייכת לאותו.\nלדוגמא: אם ה-KEYWORD הוא בשפה העברית,\nאז החיפוש יתבצע בישראל.\n- Do NOT invent sources.\n- Do Not link to other competitors or brand names. \n- Do NOT mention any other brand name or competitors in the text.\n- Do NOT - תקשר לעמוד של מתחרה.\n- לעולם בשום צורה שהיא, אל תבנה LINK או אזכור בתוכן של הכתבה למתחרה מאותה הנישה או מאותו התחום של האתר\n{{ $('Grab New Cluster').item.json.Website }}\n- link only to Gov,PDF, Research sites, News media sites.\n** Fact Checker **\n\n** Fact Checker: **\nאתה FACT Checker: \nאתה חייב לזחול לכל אחד מהקישורים האלו ולוודא שהתוכן שנמצא בהם, מגבה את המידע שציינת.\nתוודא שהקישור תקין ומכיל את שהמידע.\nבמידה והוא לא מכיל את המידע או הקישור שבור או מוביל לעמוד 404. \nאתה חייב למצוא קישור ממקור אחר שהוא תקין ולהחליף אותו במקומו.\n\nArticle outline:\n{{ $json.output[0].content[0].text }}\n\nFind up to 20 sources \n\nOutput format:\nFor each source, provide:\n- Title\n- Short summary (1–2 sentences)\n- Direct URL\n- Try to find the most relevant sources to the output titles\nRules:\n- No opinions\n- No duplicate sources\n- No filler text\n- Only verified Links\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1232,
        8288
      ],
      "id": "7722b427-4525-4e12-a6ec-4e25d87535a6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=# 🎯 ROLE – מומחה כתיבת תוכן SEO\n\nאתה מומחה לכתיבת תוכן SEO בחברת קידום אתרים עם **למעלה מ-15 שנות ניסיון**.  \nאתה מתמחה במחקר SERP אנליטי (ללא אזכור שמות אתרים), ניתוח כוונת חיפוש (Search Intent),  \nבניית תוכן מבוסס שאילתות גולשים, ואופטימיזציה ל-CTR גבוה בתוצאות החיפוש של גוגל.\n\n---\n\n# 📥 INPUT\n- **Keywords:** {{ $json.Keywords }}\n- **Primary Keyword:** {{ $json[\"Primary Keyword\"] }}\n- **Search Intent:** {{ $json.Intent }}\n- **Website (האתר שלנו):** {{ $json.Website }}\n\n---\n\n# 🔍 שלב 1 – מחקר SERP (Google Simulation)\n\nבצע מחקר המדמה חיפוש אמיתי בגוגל – **באופן אנליטי בלבד**, ללא אזכור שמות אתרים, מותגים או כתובות URL.\n\n1. נתח את **10 התוצאות האורגניות המובילות** עבור מילת המפתח הראשית.\n2. בדוק עבור כל מתחרה:\n   - כמות מילים משוערת\n   - מבנה כותרות (H2 / H3)\n   - סוג התוכן (מדריך, מאמר מידע, השוואה, מסחרי וכו')\n3. ספק:\n   - כמות מילים ממוצעת בקרב המתחרים\n   - **המלצה חד-משמעית אחת בלבד לכמות מילים אופטימלית** למאמר שלנו\n   - נימוק קצר המבוסס על רמת התחרות וכוונת החיפוש\n\n---\n\n# 🔎 שלב 2 – מחקר שאילתות גולשים\n\nאסוף ניסוחים אמיתיים של שאלות גולשים, בהשראת:\n- People Also Ask\n- Autocomplete\n- פורומים ודיונים\n- ניסוחים נפוצים ממודלי שפה\n\n❗ דרישה קריטית:  \nלפחות **70% מכותרות H2 חייבות להיות מנוסחות כשאלות חיפוש של גולשים**,  \nכולל ניסוחים מסוג: **\"מהו X\"**, \"איך\", \"למה\", \"האם\", \"כמה\", \"מתי\".\n\nאין לציין או להזכיר מקורות כלשהם בטקסט עצמו.\n\n---\n\n# 🧱 שלב 3 – בניית מבנה תוכן (Outline)\n\nבנה מבנה תוכן מלא למאמר.\n\n## כללי מבנה\n- כל **H2** מייצגת נושא מרכזי או שאלת חיפוש.\n- מתחת לכל **H2 חובה לכלול**:\n  - **תשובה ישירה** – 1–3 משפטים ברורים\n  - **עובדות / דוגמאות / הסברים** תומכים\n- **H3** – רק אם יש צורך אמיתי בפירוק נושא מורכב\n- גיוון מבני:\n  - H2 בלבד\n  - H2 + 2–4 H3\n  - ללא תבנית קבועה\n\n---\n\n## 📌 פורמט חובה לכל כותרת H2\n\n## כותרת H2\n\n**תשובה ישירה:**  \nתשובה חדה וברורה לשאלה.\n\n**עובדות / דוגמאות תומכות:**  \nהרחבה מקצועית, הסברים או דוגמאות.\n\nמשפט מקשר (אם נדרש):  \n\"להלן פירוט הנושא:\"\n\n### כותרת H3 (רק אם נדרש)\nפירוט ממוקד.\n\n---\n\n# 🔁 השוואות בין מוצרים / מושגים\n\nאם קיימת השוואה:\n- יש ליצור **כותרת H2 נפרדת לכל מושג**\n- כל H2 תענה על השאלה: **\"מהו X\"**\n\n---\n\n# 📏 חישוב כמות כותרות לפי אורך המאמר\n\n- כ-150 מילים לכל H2\n- יש לחשב:\n  - מספר H2 / H3 נדרש\n  - כך שהמאמר יעמוד בכמות המילים שהומלצה\n\n---\n\n# 🧠 שלב 4 – SEO מתקדם\n\n## מילות מפתח סמנטיות\n- מונחים משלימים\n- שמות נרדפים\n- נגזרות וביטויים קשורים\n- מותאמים לכוונת החיפוש\n\n## חוסרים מול מתחרים\n- נושאים חסרים\n- שאלות ללא מענה מספק\n- זוויות בידול תוכניות\n\n---\n\n## OUTPUT – חובה\n\nOutput: **TEXT ONLY**  \n(ללא HTML, ללא Markdown, ללא קישורים, ללא שמות מותגים, ללא כתובות URL)\n\nיש להציג:\n\n- Recommended article wordcount – **פעם אחת בלבד**\n- רשימת H2\n- H3 – רק אם נדרש\n- FAQ – שאלות בלבד, מנוסחות בסגנון חיפושי גולשים\n- מילות מפתח סמנטיות\n- רשימת ביטויים, שמות נרדפים, מונחים משלימים ונגזרות\n- חוסרים בתוכן מול מתחרים\n- נושאים שלא מכוסים מספיק\n- זוויות בידול\n\nאלמנטים חסרים (כטקסט תיאורי בלבד):\n- מבנה טבלת השוואה (כותרות ועמודות)\n- תיאור גרפים אפשריים\n\nאיסורים מוחלטים:\n- DO NOT show any URL’s\n- להסיר כל כתובת URL מהטקסט\n- DO NOT show any other brands\n- להסיר כל שם של מותג או חברה\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        976,
        8288
      ],
      "id": "88f9bcfc-8f91-4bc9-b995-c3c9af04280b",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        496,
        8288
      ],
      "id": "7f7eb939-4373-4f5e-ad32-9eff15d10c15",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://hondabike.co.il/wp-json/wp/v2/posts/' + $('Create Post').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": \"{{ $('Meta Title').first().json.output }}\",\n    \"_yoast_wpseo_metadesc\": \"{{ $('Meta Description').first().json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6112,
        8176
      ],
      "id": "aacfc8fe-c81c-4bca-a5d5-4779162eecd4",
      "name": "Update meta title description Yoast",
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hondabike.co.il/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": {{ JSON.stringify($('Meta Title').first().json.output) }},\n    \"_yoast_wpseo_metadesc\": {{ JSON.stringify($('Meta Description').first().json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6112,
        8368
      ],
      "id": "5e1b1fe6-4424-4dc6-8c22-8e5e91e19011",
      "name": "Update meta title description Yoast1",
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApWSxaB367lNZgruyYKmJNSsrsUD3GhgxdnfIwH9lvQ/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Post').item.json.link }}",
            "Date": "={{ $('Create Post').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6816,
        8176
      ],
      "id": "4480fe51-0244-46cc-8a56-11ece03c6297",
      "name": "Check as completed on Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yEKxlD1ugC_SO-9w2CfOvL8cREfNEBCqJTFTwp2Ij8U/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $node[\"Grab New Cluster\"].json.Cluster }}",
            "Primary Keyword": "={{ $node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes",
            "URL": "={{ $('Create Post').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        6400,
        8176
      ],
      "id": "747a2c00-421a-46ee-9055-91cb6b849abb",
      "name": "Article Saving 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUlVPKoAXwrTnSkEdCzk2MJCg1S0gKWYRPDRxrGXJi4/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Page').item.json.link }}",
            "Date": "={{ $('Create Page').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Twitter ",
              "displayName": "Twitter ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6816,
        8368
      ],
      "id": "a72d6da4-7077-4172-a9fc-ec22a7621697",
      "name": "Check as completed on Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUlVPKoAXwrTnSkEdCzk2MJCg1S0gKWYRPDRxrGXJi4/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ $('Grab New Cluster').first().json['row_id'] }}",
            "Cluster": "={{$items(\"Grab New Cluster\")[0].json.Cluster}}",
            "Primary Keyword": "={{$items(\"Grab New Cluster\")[0].json[\"Primary Keyword\"]}}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes",
            "URL": "={{ $('Create Page').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        6400,
        8368
      ],
      "id": "831517ed-9f03-4223-b3b9-8dac5516bb93",
      "name": "Article Saving 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "=PUT",
        "url": "={{ 'https://hondabike.co.il/wp-json/wp/v2/posts/' + $('Create Post').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5856,
        8176
      ],
      "id": "7a7f3c17-cef1-42ca-947d-8816b15ffee3",
      "name": "Update Featured Image2",
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior Hebrew copywriter and social media strategist with strong B2B + storytelling skills.\n\nINPUT:\nYou will receive a full article written in HEBREW.\n{{ $json.output }}\n\nOBJECTIVE:\nCreate 4 separate social media posts derived from the article content — one for each platform:\n1) LinkedIn\n2) Facebook\n3) Instagram\n4) X (Twitter)\n\nLANGUAGE RULES:\n- INPUT language: Hebrew\n- OUTPUT language: Hebrew only\n- Do NOT use English words unless they are unavoidable brand/product names\n- Natural Israeli Hebrew (not robotic, not translated)\n\nCORE QUALITY RULES:\n- Do NOT “summarize the article” — convert its insights into high-performing posts\n- Each platform must be UNIQUE (no repeated sentences across platforms)\n- Use concrete takeaways and examples from the article, not vague inspiration\n- If the article is about a product/service: emphasize value, outcome, and clarity (no hype)\n- Do NOT explain the process; output only the final posts\n\n────────────────────────\nPLATFORM RULES (STRICT)\n────────────────────────\n\n1️⃣ LinkedIn (MUST BE THE STRONGEST POST)\nGoal: Thought leadership + credibility + depth.\n\nLength & structure:\n- MUST be 1,000–1,600 characters (Hebrew chars, including spaces)\n- MUST be at least as detailed and valuable as the Facebook post\n- 3–6 short paragraphs (each 1–3 lines)\n- Include:\n  A) Hook line that creates tension/curiosity (not cliché)\n  B) 3 actionable points OR a mini-framework (numbered 1–3 is allowed)\n  C) One concrete micro-example / scenario\n  D) A reflective question at the end\n- Emojis: NONE (or max 1 if absolutely needed)\n- Hashtags: 1–3 in Hebrew only (optional, subtle)\n\nTone:\n- Professional, confident, human, not preachy\n\n2️⃣ Facebook\nGoal: Warm, community conversation.\n\nLength & structure:\n- 700–1,200 characters\n- 2–4 paragraphs\n- 1–2 emojis allowed\n- End with a question\n- 2–5 hashtags in Hebrew\n\n3️⃣ Instagram\nGoal: Scroll-stopping + punchy.\n\nLength & structure:\n- 500–900 characters\n- Strong first line (very short)\n- Short sentences, rhythm, emotional tone\n- 2–4 emojis allowed (not excessive)\n- End with a soft CTA question\n- 5–10 hashtags in Hebrew\n- Avoid long blocks; keep it visually scannable\n\n4️⃣ X (Twitter)\nGoal: Sharp, single idea.\n\nLength & structure:\n- MUST fit within 280 characters total\n- One main point only\n- No emojis\n- Hashtags: none (or max 1 only if essential)\n\n────────────────────────\nOUTPUT FORMAT (EXACT)\n────────────────────────\nReturn the content exactly in this structure:\n\n---\n🔹 LinkedIn:\n[LinkedIn post text]\n\n🔹 Facebook:\n[Facebook post text]\n\n🔹 Instagram:\n[Instagram post text]\n\n🔹 X:\n[X post text]\n---\n\nFINAL CHECK BEFORE YOU OUTPUT:\n- LinkedIn is 1,000–1,600 characters and includes hook + 3 points/framework + micro-example + question\n- No sentence is repeated between platforms\n- All text is Hebrew\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2848,
        7824
      ],
      "id": "cfe64450-c867-44aa-afaa-da60fb78526b",
      "name": "Social Media AI Prompt"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * Input: item.json.output (string) OR item.json.text (string) OR item.json (string)\n * Output: columns ready for Google Sheets mapping\n */\n\nfunction pickText(item) {\n  return (\n    item.json.output ??\n    item.json.text ??\n    item.json.result ??\n    (typeof item.json === 'string' ? item.json : null) ??\n    ''\n  );\n}\n\nfunction normalize(s) {\n  return (s || '')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n}\n\nfunction extractSection(fullText, label) {\n  // Matches: 🔹 LinkedIn: ... until next 🔹 or end\n  const re = new RegExp(\n    String.raw`(?:^|\\n)\\s*(?:🔹\\s*)?${label}\\s*:\\s*([\\s\\S]*?)(?=\\n\\s*(?:🔹\\s*)?(?:LinkedIn|Facebook|Instagram|X)\\s*:|\\s*$)`,\n    'i'\n  );\n  const m = fullText.match(re);\n  return normalize(m ? m[1] : '');\n}\n\nfunction makePreview(s, max = 120) {\n  const t = normalize(s).replace(/\\n+/g, ' ');\n  return t.length > max ? t.slice(0, max - 1) + '…' : t;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const raw = normalize(pickText(item));\n\n  const linkedin = extractSection(raw, 'LinkedIn');\n  const facebook = extractSection(raw, 'Facebook');\n  const instagram = extractSection(raw, 'Instagram');\n  const xpost = extractSection(raw, 'X');\n\n  out.push({\n    json: {\n      // These keys should match your Google Sheet columns (recommended):\n      LinkedIn: linkedin,\n      Facebook: facebook,\n      Instagram: instagram,\n      X: xpost,\n\n      // Optional useful fields:\n      LinkedIn_Preview: makePreview(linkedin),\n      Facebook_Preview: makePreview(facebook),\n      Instagram_Preview: makePreview(instagram),\n      X_Preview: makePreview(xpost),\n\n      // Store original text too (optional):\n      Raw_Output: raw,\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        7824
      ],
      "id": "2c2046b3-3f80-4480-a3b6-56d2f5a934f1",
      "name": "Filtering Data"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2848,
        8048
      ],
      "id": "8b7ec220-7ca7-43ce-a755-7cf21642bb94",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2208,
        8880
      ],
      "id": "cb04030b-6483-4410-ac67-7dbd0d457bd4",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        9072
      ],
      "id": "104c01da-fd13-430a-86b8-62971c4ffd6a",
      "name": "Wait1",
      "webhookId": "daa4eff0-a60b-4280-b3ae-b178b50f6ec3"
    },
    {
      "parameters": {
        "jsCode": "// Clear accumulated image URLs from previous runs\nconst staticData = $getWorkflowStaticData('global');\ndelete staticData.imageUrls;\n\nfunction normalizeInnerQuotes(s) {\n  if (!s || typeof s !== \"string\") return s;\n\n  s = s.replace(/[״”“]/g, '\"');\n  s = s.replace(/([\\u0590-\\u05FF0-9A-Za-z])\"(?=[\\u0590-\\u05FF0-9A-Za-z])/g, \"$1״\");\n  s = s.replace(/[\\u202A-\\u202E\\u2066-\\u2069]/g, \"\");\n  return s;\n}\n\nfunction makeFilenameSafe(s) {\n  if (!s) return \"\";\n  return String(s)\n    .normalize(\"NFKD\")\n    .replace(/[^\\p{L}\\p{N}\\s]+/gu, \"\")\n    .trim()\n    .replace(/\\s+/g, \"_\")\n    .replace(/-+/g, \"\");\n}\n\nconst raw = $json.output ?? $json;\nlet plan = raw;\nif (typeof raw === \"string\") {\n  // Remove markdown code fences, e.g. ```json or ```\n  const removeFences = s => s.replace(/```(?:json)?|```/gi, '').trim();\n  const cleaned = normalizeInnerQuotes(removeFences(raw));\n  plan = JSON.parse(cleaned);\n}\n\n// ✅ IMPORTANT: handle array wrapper: [ { hero, sections } ]\nif (Array.isArray(plan)) {\n  plan = plan[0] || {};\n}\n\nconst out = [];\n\n// HERO\nif (plan?.hero?.prompt && String(plan.hero.prompt).trim()) {\n  out.push({\n    json: {\n      slot: \"hero\",\n      type: plan.hero.type || \"hero\",\n      prompt: plan.hero.prompt,\n      source_text: plan.hero.source_text || \"\",\n      translation_en: plan.hero.translation_en || \"\",\n      h2_text: \"\",\n      alt: plan.hero.source_text || \"\",\n      filename_safe:\n        plan.hero.filename_safe ||\n        makeFilenameSafe(plan.hero.translation_en || plan.hero.source_text || \"hero\"),\n    },\n  });\n}\n\n// SECTIONS\n(plan?.sections || [])\n  .filter(s => s?.prompt && String(s.prompt).trim())\n  .forEach((s, i) => {\n    out.push({\n      json: {\n        slot: `section_${i + 1}`,\n        type: s.type || \"section\",\n        prompt: s.prompt,\n        h2_text: s.h2_text || \"\",\n        source_text: s.source_text || \"\",\n        translation_en: s.translation_en || \"\",\n        alt: s.h2_text || s.source_text || \"\",\n        filename_safe:\n          s.filename_safe ||\n          makeFilenameSafe(s.translation_en || s.h2_text || `section_${i + 1}`),\n      },\n    });\n  });\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        8880
      ],
      "id": "fea2d605-e499-4059-bde9-ecebf7c672c1",
      "name": "Cleaning Image Prompts1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 165cc5401c1882a5442b943172fc6afe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"callBackUrl\": \"{{$execution.resumeUrl}}\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2192,
        9072
      ],
      "id": "7978ef13-6710-46d4-9a28-34b0ce31b021",
      "name": "Image Generation1"
    },
    {
      "parameters": {
        "jsCode": "// We receive the callback item from KIE\nconst item = $json;\nconst body = item.body || {};\nconst data = body.data || {};\n\nlet imageUrl = null;\nlet parsedResult = null;\n\nif (data.resultJson) {\n  try {\n    parsedResult = JSON.parse(data.resultJson);\n    if (Array.isArray(parsedResult.resultUrls) && parsedResult.resultUrls.length > 0) {\n      imageUrl = parsedResult.resultUrls[0];\n    }\n  } catch (error) {\n    throw new Error('Could not parse resultJson: ' + error.message);\n  }\n}\n\n// If callback had no result (e.g. timeout), try query params\nif (!imageUrl && item.query && item.query.imageUrl) {\n  imageUrl = item.query.imageUrl;\n}\n\n// Accumulate URLs in workflow static data for Collect images URLS1\nif (imageUrl) {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.imageUrls) staticData.imageUrls = [];\n  staticData.imageUrls.push(imageUrl);\n}\n\nreturn [\n  {\n    json: {\n      imageUrl,\n      \"Image URL\": imageUrl,\n      state: data.state || \"unknown\",\n      taskId: data.taskId || \"\",\n      rawResultJson: data.resultJson || \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        9072
      ],
      "id": "b343c2de-c4db-4245-a4bf-8b4b02f00f89",
      "name": "Getting URLS1"
    },
    {
      "parameters": {
        "jsCode": "// Collect all image URLs from the loop iterations.\n// The SplitInBatches \"done\" output only contains the last iteration's data,\n// so we use n8n's static data to accumulate URLs across iterations.\n// \n// FALLBACK: We also check the Save image URLS1 node's data.\n\nconst staticData = $getWorkflowStaticData('global');\nconst collectedUrls = staticData.imageUrls || [];\n\n// Also try to get from the current items\nconst items = $input.all();\nfor (const item of items) {\n  const url = item.json[\"Image URL\"] || item.json.imageUrl;\n  if (url && !collectedUrls.includes(url)) {\n    collectedUrls.push(url);\n  }\n}\n\nconst images = {\n  hero: collectedUrls[0] || null,\n  section_1: collectedUrls[1] || null,\n  section_2: collectedUrls[2] || null,\n  section_3: collectedUrls[3] || null,\n  section_4: collectedUrls[4] || null,\n};\n\n// Clean up static data\ndelete staticData.imageUrls;\n\nreturn [{ json: { images } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        8864
      ],
      "id": "9189a78c-3023-4ddd-8af4-64582dcd4be6",
      "name": "Collect images URLS1"
    },
    {
      "parameters": {
        "content": "## Image Generation\n",
        "height": 496,
        "width": 1164
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        8832
      ],
      "typeVersion": 1,
      "id": "69353e52-0531-4c4a-88bf-7ffbf9a14bc7",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1359853134,
          "mode": "list",
          "cachedResultName": "Generated Images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUlVPKoAXwrTnSkEdCzk2MJCg1S0gKWYRPDRxrGXJi4/edit#gid=1359853134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"row_id\"] }}",
            "Image URL": "={{ $json.imageUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        9072
      ],
      "id": "b0c92545-cb57-4593-8d31-259f68fe2039",
      "name": "Save image URLS1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"\"You are an image planning and prompt generation system for blog articles. You operate under locked design tokens and fixed logic. You do not deviate.\n\n## LOCKED DESIGN TOKENS\n\n- BRAND_PRIMARY_COLOR: #000000\n- BRAND_ACCENT_COLOR: #000000\n- BRAND_SECONDARY_COLOR: #666666\n- BACKGROUND_STYLE: light\n- TYPOGRAPHY_MOOD: modern sans-serif, clean, professional\n- UI_MOOD: professional, minimal, airy\n- BORDER_RADIUS: 4px\n- SHADOW_STYLE: 0px 4px 4px 0px rgba(174, 221, 248, 0.4)\n- VISUAL_DENSITY: airy\n\nThese tokens are immutable. Every image prompt you generate MUST reference these values explicitly.\n\n## INPUT\n\nYou receive a full blog article written in HEBREW.\n\n## STEP 1: EXTRACTION\n\nExtract the H1 title from the article. Extract ALL H2 headings in the exact order they appear. Number them sequentially starting from 1.\n\n## STEP 2: IMAGE PLANNING LOGIC\n\nCount the total number of H2 headings.\n\nIf the article contains FEWER THAN 4 H2 headings: generate ONLY a hero image. All 4 section objects in the output MUST have empty strings for h2_text, translation_en, and prompt.\n\nIf the article contains 4 OR MORE H2 headings: generate a hero image AND section images according to this rule — generate one section image for H2 #4. Then generate one additional section image for every subsequent 4th H2 heading: H2 #8, H2 #12, H2 #16, and so on. Stop when no further group of 4 is reachable. The maximum number of section images is 4. If fewer than 4 section images qualify, fill the remaining section objects with empty strings for all three fields.\n\n## STEP 3: HERO IMAGE\n\nExtract the H1 title in HEBREW. Translate it into ENGLISH. The hero object MUST include source_text (the Hebrew H1) and translation_en (the English translation). The hero image prompt MUST conceptually represent the translated H1 meaning. The prompt MUST be written in ENGLISH. The prompt MUST explicitly state: \"\"dominant color palette using primary brand color #000000 with secondary tones of #666666 on a clean white #FFFFFF background.\"\" The prompt MUST reflect a light background style, modern sans-serif typography mood, professional and minimal UI mood, airy visual density, 4px rounded elements where applicable, and a soft shadow of rgba(174, 221, 248, 0.4). The prompt MUST be cinematic, premium, high-detail, and visually explicit. No vague wording.\n\n## STEP 4: SECTION IMAGES\n\nEach section image prompt MUST be based strictly on the content under its specific H2 heading. No cross-section content mixing.\n\n### INFOGRAPHIC DETECTION\n\nBefore writing the prompt for each qualifying H2, inspect the content under that H2. If the content contains ANY of the following: numbered steps, bullet lists, pricing or plans or packages, statistics or percentages or comparisons, tables or pros and cons, or multiple short structured items — THEN the image MUST be an infographic.\n\nInfographic prompts MUST include the phrase \"\"clean infographic layout\"\". They MUST reference brand colors by HEX: #000000 primary, #666666 secondary, #FFFFFF background. They MUST include 3 to 6 labeled blocks ONLY if those labels exist in the source text. They MUST use minimal icons, grid alignment, clean typography, generous whitespace. They MUST NEVER invent steps, labels, numbers, or data not present in the text.\n\nIf the content does NOT match infographic criteria, generate a conceptual illustration prompt that represents the H2 topic visually.\n\nAll section image prompts MUST explicitly state the brand color palette using HEX values: \"\"#000000 primary, #666666 secondary, #FFFFFF background.\"\" All section image prompts MUST reflect the locked design tokens: light background, modern professional mood, airy spacing, 4px rounded corners, soft blue-tinted shadow.\n\n## STEP 5: TRANSLATION RULES\n\nFor the hero: source_text is the Hebrew H1. translation_en is the English translation of the H1.\n\nFor each section where h2_text is NOT empty: h2_text is the Hebrew H2 text. translation_en MUST be a non-empty English translation of that H2.\n\nFor each section where h2_text IS empty: translation_en MUST be \"\"\"\".\n\n## TEXT-ON-IMAGE LANGUAGE RULE\n\nAny visible text rendered inside an image MUST be in HEBREW. The only permitted English abbreviations inside images are: SEO, UX, UI, AI, KPI, ROI, B2B, B2C, CRM, SaaS, Design. When uncertain, use icons instead of text.\n\n## PROMPT QUALITY RULES\n\nAll image prompts MUST be written in ENGLISH. Prompts must be cinematic, premium, high-detail, and visually explicit. No vague wording. No line breaks inside JSON string values.\n\n## SAFE OUTPUT RULES\n\nNEVER output null. If a section does not qualify: h2_text = \"\"\"\", translation_en = \"\"\"\", prompt = \"\"\"\". All values MUST be strings.\n\n## OUTPUT FORMAT\n\nOutput EXACTLY this JSON structure:\n\n{\"\"hero\"\":{\"\"type\"\":\"\"hero\"\",\"\"source_text\"\":\"\"\"\",\"\"translation_en\"\":\"\"\"\",\"\"prompt\"\":\"\"\"\"},\"\"sections\"\":[{\"\"type\"\":\"\"section\"\",\"\"h2_text\"\":\"\"\"\",\"\"translation_en\"\":\"\"\"\",\"\"prompt\"\":\"\"\"\"},{\"\"type\"\":\"\"section\"\",\"\"h2_text\"\":\"\"\"\",\"\"translation_en\"\":\"\"\"\",\"\"prompt\"\":\"\"\"\"},{\"\"type\"\":\"\"section\"\",\"\"h2_text\"\":\"\"\"\",\"\"translation_en\"\":\"\"\"\",\"\"prompt\"\":\"\"\"\"},{\"\"type\"\":\"\"section\"\",\"\"h2_text\"\":\"\"\"\",\"\"translation_en\"\":\"\"\"\",\"\"prompt\"\":\"\"\"\"}]}\n\nAlways output exactly 1 hero object. Always output exactly 4 section objects. Output ONLY the JSON. No explanations. Stop immediately after the final closing brace.\"\"\n\nDo not delete all the text above in this box\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1680,
        8928
      ],
      "id": "d244f874-7353-46dd-bbb1-f72b812af536",
      "name": "Image Planning1"
    },
    {
      "parameters": {
        "jsCode": "// Build image upload items where filename_safe comes from translation_en\n// (pulled from \"Cleaning Image Prompts\" node by matching slot).\n\nfunction cleanHeadingText(s) {\n  if (!s) return \"\";\n  return String(s)\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/^#+\\s*/g, \"\")\n    .replace(/^\\d+[\\.\\)]\\s*/g, \"\")\n    .trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\");\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) {\n      h1 = cleanHeadingText(m1[1]);\n      continue;\n    }\n\n    const m2 = line.match(/^##\\s*(.+)$/);\n    if (m2) {\n      const txt = cleanHeadingText(m2[1]);\n      if (txt) h2.push(txt);\n    }\n  }\n\n  return { h1, h2 };\n}\n\n/**\n * ✅ STRICT HEADER-SAFE FILENAME\n * - NO hyphens\n * - NO spaces\n * - NO extension\n * - ASCII only\n */\nfunction toHeaderSafeFilename(str) {\n  const s = String(str || \"\")\n    .trim()\n    .replace(/\\.(png|jpg|jpeg|webp|gif)$/i, \"\") // strip extension if present\n    .normalize(\"NFKD\")\n    .replace(/[\\u00A0\\u2000-\\u200B\\u202F\\u205F\\u3000]/g, \"\") // remove weird spaces\n    .replace(/[\\u0300-\\u036f]/g, \"\") // accents\n    .replace(/[—–]/g, \"\")           // long dashes\n    .replace(/&/g, \"and\")\n    .replace(/['\"`]/g, \"\")\n    .replace(/[:;,.!?(){}\\[\\]|<>]/g, \"\")\n    .replace(/[^a-zA-Z0-9]/g, \"\")   // ❗ remove EVERYTHING except letters+numbers\n    .slice(0, 80);\n\n  return s || \"image\";\n}\n\n// --- Inputs ---\nconst images = $node[\"Collect images URLS1\"].json.images;\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\nconst getH2 = (n) => (h2 && h2.length >= n ? h2[n - 1] : \"\");\n\n// --- Pull translations from Cleaning Image Prompts (by slot) ---\nconst translationsBySlot = {};\nconst cleaned = $items(\"Cleaning Image Prompts1\") || [];\n\nfor (const it of cleaned) {\n  const j = it.json || {};\n  if (!j.slot) continue;\n\n  const t =\n    (typeof j.translation_en === \"string\" && j.translation_en.trim()) || \"\";\n\n  if (t) translationsBySlot[j.slot] = t;\n}\n\nfunction safeNameForSlot(slot, fallback) {\n  const t = translationsBySlot[slot] || fallback || \"image\";\n  return toHeaderSafeFilename(t);\n}\n\n// --- Build items ---\nconst map = [\n  {\n    key: \"hero\",\n    slot: \"hero\",\n    url: images.hero,\n    filename_safe: safeNameForSlot(\"hero\", \"heroimage\"),\n    alt: h1 || h2[0] || \"תמונה ראשית\",  // fallback to first H2\n  },\n  {\n    key: \"section_1\",\n    slot: \"section_1\",\n    url: images.section_1,\n    filename_safe: safeNameForSlot(\"section_1\", \"section1\"),\n    alt: getH2(4) || \"תמונה\",\n  },\n  {\n    key: \"section_2\",\n    slot: \"section_2\",\n    url: images.section_2,\n    filename_safe: safeNameForSlot(\"section_2\", \"section2\"),\n    alt: getH2(8) || \"תמונה\",\n  },\n  {\n    key: \"section_3\",\n    slot: \"section_3\",\n    url: images.section_3,\n    filename_safe: safeNameForSlot(\"section_3\", \"section3\"),\n    alt: getH2(12) || \"תמונה\",\n  },\n  {\n    key: \"section_4\",\n    slot: \"section_4\",\n    url: images.section_4,\n    filename_safe: safeNameForSlot(\"section_4\", \"section4\"),\n    alt: getH2(16) || \"תמונה\",\n  },\n];\n\n// Output only items with URLs\nreturn map\n  .filter(x => !!x.url)\n  .map(x => ({ json: x }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        8864
      ],
      "id": "9c4277ff-2580-4176-9727-57fd70705998",
      "name": "Preparing Image Data1"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1696,
        9072
      ],
      "id": "2d65c6c5-1754-4233-86b2-d4c4a6ea60ed",
      "name": "OpenRouter Chat Model11",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI",
          "mode": "list",
          "cachedResultName": "hondabike.co.il - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FaayOUoaSOm2A1x5B7sHDFUH0Ih1XOYM1TLo7dB4pPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17-n-H002JeP9pjEu8A1oEpxjsT-P4UyPPI9rUPz8Aio/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ $('Grab New Cluster').item.json.row_id }}",
            "Linkedin": "={{ $json.LinkedIn }}",
            "Facebook": "={{ $json.Facebook }}",
            "Instagram": "={{ $json.Instagram }}",
            "Twitter ": "={{ $json.X }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter ",
              "displayName": "Twitter ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3344,
        7824
      ],
      "id": "51b7bf00-e943-4cd5-8e76-34dda2c4969d",
      "name": "Update Google Sheet with Posts1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://hondabike.co.il/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5856,
        8368
      ],
      "id": "28eefe2f-b894-472b-aa22-bf28c48c2daf",
      "name": "Update Featured Image3",
      "credentials": {
        "httpBasicAuth": {
          "id": "6oG1vcmyQyEc5WbK",
          "name": "https://hondabike.co.il/ (wp-login)"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Map a website and get urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slug": {
      "main": [
        [
          {
            "node": "Post Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Title": {
      "main": [
        [
          {
            "node": "Meta Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Title": {
      "main": [
        [
          {
            "node": "Meta Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image (PNG URL → Binary)": {
      "main": [
        [
          {
            "node": "Upload to WordPress (Media)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress (Media)": {
      "main": [
        [
          {
            "node": "Image Alt Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Alt Settings": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map a website and get urls": {
      "main": [
        [
          {
            "node": "Post Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Plan": {
      "main": [
        [
          {
            "node": "Writing Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing Blog": {
      "main": [
        [
          {
            "node": "Social Media AI Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Planning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Preparing Images for HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image (PNG URL → Binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Images for HTML": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Post Plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Writing Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "slug",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Post Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Meta Description": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "Update Featured Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Page": {
      "main": [
        [
          {
            "node": "Update Featured Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast": {
      "main": [
        [
          {
            "node": "Article Saving 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 3": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast1": {
      "main": [
        [
          {
            "node": "Article Saving 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 1": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image2": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media AI Prompt": {
      "main": [
        [
          {
            "node": "Filtering Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media AI Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Collect images URLS1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Getting URLS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Image Prompts1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting URLS1": {
      "main": [
        [
          {
            "node": "Save image URLS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect images URLS1": {
      "main": [
        [
          {
            "node": "Preparing Image Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save image URLS1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Planning1": {
      "main": [
        [
          {
            "node": "Cleaning Image Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Image Data1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Image Planning1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filtering Data": {
      "main": [
        [
          {
            "node": "Update Google Sheet with Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image3": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "errorWorkflow": "yB7bNb8AVBrqpmsA"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        22
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fcc857cb-9622-4a31-a440-32fd82d57ee7",
  "activeVersionId": null,
  "versionCounter": 40,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-09T10:31:25.793Z",
      "createdAt": "2026-04-09T10:31:25.793Z",
      "role": "workflow:owner",
      "workflowId": "zPBQi59Cat4rYd7M",
      "projectId": "dVXERpuA0usYcNnC",
      "project": {
        "updatedAt": "2025-12-25T09:29:04.219Z",
        "createdAt": "2025-12-25T08:05:34.166Z",
        "id": "dVXERpuA0usYcNnC",
        "name": "Tomer Lev <tomer@webs.co.il>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "98a72ec6-5b02-457a-abbc-89570294def9"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-09T10:31:22.299Z",
      "createdAt": "2026-04-09T10:31:22.299Z",
      "id": "5K9CvWTxwZAKLFCv",
      "name": "hondabike.co.il"
    },
    {
      "updatedAt": "2025-12-25T09:04:33.025Z",
      "createdAt": "2025-12-25T09:04:33.025Z",
      "id": "bAQ5UBM4nFLDhksc",
      "name": "תומר"
    }
  ],
  "activeVersion": null
}
