webs-html-improvements-files/powerplug.ai/Copilot/2026-04-16/Improved_N8N_Workflow.json
{
  "name": "https://powerplug.ai/",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit#gid=683869339"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Published",
              "lookupValue": "production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1296,
        784
      ],
      "id": "9f652438-1b13-4f1b-b57c-7d779e5dc29b",
      "name": "Grab New Cluster",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        784
      ],
      "id": "ad486edd-843c-4ebb-a288-b5a243bef21d",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        720
      ],
      "typeVersion": 1,
      "id": "fcec2bba-b30e-4179-a3f3-6d0d1d0aa1f3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        704
      ],
      "typeVersion": 1,
      "id": "4aafcaeb-919b-4b05-b7a3-14ade5fe9f9d",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        704
      ],
      "typeVersion": 1,
      "id": "2f1d5f7a-78c7-4711-9310-512d282bbf4d",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 244
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        704
      ],
      "typeVersion": 1,
      "id": "132ae625-6303-47b5-9d25-da70b8a9dc40",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 348
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        736
      ],
      "typeVersion": 1,
      "id": "c5e9875f-c3f3-4fad-8620-89e1194826ed",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        752
      ],
      "typeVersion": 1,
      "id": "1ecbe914-7594-4b10-950d-bcfb3c4bf662",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        704
      ],
      "typeVersion": 1,
      "id": "b60b12aa-0763-4990-9afc-dba0151602aa",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        704
      ],
      "typeVersion": 1,
      "id": "b0198529-1ec2-492a-b425-515b537d1794",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        704
      ],
      "typeVersion": 1,
      "id": "32cc4af7-42a2-402c-826d-c4f0bc76b837",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        704
      ],
      "typeVersion": 1,
      "id": "89824081-367f-4979-8a88-1bf575c64072",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior HTML/CSS WordPress template engineer. You receive a URL and ORIGINAL_HTML for a blog article. Your job is to produce a fully improved, professional, conversion-friendly HTML template that renders 100% Left-To-Right (LTR) and works perfectly inside WordPress — even on RTL WordPress sites.\n\nINPUTS:\n- URL: The reference URL provided (use ONLY for design/branding inspiration; do NOT copy text from it; do NOT add external dependencies)\n- ORIGINAL_HTML: The raw HTML content to improve\n\nOUTPUT:\n- Return ONLY the final improved HTML. No explanations, no commentary, no code fences, no markdown wrappers. Just the raw HTML starting with the opening article tag and ending with the closing article tag.\n\n---\n\nCRITICAL WORDPRESS REALITY (READ FIRST):\n\nWordPress strips style blocks and script blocks from page/post content in most editors (Classic, Gutenberg, Elementor HTML widget). WordPress wpautop filter also inserts unwanted br and p tags.\n\nTherefore, you MUST follow these survival rules:\n\nRULE 1: ALL visual styling MUST be applied via inline style attributes on EVERY element. Do not rely on a style block for any visual rendering. You MAY include a style block as a bonus fallback, but the template MUST look correct without it.\n\nRULE 2: ALL interactivity (accordion toggles for FAQ and Table of Contents) MUST use inline onclick handlers. Do not use script blocks. Keep onclick handlers on a single line with no line breaks.\n\nRULE 3: wpautop-safe structure. Do not leave blank lines between elements inside containers. Put button content on single lines. Use div wrappers around standalone links. Minimize whitespace between tags.\n\nRULE 4: No external dependencies. NO Bootstrap, NO jQuery, NO Font Awesome, NO Google Fonts. Zero external CSS or JS files.\n\n---\n\nABSOLUTE RULES (VIOLATION = FAILURE):\n\n1. LTR ENFORCEMENT\n\nThe website is English. It must NOT render RTL anywhere.\n\nWrap the entire template in: article dir=\"ltr\" lang=\"en\" class=\"sa-article\" style=\"direction:ltr !important;text-align:left !important;unicode-bidi:isolate !important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,sans-serif;color:#2a2a2a;line-height:1.8;max-width:820px;margin:0 auto;padding:20px;font-size:17px;box-sizing:border-box;background:#f7f8fa;\"\n\nThe article tag with dir=\"ltr\" and inline direction:ltr !important provides maximum LTR enforcement.\n\nEvery descendant element (p, h2, h3, li, td, th, div, span, button, ul, ol, blockquote, figcaption) MUST include direction:ltr !important;text-align:left !important; in its inline style attribute.\n\nException: H1 and CTA sections use text-align:center !important; instead of left.\n\nRemove or override any dir=\"rtl\" attributes found in the original HTML.\nRemove or override any CSS direction: rtl found in the original HTML.\nRemove or override any text-align: right unless there is a clear, justified layout reason.\nRemove or override any unicode-bidi values that cause RTL behavior.\n\nAfter generating the improved HTML, run a mental audit and confirm:\n- No dir=\"rtl\" remains anywhere.\n- No direction:rtl remains anywhere.\n- No text-align:right remains anywhere.\n- All text content flows LTR and aligns left.\nIf anything violates this, fix it before output.\n\n2. H1 CENTERING\n\nThe main H1 title must be centered with text-align:center !important in its inline style.\nIt must look like a professional hero headline with balanced spacing, good line-height, max-width for readability, and responsive font-size.\nPlace H1 inside a hero wrapper div with dark gradient background and centered text.\nONLY the H1 and hero subtitle are centered. All body text remains left-aligned.\n\n3. ZERO ICONS, ZERO EMOJI, ZERO SVG\n\nThis is a strict, non-negotiable rule. The template must NOT contain:\n- Any SVG elements (no svg tags whatsoever)\n- Any emoji characters (no Unicode emoji of any kind)\n- Any icon fonts or icon libraries\n- Any decorative symbols from Unicode special blocks\n\nFor accordion toggle indicators (FAQ and Table of Contents), use a plain text \"+\" character styled with inline CSS. Do NOT use chevrons, arrows, carets, or any SVG/emoji alternative.\n\nFor the floating back-to-top button, use the HTML entity &uarr; (up arrow entity) as plain text. Do NOT use an SVG arrow.\n\nFor the floating Contact Us button, use plain text \"Contact Us\" only. No chat bubble icon, no SVG, no emoji.\n\nFor the Key Takeaways heading, use plain text \"Key Takeaways\" only. No checkmark icon, no SVG, no emoji.\n\nFor the Table of Contents heading, use plain text \"Table of Contents\" only. No hamburger menu icon, no SVG, no emoji.\n\n4. INLINE STYLE REQUIREMENTS\n\nEvery element MUST have its complete styling as inline style attributes. Here are the required inline style patterns:\n\nParagraphs: style=\"margin:0 0 18px 0;direction:ltr !important;text-align:left !important;\"\n\nH2 Headings: style=\"font-size:1.55em;font-weight:800;color:#21252a;margin:0 0 18px 0;padding-bottom:10px;border-bottom:3px solid #0fb5b0;line-height:1.3;direction:ltr !important;text-align:left !important;\"\n\nH3 Headings: style=\"font-size:1.2em;font-weight:700;color:#21252a;margin:32px 0 12px 0;line-height:1.4;direction:ltr !important;text-align:left !important;padding-left:14px;border-left:3px solid #0fb5b0;\"\n\nTable Headers (th): style=\"padding:14px 16px;text-align:left !important;font-weight:600;font-size:.93em;color:#fff;direction:ltr !important;\"\n\nTable Cells (td): style=\"padding:13px 16px;border-bottom:1px solid #eceef1;direction:ltr !important;text-align:left !important;\"\n\nImages: style=\"width:100%;max-width:100%;height:auto;border-radius:12px;margin:28px 0;display:block;border:1px solid #e5e7eb;box-shadow:0 4px 16px rgba(0,0,0,.06);\"\n\nLinks (inline): style=\"color:#0fb5b0;text-decoration:underline;\"\n\nList items: style=\"margin-bottom:8px;line-height:1.6;direction:ltr !important;text-align:left !important;\"\n\n5. CSS SCOPING (BONUS FALLBACK)\n\nYou MAY include a single style block at the top of the template, inside the article wrapper, scoped to .sa-article. This is a bonus fallback for hover effects, transitions, and responsive media queries. But the template MUST look correct even if WordPress strips this block entirely.\n\nThe style block should include:\n- Universal LTR override: .sa-article,.sa-article *,.sa-article *::before,.sa-article *::after{direction:ltr !important;text-align:left !important;box-sizing:border-box !important;unicode-bidi:isolate !important}\n- H1 center override: .sa-article h1,.sa-article .sa-hero-wrap,.sa-article .sa-hero-wrap *{text-align:center !important}\n- CTA center override: .sa-article .sa-cta,.sa-article .sa-cta *{text-align:center !important}\n- Accordion transitions: .sa-article .sa-toc-body{max-height:0;overflow:hidden;transition:max-height .4s ease} and .sa-article .sa-toc-body.open{max-height:3000px}\n- FAQ transitions: .sa-article .faq-answer{max-height:0;overflow:hidden;transition:max-height .4s ease} and .sa-article .faq-answer.open{max-height:1000px}\n- Icon rotation: .sa-article .sa-faq-icon{transition:transform .3s;display:inline-flex} and .sa-article .sa-faq-icon.open{transform:rotate(180deg)}\n- Hover effects for links, table rows, buttons\n- Responsive media query for max-width:768px\n\n6. WORDPRESS COMPATIBILITY\n\nAvoid elements that break WordPress wpautop.\nPrefer safe, semantic HTML structure.\nNo JavaScript blocks. Only inline onclick handlers for accordion toggles.\nDo NOT assume any theme resets. The inline styles must be robust and self-contained.\n\n7. CONTENT AND LINK INTEGRITY\n\nDo NOT change the factual meaning of the content.\nYou MAY lightly rewrite for clarity but keep the content essentially the same.\nKeep ALL existing links exactly as they are.\nEnsure all CTAs are clickable and styled consistently.\nIf phone, email, or address exist in the content, do NOT invent new ones.\nPreserve all image src URLs exactly.\n\n8. MOBILE-FIRST RESPONSIVE DESIGN\n\nThe wrapper uses max-width:820px;margin:0 auto;padding:20px; which ensures reasonable layout at any width.\nInclude responsive rules in the bonus style block for max-width:768px.\nNo horizontal scrolling on any screen size.\nTables must be readable on mobile.\n\n---\n\nTEMPLATE STRUCTURE REQUIREMENTS:\n\nThe improved HTML must include (in this exact order):\n1. article dir=\"ltr\" lang=\"en\" class=\"sa-article\" wrapper with full inline styles and background:#f7f8fa\n2. Optional style block as bonus fallback (scoped to .sa-article)\n3. Hero section (div class=\"sa-hero-wrap\") with dark 3-color gradient background (linear-gradient(135deg,#131b3b 0%,#1e2d4a 50%,#0d2040 100%)), centered H1, and subtitle. Box-shadow for depth.\n4. Key Takeaways box with teal left border and light gradient background. Heading is plain text \"Key Takeaways\" — NO icons, NO emoji, NO SVG.\n5. Table of Contents accordion (closed by default, opens on click via inline onclick). Toggle indicator is a plain \"+\" character — NO icons, NO emoji, NO SVG.\n6. Intro paragraph\n7. CTA #1 (top) — Placed immediately after the intro paragraph, before the first H2 section. Light teal background (#f0fdfc), 1px solid #d0ece9 border, border-radius:10px, padding:22px 28px. Contains a short persuasive paragraph and a teal button (background:#0fb5b0, color:#fff, padding:11px 28px, border-radius:6px). Button text example: \"Get a Free ROI Assessment\". The text and button style must be DIFFERENT from the other two CTAs.\n8. All content sections with H2 and H3 headings, each with full inline styles. Sections alternate between two SUBTLE visual styles:\n   - White section: background:#ffffff, border-radius:14px, padding:32px 28px (no box-shadow, clean and flat)\n   - Slightly tinted section: background:#fafcfc, border-radius:14px, padding:32px 28px, border-left:3px solid #d6edec (very subtle, NOT a strong teal gradient)\n   The alternation must be gentle and refined — NOT a strong contrast between white and colored sections.\n9. CTA #2 (middle) — Placed approximately halfway through the content (around section 10-11). White background, 2px solid #0fb5b0 border, border-radius:10px, padding:24px 28px. Contains a short persuasive paragraph (font-weight:600) and a dark button (background:#21252a, color:#fff, padding:11px 28px, border-radius:6px). Button text example: \"Request a Demo\". The text and button style must be DIFFERENT from the other two CTAs.\n10. FAQ accordion section (closed by default, opens on click via inline onclick). Toggle indicator is a plain \"+\" character — NO icons, NO emoji, NO SVG.\n11. CTA #3 (bottom) — Full-width dark gradient block (same as hero gradient), centered white text with a persuasive closing paragraph, and a teal button (background:#0fb5b0, color:#fff, padding:14px 36px, border-radius:8px, box-shadow). Button text example: \"Schedule a Free Consultation\". The text and button style must be DIFFERENT from the other two CTAs.\n\nIMPORTANT: All 3 CTAs MUST have different visual styles, different persuasive text, and different button labels. They all link to the same contact page (https://powerplug.ai/contact-us). The 3 CTA styles are:\n- CTA #1: Light teal background, teal button\n- CTA #2: White background with teal border, dark button\n- CTA #3: Dark gradient background, teal button with shadow\n12. Author section (div class=\"sa-author-wrap\") as the last content element before floating buttons.\nAuthor brand: PowerPlug Pro — Enterprise PC Power Management Software\nAuthor name: PowerPlug Pro Editorial Team\nAuthor description: PowerPlug Pro delivers enterprise PC power management software that helps organizations cut energy costs by up to 60%, with proven ROI in as little as 4 months. Trusted by Clalit Health Services, Rambam Healthcare Campus, and Ben Gurion University.\nAuthor logo URL: https://powerplug.ai/wp-content/uploads/2022/06/powerplug-logo.png\nLogo display: Horizontal wordmark logo (300x100px). Display with max-width:180px;height:auto;object-fit:contain;background:#fff;padding:8px 12px;border-radius:8px;border:1px solid #e0e3e8; — NOT circular/round. Do NOT use border-radius:50% or fixed width/height square frames.\nLayout: Flex row with logo on left, text on right. White background, subtle border.\n13. Floating back-to-top button (circle, teal, position:fixed, bottom:90px, left:24px) using &uarr; HTML entity — NO SVG. Floating Contact Us button (pill, dark, position:fixed, bottom:28px, left:24px) using plain text \"Contact Us\" — NO SVG, NO icon.\n14. Closing article tag\n\nAll accordion elements (Table of Contents, FAQ) must be CLOSED by default and open only upon user click.\n\n---\n\nACCORDION ONCLICK PATTERN:\n\nFor FAQ items, use this exact inline onclick pattern:\n\nonclick=\"var a=this.parentElement.querySelector('.faq-answer'),i=this.querySelector('.sa-faq-icon');if(a.classList.contains('open')){a.style.maxHeight='0';a.classList.remove('open');}else{a.style.maxHeight=a.scrollHeight+'px';a.classList.add('open');}i.classList.toggle('open');\"\n\nFor Table of Contents, use:\n\nonclick=\"var b=this.parentElement.querySelector('.sa-toc-body'),i=this.querySelector('.sa-toc-icon');b.classList.toggle('open');i.classList.toggle('open');\"\n\nFAQ answers must start with style=\"max-height:0;overflow:hidden;\" (closed by default).\n\nThe toggle indicator for both FAQ and ToC is a span containing the plain text character \"+\". It rotates 45 degrees when open (via the .open class in the bonus style block) to visually indicate the expanded state.\n\n---\n\nCOLOR PALETTE:\n\n- Primary accent: #0fb5b0\n- Secondary accent: #21dfd9\n- Dark (backgrounds, headings): #21252a\n- Dark hero gradient: linear-gradient(135deg,#131b3b 0%,#1e2d4a 50%,#0d2040 100%)\n- Dark table header gradient: linear-gradient(135deg,#131b3b 0%,#1e3050 100%)\n- Border: #e0e3e8\n- Light background (article wrapper): #f7f8fa\n- White card sections: #ffffff with box-shadow\n- Teal-tinted sections: linear-gradient(135deg,#f0fdfc 0%,#f5fffe 100%)\n- Takeaways gradient: linear-gradient(135deg,#e0f7f6 0%,#eafffe 50%,#f0fdfc 100%)\n- Table alternating rows: #f2f4f6\n- White: #ffffff\n\n---\n\nDESIGN STANDARDS:\n\n- Strong visual hierarchy: H1 > H2 > H3 > body text\n- H2 headings with 3px solid #0fb5b0 bottom border\n- H3 headings with 3px solid #0fb5b0 left border and 14px left padding\n- Alternating section backgrounds: white cards alternate with teal-tinted cards for visual rhythm and to reduce the \"too white\" feel\n- Callout blocks with accent border and subtle background gradient\n- Consistent CTA button styling: inline-block, background #0fb5b0, white text, 8px border-radius, 14px 36px padding\n- Tables with dark gradient header row, alternating row backgrounds (#f2f4f6), box-shadow, and hover effects\n- Author section with HORIZONTAL WORDMARK logo (NOT circular). Display: max-width:180px;height:auto;object-fit:contain;background:#fff;padding:8px 12px;border-radius:8px;border:1px solid #e0e3e8; — Do NOT use border-radius:50% or fixed square frame. Author name: PowerPlug Pro Editorial Team. Logo URL: https://powerplug.ai/wp-content/uploads/2022/06/powerplug-logo.png\n- Content area max-width 820px, centered\n- Readable typography with line-height 1.8 for body, 1.25-1.4 for headings\n- System font stack: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,sans-serif\n- Images with box-shadow for depth: box-shadow:0 4px 16px rgba(0,0,0,.06)\n\n---\n\nFINAL VALIDATION CHECKLIST (You MUST verify all before output):\n\n1. No dir=\"rtl\" attribute exists anywhere in the output.\n2. No CSS direction:rtl exists anywhere in the output.\n3. No CSS text-align:right exists anywhere in the output.\n4. The H1 has text-align:center !important in its inline style.\n5. Every visible element has an inline style attribute with direction:ltr !important.\n6. No script blocks exist (only inline onclick handlers).\n7. No external libraries, fonts, or CDN links are referenced.\n8. All original links are preserved exactly.\n9. All accordion elements start closed (max-height:0).\n10. The Author section is the last content element before floating buttons.\n11. CTA buttons link to real, functional pages.\n12. The wrapper is article dir=\"ltr\" lang=\"en\" class=\"sa-article\" with full inline styles.\n13. The template renders correctly even if WordPress strips the style block entirely.\n14. ZERO SVG elements exist anywhere in the output (grep for \"<svg\" must return 0 results).\n15. ZERO emoji characters exist anywhere in the output.\n16. ZERO icon fonts or icon libraries are referenced.\n17. Accordion toggle indicators use only the plain text \"+\" character.\n18. Back-to-top button uses only the &uarr; HTML entity.\n19. Contact Us button uses only plain text.\n20. Author logo URL is https://powerplug.ai/wp-content/uploads/2022/06/powerplug-logo.png — displayed as horizontal wordmark (max-width:180px;height:auto;object-fit:contain) — NOT as a circular avatar frame.\n\nFULL BLOG CONTENT (ENGLISH):\n{{ $item(0).$node[\"Writing Blog\"].json[\"output\"] }}\n\nIMAGE URLS:\nSection image 1 URL: {{ $json.images.section_1.url }}\nSection image 2 URL: {{ $json.images.section_2.url }}\nSection image 3 URL: {{ $json.images.section_3.url }}\nSection image 4 URL: {{ $json.images.section_4.url }}\n\nGenerate the complete HTML article now following all rules above.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1200,
        784
      ],
      "id": "42218288-14c3-4800-9a46-89fb0dc6bcc4",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-friendly URL slug for the following blog post.\n\nIMPORTANT:\n- The blog post content is written in ENGLISH.\n- The slug MUST be written in ENGLISH.\n- You must translate the primary keyword into natural, SEO-friendly English.\n- Use a clear, commonly used English phrasing.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nSlug rules:\n- The slug must be 3 words maximum.\n- The slug must include the primary keyword.\n- Use lowercase letters only.\n- Use hyphens (-) between words.\n- Do NOT include stop words unless necessary for clarity.\n- Do NOT include dates, numbers, or brand names unless essential.\n\nOutput rules:\n- Output ONLY the slug.\n- Do NOT include explanations or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        784
      ],
      "id": "2c8654f3-009a-4965-8e2c-6a335e6c83c3",
      "name": "slug"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the blog post title from the following blog post content.\n\nIMPORTANT:\n- The blog post content is written in ENGLISH.\n- The output title MUST be in ENGLISH.\n- Do NOT translate the title into Hebrew.\n- Do NOT change the meaning of the title.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nRules for the title:\n- The title must include the primary keyword:\n  {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n- The title must clearly inform users what they will learn from the blog post.\n- The title should be concise, clear, and SEO-friendly.\n- Do NOT add quotation marks.\n- Do NOT add markdown or formatting.\n- Do NOT add out-dated years or dates.\n\nOutput rules:\n- Output ONLY the blog post title.\n- Do NOT include any extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1968,
        784
      ],
      "id": "9cae5a21-0cdf-4245-895a-8aee78f26892",
      "name": "Post Title"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META DESCRIPTION.\n\nIMPORTANT:\n- Output must be written in ENGLISH.\n- Do NOT translate into Hebrew.\n- Do NOT include quotation marks.\n- Do NOT include branding unless it appears naturally in the keywords.\n## Language Requirements - CRITICAL\n\n- **Primary language**: English only for all content text.\n- **Exceptions allowed**:\n  - Company name: May remain in English if the original name is in English.\n  - Phone numbers: Use standard numeric digits (0-9).\n- **Strictly forbidden languages**: Arabic, Russian, Chinese, Hebrew, or any other non English characters.\n- **Character validation**: Ensure all text uses only English alphabet (A-Z, a-z), and standard punctuation marks.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta description rules:\n- Length must be between 150–160 characters (Google recommended range).\n- Must include the primary keyword naturally.\n- Include 1–2 supporting keywords if they fit naturally.\n- Clearly explain what the reader will learn or gain.\n- Use engaging, click-worthy language (action verbs or a soft question).\n- Accurately reflect the topic and intent to avoid misleading clicks.\n- Sound natural and appealing to a Hebrew-speaking audience in Israel.\n- Avoid keyword stuffing.\n\nOutput rules:\n- Output ONLY the meta description text.\n- Do NOT include explanations, formatting, or extra text.\n- DO NOT create and \",' or other marks or signals.\nIF output contains: signs or signal such as: \\ or \" etc., you MUST replace them with space instead.\nExample: if you have this \"חז״ל\" = INVALID.\nInstead, fix this: \"חז ל\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2896,
        784
      ],
      "id": "8d78ef26-b7b5-43c3-952b-8703407e3a76",
      "name": "Meta Description"
    },
    {
      "parameters": {
        "content": "## Meta Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        704
      ],
      "typeVersion": 1,
      "id": "ec7b94da-52bd-41fd-bf0c-1ca63deea406",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META TITLE.\n\nIMPORTANT:\n- Output must be written in ENGLISH.\n- Do NOT translate into Hebrew.\n- Do NOT include quotation marks or branding.\n\n## Language Requirements - CRITICAL\n\n- **Primary language**: English only for all content text.\n- **Exceptions allowed**:\n  - Company name: May remain in English if the original name is in English.\n  - Phone numbers: Use standard numeric digits (0-9).\n- **Strictly forbidden languages**: Arabic, Russian, Chinese, Hebrew, or any other non-English characters.\n- **Character validation**: Ensure all text uses the English alphabet (A-Z, a-z), and standard punctuation marks.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta title rules:\n- Must include the primary keyword exactly as written (in English).\n- Must clearly communicate the main topic or benefit.\n- Length must be between 50–60 characters (Google recommended display range).\n- Avoid filler words and unnecessary punctuation.\n- Sound natural to a English-speaking audience in USA.\n\nOutput rules:\n- Output ONLY the meta title text.\n- Do NOT include any explanations or extra text.\n- DO NOT create and \",' or other marks\nIF output contains: signs or signal such as: \\ or \" etc., you MUST replace them with space instead.\nExample: if you have this \"חז״ל\" = INVALID.\nInstead, fix this: \"חז ל\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2416,
        784
      ],
      "id": "bd80faf0-6052-4f4d-a601-64444bb6eace",
      "name": "Meta Title"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        1376
      ],
      "id": "fff2e0a7-772a-4e07-8a82-0d10398ebfb9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        1568
      ],
      "id": "1269f160-fc97-400b-a2fe-6fb9f2a80a02",
      "name": "Wait",
      "webhookId": "3cf57eb9-e58f-422c-a2ef-0479c61334a3"
    },
    {
      "parameters": {
        "jsCode": "function normalizeInnerQuotes(s) {\n  if (!s || typeof s !== \"string\") return s;\n\n  s = s.replace(/[״”“]/g, '\"');\n  s = s.replace(/([\\u0590-\\u05FF0-9A-Za-z])\"(?=[\\u0590-\\u05FF0-9A-Za-z])/g, \"$1״\");\n  s = s.replace(/[\\u202A-\\u202E\\u2066-\\u2069]/g, \"\");\n  return s;\n}\n\nfunction makeFilenameSafe(s) {\n  if (!s) return \"\";\n  return String(s)\n    .normalize(\"NFKD\")\n    .replace(/[^\\p{L}\\p{N}\\s]+/gu, \"\")\n    .trim()\n    .replace(/\\s+/g, \"_\")\n    .replace(/-+/g, \"\");\n}\n\nconst raw = $json.output ?? $json;\nlet plan = raw;\nif (typeof raw === \"string\") {\n  // Remove markdown code fences, e.g. ```json or ```\n  const removeFences = s => s.replace(/```(?:json)?|```/gi, '').trim();\n  const cleaned = normalizeInnerQuotes(removeFences(raw));\n  plan = JSON.parse(cleaned);\n}\n\n// ✅ IMPORTANT: handle array wrapper: [ { hero, sections } ]\nif (Array.isArray(plan)) {\n  plan = plan[0] || {};\n}\n\nconst out = [];\n\n// HERO\nif (plan?.hero?.prompt && String(plan.hero.prompt).trim()) {\n  out.push({\n    json: {\n      slot: \"hero\",\n      type: plan.hero.type || \"hero\",\n      prompt: plan.hero.prompt,\n      source_text: plan.hero.source_text || \"\",\n      translation_en: plan.hero.translation_en || \"\",\n      h2_text: \"\",\n      alt: plan.hero.source_text || \"\",\n      filename_safe:\n        plan.hero.filename_safe ||\n        makeFilenameSafe(plan.hero.translation_en || plan.hero.source_text || \"hero\"),\n    },\n  });\n}\n\n// SECTIONS\n(plan?.sections || [])\n  .filter(s => s?.prompt && String(s.prompt).trim())\n  .forEach((s, i) => {\n    out.push({\n      json: {\n        slot: `section_${i + 1}`,\n        type: s.type || \"section\",\n        prompt: s.prompt,\n        h2_text: s.h2_text || \"\",\n        source_text: s.source_text || \"\",\n        translation_en: s.translation_en || \"\",\n        alt: s.h2_text || s.source_text || \"\",\n        filename_safe:\n          s.filename_safe ||\n          makeFilenameSafe(s.translation_en || s.h2_text || `section_${i + 1}`),\n      },\n    });\n  });\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1376
      ],
      "id": "cd78f57b-c33c-471d-b4f4-ce981d6c9239",
      "name": "Cleaning Image Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 165cc5401c1882a5442b943172fc6afe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"callBackUrl\": \"{{$execution.resumeUrl}}\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        1568
      ],
      "id": "c52ec215-1f09-4c46-a36b-724a6a149392",
      "name": "Image Generation"
    },
    {
      "parameters": {
        "jsCode": "// We receive the callback item from KIE\n// In n8n, the JSON for this item looks like:\n// { headers: {...}, body: { code, data: { resultJson, taskId, state, ... } }, ... }\n\nconst item = $json;\n\n// Safely get the body object\nconst body = item.body || {};\nconst data = body.data || {};\n\nlet imageUrl = null;\nlet parsedResult = null;\n\nif (data.resultJson) {\n  try {\n    // resultJson is a JSON string, so we must parse it\n    parsedResult = JSON.parse(data.resultJson);\n\n    if (Array.isArray(parsedResult.resultUrls) && parsedResult.resultUrls.length > 0) {\n      imageUrl = parsedResult.resultUrls[0];\n    }\n  } catch (error) {\n    throw new Error('Could not parse resultJson: ' + error.message);\n  }\n}\n\nreturn [\n  {\n    json: {\n      imageUrl,              // 👈 this is your final image URL\n      state: data.state,     // \"success\"\n      taskId: data.taskId,   // useful for logging\n      rawResultJson: data.resultJson\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1568
      ],
      "id": "4708e28d-3c0b-4852-8771-1c7c023336ba",
      "name": "Getting URLS"
    },
    {
      "parameters": {
        "jsCode": "const items = $items();\nconst urls = items.map(i => i.json[\"Image URL\"]).filter(Boolean);\n\nconst images = {\n  hero: urls[0] || null,\n  section_1: urls[1] || null,\n  section_2: urls[2] || null,\n  section_3: urls[3] || null,\n  section_4: urls[4] || null,\n};\n\nreturn [{ json: { images } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1360
      ],
      "id": "2d1c61f6-04d7-45cf-bc7f-d549c6f5e157",
      "name": "Collect images URLS"
    },
    {
      "parameters": {
        "content": "## Image Generation\n",
        "height": 496,
        "width": 1164
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1328
      ],
      "typeVersion": 1,
      "id": "b0dd443f-5469-4077-a4d3-fff0aa42fb66",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1359853134,
          "mode": "list",
          "cachedResultName": "Generated Images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUlVPKoAXwrTnSkEdCzk2MJCg1S0gKWYRPDRxrGXJi4/edit#gid=1359853134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"row_id\"] }}",
            "Image URL": "={{ $json.imageUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        1568
      ],
      "id": "c65d3d5d-9d92-4e66-ae57-5924fa7c25ef",
      "name": "Save image URLS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "2390c6da-c8e8-4f45-b123-5049c7b98442",
      "name": "Download Image (PNG URL → Binary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1184,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://powerplug.ai/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "={{ 'attachment; filename=\"' + $json.filename_safe + '.png\"' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "03244177-c5e3-480b-8223-f3f925bdd3fb",
      "name": "Upload to WordPress (Media)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1392,
        1376
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image Upload to wordpress \n",
        "height": 336,
        "width": 844
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        1296
      ],
      "typeVersion": 1,
      "id": "04c0f874-b46d-4e02-8a22-14c91b6888be",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://powerplug.ai/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{ \"alt_text\": $(\"Preparing Image Data\").item.json.alt, \"title\": $(\"Preparing Image Data\").item.json.alt } }}",
        "options": {}
      },
      "id": "00736ab3-d8f7-4b58-a801-017bc00005c9",
      "name": "Image Alt Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1568,
        1376
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=INPUT:\n\nKeywords:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Keywords\"] }}\n\nSearch Intent:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Intent\"] }}\n\nPrimary Keyword:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}\n\nPreliminary Plan:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nResearch Findings:\n{{ $('Fix Links').item.json.research }}\nInternal Links List (parsed, NOT text):\n{{ JSON.stringify($json.data, null, 2) }}\n\n# 🎯 פרומפט מאוחד ל־N8N – יצירת תכנית מבנה למאמר SEO (עם סינון מקורות מתחרים)\n\n---\n\n## 🎯 ROLE\n\nYou are part of a professional team that creates **world-class, SEO-optimized blog post plans**  \nfor Israeli websites, intended to be written by **non-expert copywriters**.\n\n---\n\n## 🌍 LANGUAGE RULES (STRICT)\n\n- All input is provided in **ENGLISH**.\n- You must analyze and generate the output in **ENGLISH ONLY**.\n- Do **NOT** translate from Hebrew.\n- Do **NOT** include Hebrew words unless they are **common English search terms**.\n- Do **NOT** mention rules, laws, or regulations.\n- Do **NOT** create an H1 anywhere in the article.\n- Do **NOT** add an article title.\n\n---\n\n## 🧩 INPUT YOU RECEIVE FOR EACH PROJECT\n\nYou are provided with:\n\n- **Keywords** – SEO keywords the article must rank for  \n- **Primary Keyword** – must appear in the opening section  \n- **Search Intent** – the user’s goal when searching  \n- **Preliminary Plan** – rough outline or draft ideas  \n- **Research Findings** – raw external research (UNTRUSTED, must be filtered)  \n- **Internal Links List** – parsed list of internal URLs with explanations  \n\n---\n\n## 🧠 YOUR TASK\n\nCreate a **VERY DETAILED blog post plan** that:\n\n- Is written in **BULLET POINTS ONLY**\n- Describes the **full logical structure and flow** of the article\n- Clearly explains **WHAT** should be written in each section and **HOW**\n- Explicitly states **which keywords** must appear in each section\n- Uses **ALL keywords** across the plan\n- Fully satisfies the **Search Intent**\n- Can be handed directly to a **non-expert copywriter**\n\n---\n\n## 🧱 STRUCTURE RULES (CRITICAL)\n\n- ❌ Do NOT create an H1  \n- ❌ Do NOT add an article title  \n- ✅ Use **H2 + H3 only**  \n- ✅ Output must be **BULLET POINTS ONLY**\n- ❌ No paragraphs\n- ❌ No explanations outside the plan itself\n\n---\n\n## 🔍 EXTERNAL RESEARCH RULES\n\n- External research is used **for credibility and facts only**\n- Every research point must:\n  - Be assigned to a **specific section**\n  - Include the **SOURCE URL** next to the bullet\n- External links are **references only** (NOT embedded hyperlinks)\n\n### 🔗 External Link Quantity (Writing Stage Rule)\n- The final written article must include **EXACTLY 1 external link for the entire article**\n- That link must come from the **approved research sources in this plan**\n- This rule is enforced **during WRITING**, but:\n  - The plan must include **enough filtered research** to support this\n\n---\n\n## 🚫 EXTERNAL RESEARCH FILTERING RULES (CRITICAL – APPLY BEFORE USING ANY SOURCE)\n\n- Treat `Research Findings` as **UNTRUSTED INPUT**\n- For **every research URL**, extract the **domain** and apply filtering:\n\n### ✅ ALLOWLIST LOGIC\n- Allowed if domain is **clearly institutional / research**, such as:\n  - Government\n  - Regulation\n  - Official statistics\n  - PDF\n  - Research magazine\n\n### ❌ DENYLIST LOGIC (AUTO-DISQUALIFY)\n- Do NOT use sources that are:\n  - CRM vendors\n  - Software providers\n  - SaaS platforms\n  - Marketing agencies\n  - Comparison / affiliate CRM sites\n  - Pages offering demos, trials, pricing, or sales funnels\n- If a domain appears to **sell, promote, compare, or market CRM** → **DISQUALIFY**\n\n### ⚠️ UNCERTAIN SOURCES\n- If a domain is NOT clearly allowed or denied:\n  - Use it **ONLY IF** it is neutral, informational, and non-commercial\n  - If in doubt → **DO NOT USE**\n\n### 🚨 INSUFFICIENT ALLOWED SOURCES\n- If, after filtering, there are not enough valid sources:\n  - Add bullets stating: **\"נדרש מחקר נוסף ממקורות ניטרליים\"**\n  - ❌ Do NOT invent URLs\n  - ❌ Do NOT reuse denied sources\n\n---\n\n## 🔗 INTERNAL LINK RULES (CRITICAL)\n\n- You are PROVIDED with a list of internal links\n- You MUST select **1–3 internal links**\n- You MUST NOT claim no links were provided if the list is not empty\n- Links must be:\n  - **Contextually embedded** inside relevant sections\n  - NOT grouped in a separate section\n\n### For EACH internal link you select, you MUST specify:\n- The **EXACT URL**\n- The **EXACT English anchor text**\n- **Exact instructions** on:\n  - WHERE the link appears\n  - HOW it is integrated naturally in the sentence\n\n### Additional Internal Link Rules\n- ❌ Do NOT select links targeting the **Primary Keyword** (avoid cannibalization)\n- ❌ Do NOT invent links\n- ✅ Use ONLY the provided list\n- ✅ Prefer links that **support** the topic, not duplicate it\n\n---\n\n## ✍️ TONE & STYLE\n\n- Tone and messaging must match:\n{{ $('Grab New Cluster').item.json.Website }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        784
      ],
      "id": "2f26bdc6-3139-4e25-b7b8-8ddb38562666",
      "name": "Post Plan"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=OUTPUT: Return ONLY a single continuous HTML article (unstyled). No code blocks. No duplicate copy. No text outside HTML.\n\nLANGUAGE: English only.\n\nSTRUCTURE:\nCRITICAL STRUCTURAL RULE – H1 PROHIBITION (MANDATORY)\n\n- It is strictly forbidden to include an H1 heading.\n- Do NOT generate <h1>, Markdown # titles, or any main title format.\n- The article MUST NOT contain H1 at any position.\n- All headings MUST start from H2 (<h2>) and below only.\n- If an H1 appears, the output is INVALID.\n\nThe article MUST begin with a opening paragraph.\nAfter the opening paragraph, H2\n\n────────────────────────────────────────\nOUTPUT FORMAT RULES (MANDATORY)\n\n- Output MUST be full HTML only.\n- Do NOT output Markdown.\n- Do NOT use #, ##, bullet Markdown, or code fences.\n- Use only valid HTML elements:\n  article, h2, h3, p, ul, ol, li, table, thead, tbody, tr, th, td,\n  details, summary, strong, em, a, div, img\n- Wrap the entire content in a single <article dir=\"rtl\"> element.\n\nHEADINGS:\nCONTENT LENGTH:\n- יעד אורך: להתאים לממוצע המתחרים ולכסות היטב את הנושאים; אם נדרש להגיע ל-2500–3500 מילים, עשה זאת באמצעות יותר כותרות H2 עצמאיות.\n- עד 150 מילים לכל מקטע תחת H2/H3.\n\nSPLIT RULE:\n- אם צריך להרחיב מעבר ל-150 מילים תחת H2: ברירת מחדל היא יצירת H2 נוסף (סעיף המשך).\n- השתמש ב-H3 רק כאשר יש היררכיה ברורה שמצדיקה פירוק פנימי של אותו נושא.\n\nHEADINGS VARIATION:\n- לפחות 50% מכותרות H2 יהיו ללא H3 כלל.\n- יחס H3:H2 לא יעלה על 1:1 בממוצע לאורך המאמר (מותר H3, אבל לא “הצפה” קבועה).\n- אין דפוס קבוע של H2→H3. ערבב H2 עם פסקאות בלבד, H2 עם טבלה, H2 עם H3 יחיד, וחלק עם H2 המשך במקום H3.\n\nANTI-TEMPLATE:\n- אל תפתח יותר מ-2 כותרות H2 באותו מבנה משפט.\n- כל H2 חייב להתחיל בזווית אחרת (שאלה/תרחיש/טעות/השוואה/הבחנה/דוגמה).\n\nH2 DIVERSITY REQUIREMENT:\n- כלול לפחות 6 כותרות H2 מסוגים שונים: שאלה, תרחיש, השוואה, טעויות נפוצות, מדדים/בדיקות, וטבלה (לפחות אחת).\n\n\nLINKS:\n- Mandatory 2-3 external links total in the article.use the external links from {{ $('Message a model').item.json.output[0].content[0].text }}\n- Contact page link on {{ $('Grab New Cluster').item.json.Website }} is INTERNAL and allowed at the end.\n- Internal links: only URLs provided in the outline input; each URL may appear at most once.\n\nLISTS:\n- No bullet/numbered lists and no <ul>/<ol>/<li>.\n- If not enough approved external sources: add one short <p> saying \"נדרש מחקר נוסף ממקורות ניטרליים.\" (no bullets).\n\nSCHEMA:\n- Include FAQ: 4–7 questions. Use minimal H3 for questions, staying within max H3.\n\nALLOWED HTML TAGS ONLY:\n<p><h2><h3><table><thead><tbody><tr><th><td><strong><a>\n\nTABLES (ALLOWED + RECOMMENDED)\n- מותר ואף מומלץ להשתמש בטבלאות HTML במאמר.\n- חובה לכלול לפחות טבלה אחת, ועד 3 טבלאות לכל היותר.\n- טבלאות חייבות להיות אינפורמטיביות (השוואה/צ’ק-ליסט/קריטריונים/מיפוי תהליך), לא “טבלת שיווק”.\n- מותר להשתמש רק בתגיות: <table><thead><tbody><tr><th><td> (בתוך המסגרת המאושרת).\n\nRELATIVE ADVANTAGES OF {{ $('Grab New Cluster').item.json.Website }} (MANDATORY, NATURAL)\n- חובה לשלב במאמר את היתרונות היחסיים של {{ $('Grab New Cluster').item.json.Website }} בצורה טבעית ולא מכירתית.\n- הצגה באמצעות אחד מהבאים (או שילוב):\n  1) פסקאות קצרות בתוך סעיפים רלוונטיים (למשל: הטמעה, אוטומציה, תמיכה, התאמה לעסקים בישראל).\n  2) טבלה אחת שממפה \"צורך עסקי\" → \"איך האתר/המערכת עוזרים בפועל\" (לא להשוות במפורש למתחרים).\n- אסור להבטיח הבטחות מוחלטות (“הכי טוב”, “מספר 1”, “מבטיחים”), רק ניסוח מבוסס שימושיות.\n- אין להזכיר שמות מתחרים ואין להשוות למוצרים ספציפיים; רק יתרונות יחסיים כלליים (מה מקבלים בפועל ולמה זה מתאים).\n- יש לשלב לפחות 3 יתרונות שונים במקומות שונים במאמר, בלי חזרתיות ניסוח.\n\nEND:\n- No “סיכום”.\n- End with a question + CTA paragraph + internal link to the contact page. of the website.\n\nTONE OF WRITING:\n\n# System Prompt: Writing Articles in the PowerPlug Tone of Voice\n\n## 1. Your Role\n\nYou are an expert B2B technology and IT-operations content writer specializing in **PC power management, endpoint energy optimization, remote wake-up technology, IT efficiency, enterprise software rollouts, and sustainability-focused IT operations**. You are writing for **PowerPlug**, a software company that helps organizations reduce PC energy consumption, improve IT operations, enable remote PC wake-up, and support sustainability goals through enterprise PC power management software. PowerPlug positions its platform as a practical, ROI-driven solution for organizations that want to cut electricity costs without compromising employee productivity or IT control. :contentReference[oaicite:0]{index=0}\n\nYour audience is:\n- **CIOs, IT directors, infrastructure leaders, and endpoint-management teams** looking to reduce energy waste, strengthen endpoint availability, and improve operational efficiency\n- **Sustainability, facilities, procurement, and finance stakeholders** who care about cost savings, measurable ROI, and lower carbon impact across large PC environments\n- **Enterprise and public-sector decision-makers** in healthcare, education, government, and large distributed organizations managing hundreds to tens of thousands of PCs :contentReference[oaicite:1]{index=1}\n\nYour goal is to create **professional, credible, insight-driven, conversion-focused content** that helps readers understand the operational and financial cost of unmanaged PC power use, explains the practical path to improvement, and positions PowerPlug as the trusted solution for enterprise PC power management. :contentReference[oaicite:2]{index=2}\n\n---\n\n## 2. Core Writing Principles\n\nOverall tone: **professional, credible, practical, ROI-driven, and solution-oriented**.\n\n| Principle | Details & Guidelines |\n| :--- | :--- |\n| **Business-First and Outcome-Focused** | Write like a strategic advisor speaking to enterprise IT and business leaders. Focus on measurable outcomes such as reduced electricity spend, faster ROI, improved maintenance windows, better software deployment success, and stronger endpoint control. PowerPlug claims organizations with 1,000 PCs can save up to $50,000, and that full ROI can be achieved in as little as four months. :contentReference[oaicite:3]{index=3} |\n| **Technical but Accessible** | Explain PC power management, wake-up capabilities, and IT operations in clear business English. The reader may be technical, but the writing should still be easy to scan and easy to act on. Avoid unnecessary jargon. :contentReference[oaicite:4]{index=4} |\n| **Operationally Practical** | Emphasize real enterprise use cases: devices left on overnight, failed maintenance windows, remote and hybrid work, energy waste across large fleets, software deployment challenges, and the need to keep endpoints available without leaving them powered on 24/7. :contentReference[oaicite:5]{index=5} |\n| **ROI + Sustainability Together** | Treat cost savings and carbon reduction as complementary, not competing, goals. PowerPlug’s messaging consistently combines financial impact with environmental impact. The site states customers have saved over $50M, eliminated over 390 GW of consumption, and reduced over 200,000 tons of CO2. :contentReference[oaicite:6]{index=6} |\n| **Proof-Driven and Credible** | Use concrete examples, named customers, and logical business reasoning. PowerPlug highlights case studies involving Clalit Health Services, Rambam Healthcare Campus, Ben-Gurion University, and additional organizations across healthcare, government, education, and enterprise sectors. :contentReference[oaicite:7]{index=7} |\n| **Confident, Not Overhyped** | Be decisive and persuasive, but avoid grandiose or vague claims. Do not invent features, certifications, deployment times, integration capabilities, or customer outcomes beyond what the site supports. PowerPlug explicitly highlights integration with Microsoft Active Directory, Microsoft Configuration Manager (SCCM), attendance systems, low maintenance, and easy deployment. :contentReference[oaicite:8]{index=8} |\n\n---\n\n## 3. Ideal Article Structure\n\nYou must follow this structure when writing an article:\n\n### 1) Headline\nThe headline must be:\n- benefit-driven\n- relevant to enterprise IT or business leadership\n- clear and practical\n- framed around a business challenge or strategic opportunity\n\nGood headline patterns:\n- “How to Reduce Enterprise PC Energy Costs Without Disrupting Productivity”\n- “Why PC Power Management Should Be Part of Your IT Operations Strategy”\n- “How Remote Wake-Up Technology Improves IT Maintenance and Endpoint Availability”\n- “5 Ways Large Organizations Can Cut Energy Waste Across Their PC Fleet”\n- “What CIOs Should Know About PC Power Management ROI”\n\nThe headline should clearly match the reader’s intent:\n- cost reduction\n- endpoint efficiency\n- remote wake-up\n- IT operations\n- sustainability\n- enterprise rollout\n- maintenance optimization\n- energy management\n\n---\n\n### 2) Opening Paragraph (The Pain Point)\nStart with a realistic enterprise challenge:\n- too many PCs left powered on after hours\n- energy bills rising across large fleets\n- hybrid employees need remote access to office machines\n- IT teams struggle to patch or deploy software when endpoints are unavailable\n- organizations want sustainability wins that also produce fast ROI\n- endpoint security and operational control become harder when power states are unmanaged\n\nThen explain the impact:\n- unnecessary energy spend\n- reduced IT efficiency\n- missed maintenance windows\n- lower deployment success rates\n- preventable carbon emissions\n- avoidable operational friction\n\nPromise a clear explanation and a practical path forward.\n\n**Example template:**\n\n“In large organizations, unmanaged PC power usage creates two expensive problems at once: wasted electricity and reduced IT control. When endpoints stay on unnecessarily or remain unavailable during maintenance windows, the result is higher operating costs, more friction for IT teams, and fewer opportunities to improve efficiency at scale.”\n\n---\n\n### 3) Body of the Article (The Solution)\nDivide the article into **3 to 5 clear subheadings**.\n\nEach section should:\n- explain one challenge or opportunity clearly\n- connect it to a business or IT outcome\n- show what an effective PC power management approach looks like\n- naturally position PowerPlug as the practical solution\n\nRecommended subheading types:\n- “The Hidden Cost of Leaving Enterprise PCs Powered On”\n- “Why IT Teams Need Better Control Over Endpoint Power States”\n- “How Remote Wake-Up Supports Hybrid and Distributed Work”\n- “What to Look for in Enterprise PC Power Management Software”\n- “Why Fast ROI Matters in Energy Optimization Projects”\n- “How Power Management Supports Both Sustainability and IT Performance”\n\nUse bullet points often for clarity.\n\n**Example transition style:**\n\n“This is where enterprise PC power management becomes more than an energy-saving initiative. It becomes an operational advantage. With a platform like PowerPlug, organizations can automate power policies, maintain endpoint availability for IT tasks, and reduce unnecessary electricity use at the same time.” :contentReference[oaicite:9]{index=9}\n\n---\n\n### 4) Concluding Paragraph + CTA\nClose with:\n- a concise summary of the challenge and solution\n- the business value of taking action\n- a clear CTA tied to PowerPlug\n\nCTA examples:\n- “Ready to reduce PC energy waste while improving IT operations? Contact PowerPlug to see how the platform fits your environment.”\n- “Discover how PowerPlug helps organizations cut electricity costs, improve endpoint availability, and achieve fast ROI.”\n- “If your team is looking for a practical way to reduce energy use without compromising productivity, talk to PowerPlug about your PC environment.” :contentReference[oaicite:10]{index=10}\n\n---\n\n## 4. DOs & DON'Ts\n\n| Category | DO ✓ | DON'T ✗ |\n| :--- | :--- | :--- |\n| **Audience** | Write for CIOs, IT leaders, infrastructure teams, and enterprise stakeholders. | Don’t write like a consumer-tech or lifestyle brand. |\n| **Focus** | Focus on outcomes: cost savings, ROI, endpoint control, patching success, remote access, and sustainability. | Don’t focus only on features without explaining business value. |\n| **Language** | Use clear, direct, business-oriented English. | Don’t use slang, filler, emojis, or overly casual phrasing. |\n| **Credibility** | Use examples from real customers and sectors highlighted on the site, such as healthcare, universities, public institutions, and global organizations. | Don’t invent customer stories or unsupported proof points. |\n| **Confidence** | Be decisive and strategic in tone. | Don’t sound uncertain or overly speculative. |\n| **Technical Detail** | Explain integrations and capabilities only when supported, such as Active Directory, SCCM, wake-up portal access, and policy automation. | Don’t invent product modules, AI capabilities, or integrations the site does not mention. |\n| **Claims** | Reference supported claims such as up to 60% PC energy savings, ROI in as little as four months, and improved IT maintenance availability where relevant. | Don’t overstate universal results or present every metric as guaranteed. :contentReference[oaicite:11]{index=11} |\n\n---\n\n## 5. Brand Vocabulary & Phrases\n\n### Preferred positioning phrases\nUse naturally:\n- “enterprise PC power management”\n- “reduce energy costs”\n- “optimize IT operations”\n- “remote wake-up technology”\n- “endpoint availability”\n- “power management platform”\n- “cut electricity waste”\n- “improve software deployment success”\n- “fast ROI”\n- “sustainability and cost savings”\n- “power policies at scale”\n- “reduce carbon impact”\n- “integrates with existing IT infrastructure” :contentReference[oaicite:12]{index=12}\n\n### Preferred adjectives\nEfficient, scalable, practical, proven, enterprise-grade, measurable, reliable, strategic, integrated, low-maintenance, sustainable.\n\n### Preferred verbs\nReduce, optimize, manage, automate, improve, integrate, enable, scale, deploy, wake, control, streamline, cut, support, measure.\n\n### Sentence templates for article writing\n- “For enterprise IT teams, the challenge is not just reducing energy use. It is doing so without losing visibility, control, or productivity.”\n- “This is where PC power management shifts from a cost-control tactic to an operational advantage.”\n- “A key benefit of PowerPlug is the ability to align energy savings with real IT needs, including maintenance windows, deployments, and hybrid access.”\n- “Organizations with large PC fleets need a solution that is easy to deploy, low-maintenance, and capable of delivering measurable ROI.”\n- “Ultimately, the value is not only lower electricity consumption, but better endpoint management across the environment.”\n\n---\n\n## 6. Recommended Content Blocks\n\n### A) Business Impact Block\nUseful in strategic articles:\n- reduced electricity costs\n- faster return on investment\n- improved IT maintenance windows\n- better endpoint availability\n- stronger support for remote and hybrid employees\n- lower carbon footprint\n- extended hardware lifespan through better power-saving practices :contentReference[oaicite:13]{index=13}\n\n### B) What PowerPlug Helps Organizations Do\nUseful in product-adjacent articles:\n- automate PC power policies\n- remotely wake devices when needed\n- keep PCs available for maintenance and software deployment\n- reduce wasted after-hours power consumption\n- integrate with Active Directory and SCCM\n- support energy efficiency goals across large fleets :contentReference[oaicite:14]{index=14}\n\n### C) Proof / Case Study Block\nUseful in trust-building sections:\n- Clalit Health Services: over $1.2M in annual savings across 45,000 PCs\n- Rambam Healthcare Campus: ROI in less than 4 months\n- Ben-Gurion University: cut PC power costs by over 50%\n- customer base includes hospitals, universities, municipalities, government bodies, and enterprises :contentReference[oaicite:15]{index=15}\n\nOnly use these examples when relevant to the topic.\n\n---\n\n## 7. Content Types and How to Write Them\n\n### A) Thought Leadership / Strategy Article\nMust include:\n- a clear enterprise challenge\n- business and IT implications\n- a practical, strategic solution\n- why PC power management deserves executive attention\n\n### B) IT Operations Article\nMust include:\n- maintenance windows\n- software deployment success\n- endpoint availability\n- remote wake-up value\n- integration with existing management workflows :contentReference[oaicite:16]{index=16}\n\n### C) Sustainability / ESG Article\nMust include:\n- measurable energy reduction\n- carbon reduction framing\n- cost savings alongside sustainability\n- practical implementation, not abstract ideals :contentReference[oaicite:17]{index=17}\n\n### D) ROI / Procurement Article\nMust include:\n- why the business case is strong\n- fast payback and operational benefits\n- low maintenance and easy deployment\n- why organizations do not need a massive transformation to get value :contentReference[oaicite:18]{index=18}\n\n### E) Hybrid Work / Remote Access Article\nMust include:\n- the problem of needing access to office PCs remotely\n- how wake-up technology solves that challenge\n- the balance between employee productivity and energy efficiency :contentReference[oaicite:19]{index=19}\n\n---\n\n## 8. Tone Rules\n\n### The writing should feel:\n- strategic\n- credible\n- practical\n- enterprise-oriented\n- confident\n- measured\n- solution-focused\n\n### The writing should not feel:\n- consumer-oriented\n- flashy\n- vague\n- overly promotional\n- jargon-heavy\n- speculative\n- generic\n\n---\n\n## 9. Final Instructions\n\nBefore writing, identify:\n\n1. **The reader**\n   - CIO\n   - IT director\n   - endpoint management leader\n   - sustainability lead\n   - procurement stakeholder\n   - operations executive\n\n2. **The primary intent**\n   - reduce energy spend\n   - improve endpoint availability\n   - support remote wake-up\n   - optimize IT operations\n   - justify investment\n   - improve sustainability outcomes\n\n3. **The article angle**\n   - strategic\n   - operational\n   - ROI-driven\n   - technical-executive\n   - proof/case-study-led\n\n4. **The proof points to use**\n   - up to 60% PC energy savings\n   - ROI in as little as 4 months\n   - integration with AD and SCCM\n   - real customer examples\n   - environmental impact and electricity savings metrics, when relevant and supported :contentReference[oaicite:20]{index=20}\n\n5. **The CTA**\n   - contact PowerPlug\n   - get started\n   - learn more about the platform\n   - discuss enterprise fit\n   - explore case studies or wake-up capabilities :contentReference[oaicite:21]{index=21}\n\nFrom now on, write all content for **PowerPlug** using this tone, structure, and brand voice.\n\nEND WRITING TONE\n\nArticle Research:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nArticle OUTLINE:\n{{ $json.output }}\nWebsite Internal Links:\n{{ $item(0).$node[\"Fix Links\"].json.research }}\n\nWrite the full article now.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        784
      ],
      "id": "aed97953-cb67-40fc-b69b-ed77763318a0",
      "name": "Writing Blog"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"You are an image prompt generation system. You receive a full blog article as input. You output structured image prompts bound to the article's content and locked to a specific brand design system. You follow every rule below with zero deviation.\n\n---\n\n## LOCKED DESIGN TOKENS\n\nThese values are final and immutable for every image prompt you generate:\n\n- BRAND_PRIMARY_COLOR: #131b3b\n- BRAND_SECONDARY_COLOR: #7238ce\n- BRAND_ACCENT_COLOR: #8AD628\n- BACKGROUND_STYLE: light\n- TYPOGRAPHY_MOOD: modern clean sans-serif professional\n- UI_MOOD: professional, airy, elevated with subtle depth\n- BORDER_RADIUS: 17px\n- SHADOW_STYLE: soft diffused shadow (0px 30px 30px rgba(0,0,0,0.18))\n- VISUAL_DENSITY: airy and balanced with generous whitespace\n- ALLOWED_COLORS: #131b3b, #7238ce, #8AD628, #ffffff, #333333\n- SATURATION: vibrant\n- GRADIENTS: prominent, used as background transitions between brand colors\n- MOTIFS: energy, technology, sustainability, enterprise software, healthcare, green\n\nEvery image prompt you produce MUST explicitly reference colors by HEX from ALLOWED_COLORS. No color outside this set is permitted under any circumstance.\n\n---\n\n## STEP 1: EXTRACT HEADINGS\n\nFrom the input article, extract:\n1. The H1 title (exactly one).\n2. All H2 headings, numbered sequentially in the exact order they appear (H2 #1, H2 #2, H2 #3, …).\n\n---\n\n## STEP 2: IMAGE PLANNING LOGIC\n\nHERO IMAGE: Always generated. Exactly one. Based on the H1 title.\n\nSECTION IMAGES: Determined by the total count of H2 headings.\n\n- If the article contains FEWER THAN 4 H2 headings: generate ZERO section images. All 4 section slots output empty strings.\n- If the article contains 4 or more H2 headings: generate a section image for H2 #4. Then generate one additional section image for every 3 subsequent H2 headings: H2 #7, H2 #10, H2 #13, and so on. Stop when there are not enough remaining H2 headings to reach the next target index. Maximum 4 section images total regardless of article length.\n\nSection image assignment order fills slots 1 through 4 sequentially. Unused slots remain empty.\n\n---\n\n## STEP 3: TRANSLATION RULES\n\nHERO:\n- source_text: the H1 title exactly as it appears in the article.\n- translation_en: the H1 title translated into English. If the H1 is already in English, repeat it.\n\nSECTIONS:\n- For every section slot that has a matched H2: h2_text is the H2 heading exactly as it appears in the article. translation_en is that H2 translated into English. If the H2 is already in English, repeat it.\n- For every section slot that has no matched H2: h2_text is \"\"\"\". translation_en is \"\"\"\".\n\ntranslation_en is NEVER null. It is always a string.\n\n---\n\n## STEP 4: CONTENT BINDING RULE\n\nEach section image prompt MUST be derived strictly and exclusively from the content under its specific matched H2 heading, up to the next H2 or end of article. No cross-section mixing. No borrowing from other sections. No generalizing across the article.\n\n---\n\n## STEP 5: INFOGRAPHIC DETECTION\n\nBefore writing each section image prompt, inspect the content under the matched H2. If that content contains ANY of the following:\n- Numbered steps or sequences\n- Bullet lists with 3 or more items\n- Pricing, plans, or packages\n- Statistics, percentages, or numerical comparisons\n- Tables, pros and cons, or side-by-side comparisons\n- Multiple short structured items in a list format\n\nTHEN the image MUST be an infographic.\n\nInfographic prompts MUST:\n- Include the exact phrase \"\"clean infographic layout\"\".\n- Reference brand colors by HEX: primary #131b3b, secondary #7238ce, accent #8AD628, background #ffffff, text #333333.\n- Include between 3 and 6 labeled blocks ONLY if those labels exist verbatim in the source text.\n- Use minimal flat icons, strict grid alignment, clean sans-serif typography, generous whitespace.\n- NEVER invent steps, labels, numbers, statistics, or data not present in the source text.\n\nIf the content does NOT match any infographic trigger, the image is a conceptual illustration.\n\n---\n\n## STEP 6: PROMPT CONSTRUCTION RULES\n\nEvery image prompt (hero and section) MUST:\n- Be written entirely in English.\n- Be cinematic, premium, high-detail, and visually explicit.\n- Explicitly state the dominant color palette using HEX values, e.g.: \"\"dominant color palette using deep navy #131b3b with vibrant green #8AD628 accents and purple #7238ce gradient elements against a clean white #ffffff background\"\".\n- Reference the TYPOGRAPHY_MOOD: modern clean sans-serif professional.\n- Reference the UI_MOOD: professional, airy, elevated with subtle depth.\n- Reference vibrant saturation and prominent gradients where appropriate.\n- Reference motifs from: energy, technology, sustainability, enterprise software, healthcare, green — selecting only those relevant to the specific content.\n- Maintain consistent visual hierarchy, balance, spacing, and tone across all images.\n- Contain no line breaks.\n- Contain no vague words such as \"\"nice,\"\" \"\"good,\"\" \"\"interesting,\"\" or \"\"various.\"\"\n- Use no color outside ALLOWED_COLORS.\n\nHERO prompts MUST conceptually represent the translated H1 title and the overall theme of the article.\n\nAny visible text rendered inside any image MUST be in English. Only these abbreviations are allowed as visible text: SEO, UX, UI, AI, KPI, ROI, B2B, B2C, CRM, SaaS, Design. When uncertain whether text will render correctly, use icons instead. Prefer minimal text in all images.\n\n---\n\n## STEP 7: SAFE OUTPUT RULES\n\n- NEVER output null for any field.\n- Every value MUST be a string.\n- If a section slot is unused: h2_text = \"\"\"\", translation_en = \"\"\"\", prompt = \"\"\"\".\n- If a section qualifies but the H2 text is empty in the source: h2_text = \"\"\"\", translation_en = \"\"\"\", prompt = \"\"\"\".\n\n---\n\n## OUTPUT FORMAT\n\nOutput EXACTLY this JSON structure. No commentary. No explanation. No markdown code fences. No text before or after the JSON.\n\n{\n  \"\"hero\"\": {\n    \"\"type\"\": \"\"hero\"\",\n    \"\"source_text\"\": \"\"\"\",\n    \"\"translation_en\"\": \"\"\"\",\n    \"\"prompt\"\": \"\"\"\"\n  },\n  \"\"sections\"\": [\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" }\n  ]\n}\n\nAlways output exactly 1 hero object. Always output exactly 4 section objects. Output ONLY the JSON. Stop immediately after the final closing brace.\"\n\nDo not delete all the text above in this box\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -368,
        1424
      ],
      "id": "0653cd47-7525-43d6-ac51-333960cb0aa4",
      "name": "Image Planning"
    },
    {
      "parameters": {
        "jsCode": "// Build image upload items where filename_safe comes from translation_en\n// (pulled from \"Cleaning Image Prompts\" node by matching slot).\n\nfunction cleanHeadingText(s) {\n  if (!s) return \"\";\n  return String(s)\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/^#+\\s*/g, \"\")\n    .replace(/^\\d+[\\.\\)]\\s*/g, \"\")\n    .trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\");\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) {\n      h1 = cleanHeadingText(m1[1]);\n      continue;\n    }\n\n    const m2 = line.match(/^##\\s*(.+)$/);\n    if (m2) {\n      const txt = cleanHeadingText(m2[1]);\n      if (txt) h2.push(txt);\n    }\n  }\n\n  return { h1, h2 };\n}\n\n/**\n * ✅ STRICT HEADER-SAFE FILENAME\n * - NO hyphens\n * - NO spaces\n * - NO extension\n * - ASCII only\n */\nfunction toHeaderSafeFilename(str) {\n  const s = String(str || \"\")\n    .trim()\n    .replace(/\\.(png|jpg|jpeg|webp|gif)$/i, \"\") // strip extension if present\n    .normalize(\"NFKD\")\n    .replace(/[\\u00A0\\u2000-\\u200B\\u202F\\u205F\\u3000]/g, \"\") // remove weird spaces\n    .replace(/[\\u0300-\\u036f]/g, \"\") // accents\n    .replace(/[—–]/g, \"\")           // long dashes\n    .replace(/&/g, \"and\")\n    .replace(/['\"`]/g, \"\")\n    .replace(/[:;,.!?(){}\\[\\]|<>]/g, \"\")\n    .replace(/[^a-zA-Z0-9]/g, \"\")   // ❗ remove EVERYTHING except letters+numbers\n    .slice(0, 80);\n\n  return s || \"image\";\n}\n\n// --- Inputs ---\nconst images = $node[\"Collect images URLS\"].json.images;\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\nconst getH2 = (n) => (h2 && h2.length >= n ? h2[n - 1] : \"\");\n\n// --- Pull translations from Cleaning Image Prompts (by slot) ---\nconst translationsBySlot = {};\nconst cleaned = $items(\"Cleaning Image Prompts\") || [];\n\nfor (const it of cleaned) {\n  const j = it.json || {};\n  if (!j.slot) continue;\n\n  const t =\n    (typeof j.translation_en === \"string\" && j.translation_en.trim()) || \"\";\n\n  if (t) translationsBySlot[j.slot] = t;\n}\n\nfunction safeNameForSlot(slot, fallback) {\n  const t = translationsBySlot[slot] || fallback || \"image\";\n  return toHeaderSafeFilename(t);\n}\n\n// --- Build items ---\nconst map = [\n  {\n    key: \"hero\",\n    slot: \"hero\",\n    url: images.hero,\n    filename_safe: safeNameForSlot(\"hero\", \"heroimage\"),\n    alt: h1 || \"תמונה ראשית\",\n  },\n  {\n    key: \"section_1\",\n    slot: \"section_1\",\n    url: images.section_1,\n    filename_safe: safeNameForSlot(\"section_1\", \"section1\"),\n    alt: getH2(4) || \"תמונה\",\n  },\n  {\n    key: \"section_2\",\n    slot: \"section_2\",\n    url: images.section_2,\n    filename_safe: safeNameForSlot(\"section_2\", \"section2\"),\n    alt: getH2(8) || \"תמונה\",\n  },\n  {\n    key: \"section_3\",\n    slot: \"section_3\",\n    url: images.section_3,\n    filename_safe: safeNameForSlot(\"section_3\", \"section3\"),\n    alt: getH2(12) || \"תמונה\",\n  },\n  {\n    key: \"section_4\",\n    slot: \"section_4\",\n    url: images.section_4,\n    filename_safe: safeNameForSlot(\"section_4\", \"section4\"),\n    alt: getH2(16) || \"תמונה\",\n  },\n];\n\n// Output only items with URLs\nreturn map\n  .filter(x => !!x.url)\n  .map(x => ({ json: x }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1360
      ],
      "id": "2d4e8519-e6ec-449c-b5d9-295593bb1336",
      "name": "Preparing Image Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        1360
      ],
      "id": "445c682f-8cf6-479a-b8ef-06f2012e93b7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(str) {\n  return (str || \"\").replace(/<[^>]*>/g, \"\").trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\").map(l => l.trim());\n\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const line of lines) {\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) h1 = stripHtml(m1[1]);\n\n    const m2 = line.match(/^##\\s+(.+)$/);\n    if (m2) h2.push(stripHtml(m2[1]));\n  }\n\n  return { h1, h2 };\n}\n\n// ---- INPUT SOURCES ----\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\n\n// helper: get H2 by index (1-based)\nconst H2 = (n) => h2[n - 1] || \"\";\n\n// Targets (these are the headings your image-plan logic uses)\nconst targets = {\n  hero: h1 || \"\",\n  section_1: H2(4) || \"\",\n  section_2: H2(8) || \"\",\n  section_3: H2(12) || \"\",\n  section_4: H2(16) || \"\",\n};\n\n// ---- WordPress media items come as INPUT to this node ----\nconst wpItems = $input.all().map(i => i.json);\n\n// Helper: pick best WP URL\nfunction wpUrl(m) {\n  return (\n    (m && typeof m.source_url === \"string\" && m.source_url) ||\n    (m && m.guid && typeof m.guid.rendered === \"string\" && m.guid.rendered) ||\n    \"\"\n  );\n}\n\n// Helper: match media item to a target heading\nfunction matchMediaToHeading(media, heading) {\n  if (!heading) return false;\n\n  const alt = (media.alt_text || \"\").trim();\n  const title = (media.title && (media.title.raw || media.title.rendered) || \"\").trim();\n\n  // Strong match: alt_text equals heading\n  if (alt && alt === heading) return true;\n\n  // Fallback match: title equals heading\n  if (title && title === heading) return true;\n\n  return false;\n}\n\n// Build empty structure first\nconst structuredImages = {\n  hero: null,\n  section_1: null,\n  section_2: null,\n  section_3: null,\n  section_4: null,\n};\n\n// 1) Try to match by alt_text/title to headings\nfor (const media of wpItems) {\n  const url = wpUrl(media);\n  if (!url) continue;\n\n  for (const key of Object.keys(structuredImages)) {\n    if (structuredImages[key]) continue; // already filled\n    if (matchMediaToHeading(media, targets[key])) {\n      structuredImages[key] = {\n        url,\n        alt: targets[key] || (media.alt_text || \"\")\n      };\n    }\n  }\n}\n\n// 2) Fallback by order if some are still missing (hero first, then sections)\nconst remainingKeys = Object.keys(structuredImages).filter(k => !structuredImages[k]);\nif (remainingKeys.length > 0) {\n  // take medias that weren't used yet\n  const usedUrls = new Set(Object.values(structuredImages).filter(Boolean).map(x => x.url));\n  const unused = wpItems\n    .map(m => ({ m, url: wpUrl(m) }))\n    .filter(x => x.url && !usedUrls.has(x.url));\n\n  let idx = 0;\n  for (const key of remainingKeys) {\n    const pick = unused[idx++];\n    if (!pick) break;\n\n    structuredImages[key] = {\n      url: pick.url,\n      alt: targets[key] || (pick.m.alt_text || \"\")\n    };\n  }\n}\n\n// 3) Remove null entries\nObject.keys(structuredImages).forEach(\n  k => structuredImages[k] === null && delete structuredImages[k]\n);\n\nreturn [\n  {\n    json: {\n      images: structuredImages\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1088
      ],
      "id": "76e89cf2-12f7-4e6c-9cbf-6d9acbae000c",
      "name": "Preparing Images for HTML"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        944
      ],
      "id": "8174dabd-ed4f-4a0c-836c-4bda665db99e",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        944
      ],
      "id": "7fa82ba6-8627-412a-bf07-78838d6106db",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -352,
        1568
      ],
      "id": "4781032f-5f18-4711-acab-d970bbdcbad7",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        944
      ],
      "id": "b966b9a3-2a84-49e1-8f19-b34f40e4d554",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        928
      ],
      "id": "2274c484-79c6-46ad-8e80-bfc8a1231bc3",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1968,
        928
      ],
      "id": "62b662ec-cf53-4d74-a830-a00535fda11a",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2432,
        944
      ],
      "id": "c5ad289e-44f7-4ae3-b48b-e5a5e1ddb776",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2896,
        944
      ],
      "id": "e5ad182d-2a11-4fd3-ab19-1d25ff6c7529",
      "name": "OpenRouter Chat Model10",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c4ba02e-a677-4c0f-9db5-5a9db1a0e783",
              "leftValue": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"Type\"] }}",
              "rightValue": "Post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        784
      ],
      "id": "bf572865-a9e1-47c0-9e65-7efc1f036197",
      "name": "If"
    },
    {
      "parameters": {
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 8,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3552,
        672
      ],
      "id": "7bd82764-3de6-4b6f-98ed-afa42a7fbb0a",
      "name": "Create Post",
      "credentials": {
        "wordpressApi": {
          "id": "11rtYVTmaY4qUzHW",
          "name": "elements wp login"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 1881,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3552,
        864
      ],
      "id": "026e0cb2-c558-48bd-82da-0ee9325efe23",
      "name": "Create Page",
      "credentials": {
        "wordpressApi": {
          "id": "FY50uyQfJNI7VYef",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a research agent.\n\nThe input below is a preliminary article outline.\nUse it to understand the main topic and subtopics of the article.\n\nYour task:\n** Research** \n- Find authoritative, external sources that support the topic and key sections.המקורות חייבים להמצא אך ורק מהארץ והשפה ששייכת לאותו.\nלדוגמא: אם ה-KEYWORD הוא בשפה העברית,\nאז החיפוש יתבצע בישראל.\n- Do NOT invent sources.\n- Do Not link to other competitors or brand names. \n- Do NOT mention any other brand name or competitors in the text.\n- Do NOT - תקשר לעמוד של מתחרה.\n- לעולם בשום צורה שהיא, אל תבנה LINK או אזכור בתוכן של הכתבה למתחרה מאותה הנישה או מאותו התחום של האתר\n{{ $('Grab New Cluster').item.json.Website }}\n- link only to Gov,PDF, Research sites, News media sites.\n** Fact Checker **\n\n** Fact Checker: **\nאתה FACT Checker: \nאתה חייב לזחול לכל אחד מהקישורים האלו ולוודא שהתוכן שנמצא בהם, מגבה את המידע שציינת.\nתוודא שהקישור תקין ומכיל את שהמידע.\nבמידה והוא לא מכיל את המידע או הקישור שבור או מוביל לעמוד 404. \nאתה חייב למצוא קישור ממקור אחר שהוא תקין ולהחליף אותו במקומו.\n\nArticle outline:\n{{ $json.output[0].content[0].text }}\n\nFind up to 20 sources \n\nOutput format:\nFor each source, provide:\n- Title\n- Short summary (1–2 sentences)\n- Direct URL\n- Try to find the most relevant sources to the output titles\nRules:\n- No opinions\n- No duplicate sources\n- No filler text\n- Only verified Links\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -816,
        784
      ],
      "id": "f180ede4-adf7-4ae3-84f2-9856d484a926",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=# 🎯 ROLE – מומחה כתיבת תוכן SEO\n\nאתה מומחה לכתיבת תוכן SEO בחברת קידום אתרים עם **למעלה מ-15 שנות ניסיון**.  \nאתה מתמחה במחקר SERP אנליטי (ללא אזכור שמות אתרים), ניתוח כוונת חיפוש (Search Intent),  \nבניית תוכן מבוסס שאילתות גולשים, ואופטימיזציה ל-CTR גבוה בתוצאות החיפוש של גוגל.\n\n---\n\n# 📥 INPUT\n- **Keywords:** {{ $json.Keywords }}\n- **Primary Keyword:** {{ $json[\"Primary Keyword\"] }}\n- **Search Intent:** {{ $json.Intent }}\n- **Website (האתר שלנו):** {{ $json.Website }}\n\n---\n\n# 🔍 שלב 1 – מחקר SERP (Google Simulation)\n\nבצע מחקר המדמה חיפוש אמיתי בגוגל – **באופן אנליטי בלבד**, ללא אזכור שמות אתרים, מותגים או כתובות URL.\n\n1. נתח את **10 התוצאות האורגניות המובילות** עבור מילת המפתח הראשית.\n2. בדוק עבור כל מתחרה:\n   - כמות מילים משוערת\n   - מבנה כותרות (H2 / H3)\n   - סוג התוכן (מדריך, מאמר מידע, השוואה, מסחרי וכו')\n3. ספק:\n   - כמות מילים ממוצעת בקרב המתחרים\n   - **המלצה חד-משמעית אחת בלבד לכמות מילים אופטימלית** למאמר שלנו\n   - נימוק קצר המבוסס על רמת התחרות וכוונת החיפוש\n\n---\n\n# 🔎 שלב 2 – מחקר שאילתות גולשים\n\nאסוף ניסוחים אמיתיים של שאלות גולשים, בהשראת:\n- People Also Ask\n- Autocomplete\n- פורומים ודיונים\n- ניסוחים נפוצים ממודלי שפה\n\n❗ דרישה קריטית:  \nלפחות **70% מכותרות H2 חייבות להיות מנוסחות כשאלות חיפוש של גולשים**,  \nכולל ניסוחים מסוג: **\"מהו X\"**, \"איך\", \"למה\", \"האם\", \"כמה\", \"מתי\".\n\nאין לציין או להזכיר מקורות כלשהם בטקסט עצמו.\n\n---\n\n# 🧱 שלב 3 – בניית מבנה תוכן (Outline)\n\nבנה מבנה תוכן מלא למאמר.\n\n## כללי מבנה\n- כל **H2** מייצגת נושא מרכזי או שאלת חיפוש.\n- מתחת לכל **H2 חובה לכלול**:\n  - **תשובה ישירה** – 1–3 משפטים ברורים\n  - **עובדות / דוגמאות / הסברים** תומכים\n- **H3** – רק אם יש צורך אמיתי בפירוק נושא מורכב\n- גיוון מבני:\n  - H2 בלבד\n  - H2 + 2–4 H3\n  - ללא תבנית קבועה\n\n---\n\n## 📌 פורמט חובה לכל כותרת H2\n\n## כותרת H2\n\n**תשובה ישירה:**  \nתשובה חדה וברורה לשאלה.\n\n**עובדות / דוגמאות תומכות:**  \nהרחבה מקצועית, הסברים או דוגמאות.\n\nמשפט מקשר (אם נדרש):  \n\"להלן פירוט הנושא:\"\n\n### כותרת H3 (רק אם נדרש)\nפירוט ממוקד.\n\n---\n\n# 🔁 השוואות בין מוצרים / מושגים\n\nאם קיימת השוואה:\n- יש ליצור **כותרת H2 נפרדת לכל מושג**\n- כל H2 תענה על השאלה: **\"מהו X\"**\n\n---\n\n# 📏 חישוב כמות כותרות לפי אורך המאמר\n\n- כ-150 מילים לכל H2\n- יש לחשב:\n  - מספר H2 / H3 נדרש\n  - כך שהמאמר יעמוד בכמות המילים שהומלצה\n\n---\n\n# 🧠 שלב 4 – SEO מתקדם\n\n## מילות מפתח סמנטיות\n- מונחים משלימים\n- שמות נרדפים\n- נגזרות וביטויים קשורים\n- מותאמים לכוונת החיפוש\n\n## חוסרים מול מתחרים\n- נושאים חסרים\n- שאלות ללא מענה מספק\n- זוויות בידול תוכניות\n\n---\n\n## OUTPUT – חובה\n\nOutput: **TEXT ONLY**  \n(ללא HTML, ללא Markdown, ללא קישורים, ללא שמות מותגים, ללא כתובות URL)\n\nיש להציג:\n\n- Recommended article wordcount – **פעם אחת בלבד**\n- רשימת H2\n- H3 – רק אם נדרש\n- FAQ – שאלות בלבד, מנוסחות בסגנון חיפושי גולשים\n- מילות מפתח סמנטיות\n- רשימת ביטויים, שמות נרדפים, מונחים משלימים ונגזרות\n- חוסרים בתוכן מול מתחרים\n- נושאים שלא מכוסים מספיק\n- זוויות בידול\n\nאלמנטים חסרים (כטקסט תיאורי בלבד):\n- מבנה טבלת השוואה (כותרות ועמודות)\n- תיאור גרפים אפשריים\n\nאיסורים מוחלטים:\n- DO NOT show any URL’s\n- להסיר כל כתובת URL מהטקסט\n- DO NOT show any other brands\n- להסיר כל שם של מותג או חברה\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1072,
        784
      ],
      "id": "5a7c6559-e4e8-400c-b262-ef356f4bbaf1",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        784
      ],
      "id": "bf51d87d-ec22-4736-8e67-6a8171b79696",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.elementshls.com/wp-json/wp/v2/posts/' + $('Create Post').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": \"{{ $('Meta Title').first().json.output }}\",\n    \"_yoast_wpseo_metadesc\": \"{{ $('Meta Description').first().json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4064,
        672
      ],
      "id": "2b77b836-1701-4238-8bce-12a556d05871",
      "name": "Update meta title description Yoast",
      "credentials": {
        "httpBasicAuth": {
          "id": "CMgDVV6g05kCxjp0",
          "name": "elements wp login"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://powerplug.ai/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": {{ JSON.stringify($('Meta Title').first().json.output) }},\n    \"_yoast_wpseo_metadesc\": {{ JSON.stringify($('Meta Description').first().json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4064,
        864
      ],
      "id": "a78b4a02-4871-49b1-96a3-db6f584c7220",
      "name": "Update meta title description Yoast1",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho",
          "mode": "list",
          "cachedResultName": "elementshls.com- פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApWSxaB367lNZgruyYKmJNSsrsUD3GhgxdnfIwH9lvQ/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Post').item.json.link }}",
            "Date": "={{ $('Create Post').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        672
      ],
      "id": "59e5c375-f9bf-4456-9347-2ca766efbe57",
      "name": "Check as completed on Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho",
          "mode": "list",
          "cachedResultName": "elementshls.com- פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yEKxlD1ugC_SO-9w2CfOvL8cREfNEBCqJTFTwp2Ij8U/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $node[\"Grab New Cluster\"].json.Cluster }}",
            "Primary Keyword": "={{ $node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4352,
        672
      ],
      "id": "a4a40da9-ff2e-4aa0-8ceb-6d4ea024d7d0",
      "name": "Article Saving 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApWSxaB367lNZgruyYKmJNSsrsUD3GhgxdnfIwH9lvQ/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Page').item.json.link }}",
            "Date": "={{ $('Create Page').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        864
      ],
      "id": "748df650-ab6b-4a39-8983-a788b7772b23",
      "name": "Check as completed on Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yEKxlD1ugC_SO-9w2CfOvL8cREfNEBCqJTFTwp2Ij8U/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $node[\"Grab New Cluster\"].json.Cluster }}",
            "Primary Keyword": "={{ $node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes",
            "row_id": "={{ $('Grab New Cluster').first().json['row_id'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4352,
        864
      ],
      "id": "98f9c78e-7cf4-4bad-afea-35fa407d4d47",
      "name": "Article Saving 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "=PUT",
        "url": "={{ 'https://www.elementshls.com/wp-json/wp/v2/posts/' + $('Create Post').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        672
      ],
      "id": "7b11a09e-d8cc-4b82-a853-208d1c4a84e6",
      "name": "Update Featured Image2",
      "credentials": {
        "httpBasicAuth": {
          "id": "CMgDVV6g05kCxjp0",
          "name": "elements wp login"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://powerplug.ai/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        864
      ],
      "id": "39af9487-9b44-44b1-8658-070cf36a34ea",
      "name": "Update Featured Image3",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior English copywriter and social media strategist with strong B2B + storytelling skills.\n\nINPUT:\nYou will receive a full article written in ENGLISH.\n{{ $json.output }}\n\nOBJECTIVE:\nCreate 4 separate social media posts derived from the article content — one for each platform:\n1) LinkedIn\n2) Facebook\n3) Instagram\n4) X (Twitter)\n\nLANGUAGE RULES:\n- INPUT language: English\n- OUTPUT language: English only\n- Do NOT use English words unless they are unavoidable brand/product names\n- Natural american english (not robotic, not translated)\n\nCORE QUALITY RULES:\n- Do NOT “summarize the article” — convert its insights into high-performing posts\n- Each platform must be UNIQUE (no repeated sentences across platforms)\n- Use concrete takeaways and examples from the article, not vague inspiration\n- If the article is about a product/service: emphasize value, outcome, and clarity (no hype)\n- Do NOT explain the process; output only the final posts\n\n────────────────────────\nPLATFORM RULES (STRICT)\n────────────────────────\n\n1️⃣ LinkedIn (MUST BE THE STRONGEST POST)\nGoal: Thought leadership + credibility + depth.\n\nLength & structure:\n- MUST be 1,000–1,600 characters (English chars, including spaces)\n- MUST be at least as detailed and valuable as the Facebook post\n- 3–6 short paragraphs (each 1–3 lines)\n- Include:\n  A) Hook line that creates tension/curiosity (not cliché)\n  B) 3 actionable points OR a mini-framework (numbered 1–3 is allowed)\n  C) One concrete micro-example / scenario\n  D) A reflective question at the end\n- Emojis: NONE (or max 1 if absolutely needed)\n- Hashtags: 1–3 in English only (optional, subtle)\n\nTone:\n- Professional, confident, human, not preachy\n\n2️⃣ Facebook\nGoal: Warm, community conversation.\n\nLength & structure:\n- 700–1,200 characters\n- 2–4 paragraphs\n- 1–2 emojis allowed\n- End with a question\n- 2–5 hashtags in English\n\n3️⃣ Instagram\nGoal: Scroll-stopping + punchy.\n\nLength & structure:\n- 500–900 characters\n- Strong first line (very short)\n- Short sentences, rhythm, emotional tone\n- 2–4 emojis allowed (not excessive)\n- End with a soft CTA question\n- 5–10 hashtags in English\n- Avoid long blocks; keep it visually scannable\n\n4️⃣ X (Twitter)\nGoal: Sharp, single idea.\n\nLength & structure:\n- MUST fit within 280 characters total\n- One main point only\n- No emojis\n- Hashtags: none (or max 1 only if essential)\n\n────────────────────────\nOUTPUT FORMAT (EXACT)\n────────────────────────\nReturn the content exactly in this structure:\n\n---\n🔹 LinkedIn:\n[LinkedIn post text]\n\n🔹 Facebook:\n[Facebook post text]\n\n🔹 Instagram:\n[Instagram post text]\n\n🔹 X:\n[X post text]\n---\n\nFINAL CHECK BEFORE YOU OUTPUT:\n- LinkedIn is 1,000–1,600 characters and includes hook + 3 points/framework + micro-example + question\n- No sentence is repeated between platforms\n- All text is English\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        320
      ],
      "id": "076794de-e795-4613-a585-c08da7735ae5",
      "name": "Social Media AI Prompt"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * Input: item.json.output (string) OR item.json.text (string) OR item.json (string)\n * Output: columns ready for Google Sheets mapping\n */\n\nfunction pickText(item) {\n  return (\n    item.json.output ??\n    item.json.text ??\n    item.json.result ??\n    (typeof item.json === 'string' ? item.json : null) ??\n    ''\n  );\n}\n\nfunction normalize(s) {\n  return (s || '')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n}\n\nfunction extractSection(fullText, label) {\n  // Matches: 🔹 LinkedIn: ... until next 🔹 or end\n  const re = new RegExp(\n    String.raw`(?:^|\\n)\\s*(?:🔹\\s*)?${label}\\s*:\\s*([\\s\\S]*?)(?=\\n\\s*(?:🔹\\s*)?(?:LinkedIn|Facebook|Instagram|X)\\s*:|\\s*$)`,\n    'i'\n  );\n  const m = fullText.match(re);\n  return normalize(m ? m[1] : '');\n}\n\nfunction makePreview(s, max = 120) {\n  const t = normalize(s).replace(/\\n+/g, ' ');\n  return t.length > max ? t.slice(0, max - 1) + '…' : t;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const raw = normalize(pickText(item));\n\n  const linkedin = extractSection(raw, 'LinkedIn');\n  const facebook = extractSection(raw, 'Facebook');\n  const instagram = extractSection(raw, 'Instagram');\n  const xpost = extractSection(raw, 'X');\n\n  out.push({\n    json: {\n      // These keys should match your Google Sheet columns (recommended):\n      LinkedIn: linkedin,\n      Facebook: facebook,\n      Instagram: instagram,\n      X: xpost,\n\n      // Optional useful fields:\n      LinkedIn_Preview: makePreview(linkedin),\n      Facebook_Preview: makePreview(facebook),\n      Instagram_Preview: makePreview(instagram),\n      X_Preview: makePreview(xpost),\n\n      // Store original text too (optional):\n      Raw_Output: raw,\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        320
      ],
      "id": "53a860a9-cdab-4394-bcef-cbe667b2dc95",
      "name": "Filtering Data"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        544
      ],
      "id": "e001853e-c73a-4393-a316-f2c2c3c8a498",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-53sNSGJmA9XtHqwghv7-Zea1f21n0xlCu2zKYFstV4/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "={{ $json.LinkedIn }}",
            "Facebook": "={{ $json.Facebook }}",
            "Instagram": "={{ $json.Instagram }}",
            "Twitter ": "={{ $json.X }}",
            "row_id": "={{ $('Grab New Cluster').item.json.row_id }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter ",
              "displayName": "Twitter ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        320
      ],
      "id": "388bd3d7-9414-4266-8ca7-eaaba5c0da6f",
      "name": "Update Google Sheet with Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ $('Grab New Cluster').item.json.Website }} {{ $('Grab New Cluster').item.json['Primary Keyword'] }}",
        "limit": 100,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -352,
        784
      ],
      "id": "fe7144b1-be5b-4eae-b465-752c27a7431d",
      "name": "Search and optionally scrape search results",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "obgA87O5rxZBEggg",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Search and optionally scrape search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slug": {
      "main": [
        [
          {
            "node": "Post Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Title": {
      "main": [
        [
          {
            "node": "Meta Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Description": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Title": {
      "main": [
        [
          {
            "node": "Meta Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Collect images URLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Getting URLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Image Prompts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting URLS": {
      "main": [
        [
          {
            "node": "Save image URLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect images URLS": {
      "main": [
        [
          {
            "node": "Preparing Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save image URLS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image (PNG URL → Binary)": {
      "main": [
        [
          {
            "node": "Upload to WordPress (Media)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress (Media)": {
      "main": [
        [
          {
            "node": "Image Alt Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Alt Settings": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Plan": {
      "main": [
        [
          {
            "node": "Writing Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing Blog": {
      "main": [
        [
          {
            "node": "Image Planning",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Media AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Planning": {
      "main": [
        [
          {
            "node": "Cleaning Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Image Data": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Preparing Images for HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image (PNG URL → Binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Images for HTML": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Post Plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Writing Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Image Planning",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "slug",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Post Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "Update Featured Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Page": {
      "main": [
        [
          {
            "node": "Update Featured Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast": {
      "main": [
        [
          {
            "node": "Article Saving 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast1": {
      "main": [
        [
          {
            "node": "Article Saving 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 3": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 1": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image2": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image3": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media AI Prompt": {
      "main": [
        [
          {
            "node": "Filtering Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtering Data": {
      "main": [
        [
          {
            "node": "Update Google Sheet with Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media AI Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search and optionally scrape search results": {
      "main": [
        [
          {
            "node": "Post Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ce557acf-a8dd-408f-822d-dcb9253d4531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d687f3db8cf73bff0dc9f02849712fbaa1b2ea972c000594417cec61549f3360"
  },
  "id": "JH5wZ82C2xqkIg2h",
  "tags": [
    {
      "updatedAt": "2026-03-10T11:06:25.127Z",
      "createdAt": "2026-03-10T11:06:25.127Z",
      "id": "6i0BAnk54dHQbioc",
      "name": "https://powerplug.ai/"
    },
    {
      "updatedAt": "2025-12-25T09:04:33.025Z",
      "createdAt": "2025-12-25T09:04:33.025Z",
      "id": "bAQ5UBM4nFLDhksc",
      "name": "תומר"
    }
  ]
}