powerplug.ai/Hermes Agent/2026-04-16/Improved_N8N_Workflow.json
{
  "name": "https://powerplug.ai/",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit#gid=683869339"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Published",
              "lookupValue": "production"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1296,
        784
      ],
      "id": "9f652438-1b13-4f1b-b57c-7d779e5dc29b",
      "name": "Grab New Cluster",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8e8c4-9191-415a-9661-1b60d413528a",
              "name": "research",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        784
      ],
      "id": "ad486edd-843c-4ebb-a288-b5a243bef21d",
      "name": "Fix Links"
    },
    {
      "parameters": {
        "content": "## Schedule a trigger\n \n",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        720
      ],
      "typeVersion": 1,
      "id": "fcec2bba-b30e-4179-a3f3-6d0d1d0aa1f3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## New Post Info\n \n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        704
      ],
      "typeVersion": 1,
      "id": "4aafcaeb-919b-4b05-b7a3-14ade5fe9f9d",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Preliminary Post Plan \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        704
      ],
      "typeVersion": 1,
      "id": "2f1d5f7a-78c7-4711-9310-512d282bbf4d",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Research\n \n \n",
        "height": 240,
        "width": 244
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        704
      ],
      "typeVersion": 1,
      "id": "132ae625-6303-47b5-9d25-da70b8a9dc40",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Post Plan \n \n",
        "height": 240,
        "width": 348
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        736
      ],
      "typeVersion": 1,
      "id": "c5e9875f-c3f3-4fad-8620-89e1194826ed",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Writing Blog\n \n \n",
        "height": 240,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        752
      ],
      "typeVersion": 1,
      "id": "1ecbe914-7594-4b10-950d-bcfb3c4bf662",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## HTML\n\n \n \n",
        "height": 240,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        704
      ],
      "typeVersion": 1,
      "id": "b60b12aa-0763-4990-9afc-dba0151602aa",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Slug\n\n\n \n \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        704
      ],
      "typeVersion": 1,
      "id": "b0198529-1ec2-492a-b425-515b537d1794",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Post Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        704
      ],
      "typeVersion": 1,
      "id": "32cc4af7-42a2-402c-826d-c4f0bc76b837",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Meta Description\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        704
      ],
      "typeVersion": 1,
      "id": "89824081-367f-4979-8a88-1bf575c64072",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior WordPress-safe HTML article template engineer rebuilding PowerPlug editorial content.\n\nINPUTS\n- URL: reference brand URL for PowerPlug\n- ORIGINAL_HTML: the raw article content to improve\n- Image URLs injected below from the Image Generation pipeline\n\nOUTPUT\n- Return ONLY the final improved HTML article.\n- Start with the opening <article dir=\"ltr\" lang=\"en\" class=\"sa-article pp-article\" ...> tag and end with the closing </article> tag.\n- No markdown. No explanation. No code fences. No leading or trailing whitespace outside the <article> element.\n\nPOWERPLUG BRAND — SOURCE OF TRUTH\n- Brand site: https://powerplug.ai/\n- Contact page: https://powerplug.ai/contact-us   (every CTA link MUST use this URL)\n- Official logo: https://powerplug.ai/wp-content/uploads/2022/06/powerplug-logo.png\n- Phone (tel): +1-646-7517797   (href format: tel:+16467517797)\n- Email: info@powerplug.ai   (href format: mailto:info@powerplug.ai)\n- Address: 7 HaArad Street, Tel Aviv 6971060, Israel\n- Tagline: Optimize IT Operations And Cut Your Energy Bill\n- Real social profiles (use EXACTLY these URLs in the author block):\n  * LinkedIn: https://www.linkedin.com/company/powerplug-ltd\n  * Facebook: https://www.facebook.com/PowerPlugLtd/\n  * X / Twitter: https://twitter.com/PowerPlugLtd\n- Verified proof points (use only these real claims):\n  * Save up to 60% of PC energy use\n  * Typical ROI / payback in under 4 months\n  * Deployments span 100 to 50,000 PCs\n  * Reference deployments: Clalit Health Services (45,000 PCs, ~$1.2M annual savings), Rambam Healthcare Campus (<4-month payback), Ben-Gurion University\n- Brand palette (inline values only — no classes, no external CSS):\n  * Navy:      #0f1733 / #131b3b / #1c2e54\n  * Accent green: #6ead24 / #4d8f17 / #2d5a0c\n  * Soft backgrounds: #f6f9fd / #eef3fa\n  * Body text: #1b2440 / #2a3757\n  * Card borders: #e4ecf7 / #dfe7f3\n\n==========================================================\nNON-NEGOTIABLE RULES (all 38 must hold in the output)\n==========================================================\n\nSTRUCTURE & SAFETY\n 1. WordPress-safe HTML only. Inline styles must carry ALL visual rendering.\n 2. No external CSS files, no external JS files, no frameworks, no icon libraries, no SVG icons, no emoji icons. One scoped <style> block inside <article> is allowed for hovers, media queries, and the floating-button animations. One tiny inline <script> block is allowed for the scroll-to-top visibility toggle only (wrap in an IIFE, no globals).\n 3. Use semantic HTML and accessible structure. Use <details>/<summary> for TOC and all FAQ items. No script-based accordions.\n 4. Render LTR English only (<article dir=\"ltr\" lang=\"en\">). Do NOT mention a specific date, year, month, or time reference in the hero or in the first paragraph of the article body.\n 5. Enforce EXACTLY ONE <h1> in the entire output. All other headings are <h2>/<h3>. Verify before returning.\n 6. Inject wpautop defenses inside the scoped <style>:\n      summary br, [data-resp=\"float-group\"] br { display:none !important; }\n      [data-resp=\"container\"] > p:empty { display:none !important; }\n\nTOC\n 7. Place the TOC near the beginning of the article — AFTER the intro paragraph (or after the first inline image), NEVER as the very first element, and never later than the first section body.\n 8. TOC and every FAQ <details> element MUST start COLLAPSED (no `open` attribute). They must open and close natively.\n 9. TOC headings MUST NOT contain numeric prefixes (no \"1.\", no \"Step 2\", no \"Chapter 3 —\"). Headings must be descriptive text only.\n10. TOC items use <a href=\"#anchor\"> links to section IDs. Style as pill/rounded rows with hover state (light green bg #eaf4d9, accent border, color shift to #4d8f17).\n\nFAQ\n11. FAQ design must be clean, modern, and brand-consistent — white card, rounded 12px rows, same caret pattern as TOC (plus sign rotating to × on open via the `.pp-caret` rotate trick).\n12. FAQ open/close must work in both the preview HTML and inside WordPress — use native <details> only.\n\nCTAs (CONTACT-FOCUSED CONVERSION)\n13. Minimum FOUR CTA placements:\n      a. Hero primary + secondary buttons\n      b. Early/top CTA bar (dark pill strip) right under Key Takeaways\n      c. MID-article CTA block (dark navy gradient card) between sections — encourages contacting\n      d. STRONGER end-of-article CTA block (green gradient card, larger, dual buttons + reassurance line)\n14. CTA button labels must rotate across the article. Use these canonical options (pick 4 different ones):\n      - Book a Power Savings Assessment\n      - Talk to a PowerPlug Specialist\n      - Request a PowerPlug Demo\n      - Call +1-646-751-7797   (tel: link)\n      - Email info@powerplug.ai (mailto: link)\n      - Contact Us\n15. Every CTA button link MUST go to https://powerplug.ai/contact-us  (or tel:/mailto: variants where explicitly labelled).\n16. CTA buttons use pill shape (border-radius:50px), clear hover state (transform translateY(-2px) + shadow bump + slight brightness), and high-contrast text (white on green, white on navy, or navy on white — never low-contrast).\n\nFLOATING BUTTONS\n17. Add a floating Contact Us button — class=\"pp-float-contact\", ALWAYS visible, fixed bottom-LEFT, links to https://powerplug.ai/contact-us, mobile-friendly (shrinks padding on <=880px), hover state brightens bg and lifts on translateY. Must not overlap the scroll-top button or important mobile content.\n18. Add a floating Scroll-to-Top button — class=\"pp-float-top\" id=\"pp-scroll-top\", fixed bottom-RIGHT, HIDDEN by default (opacity:0; pointer-events:none), appears after window.pageYOffset > 320 (add/remove class \"pp-visible\"), smooth CSS transition, click triggers window.scrollTo({top:0, behavior:'smooth'}). Wrap the script in an IIFE.\n19. On mobile (<=880px): contact button moves to left:10px bottom:72px, scroll-top stays right:10px bottom:14px so they never overlap each other or WhatsApp-style widgets.\n\nCONTENT BLOCKS\n20. Weave the following inline blocks THROUGHOUT the body (not all at once, not all in one row):\n      - \"Did you know?\" block — blue accent bar (#1e5fbe), light blue bg (#eef5ff). Place between Section 1 and Section 2.\n      - \"Tip\" block — green accent bar (#4d8f17), light green bg (#f1faea). Place near mid-article (before or after the mid CTA).\n      - \"How-To\" block — orange accent bar (#d6911b), warm bg (#fff6e8). Place inside or right after the deployment section.\n21. Use real content structure, not shallow filler: a Key Takeaways block, 5–6 meaningful H2 sections with proper paragraphs, at least one data table (baseline vs post-policy metrics), at least one 3-up case-study grid, and a numbered step-by-step deployment list.\n\nLINKS\n22. Include internal PowerPlug links (https://powerplug.ai/ , https://powerplug.ai/contact-us) and at least two external authoritative links with target=\"_blank\" rel=\"noopener\" — e.g. https://www.energystar.gov/products/office_equipment , https://ghgprotocol.org/ . Do not invent links.\n\nIMAGES\n23. Every <img> MUST have a non-empty src, descriptive alt, max-width:100%, height:auto, border-radius ~18px, subtle border #e4ecf7, and controlled box-shadow. Never ship an empty src. Section images use the injected URLs below.\n24. Logo inside the author block uses object-fit:contain inside a 160×160 light tile — NEVER cropped into a circle.\n\nAUTHOR / PUBLISHER BLOCK (final content element before floating buttons)\n25. Heading: \"About the publisher\"  (eyebrow in green uppercase).\n26. Display the official PowerPlug logo wrapped in <a href=\"https://powerplug.ai/\" class=\"pp-logo-link\" aria-label=\"PowerPlug homepage\"> — the logo itself MUST link to the homepage.\n27. Publisher name: \"PowerPlug Editorial Team\".\n28. Short trustworthy paragraph reinforcing endpoint power management, measurable savings, payback, and fleet-size range.\n29. Social row contains REAL links (LinkedIn, Facebook, X/Twitter, Email, Contact Us). Pill-shaped, outlined, hover swaps to filled green (#4d8f17) white text with lift + shadow.\n30. Append a tiny line with the real address and phone under the socials for trust. No low-contrast text — minimum #6b7894 on white.\n\nRESPONSIVENESS\n31. 100% responsive. Breakpoints at 880px and 520px via the scoped <style>. On tablet/mobile: author flips to column, proof strip collapses to 2 columns then 1, hero H1 drops to 1.75em, CTA buttons stack full-width on very narrow screens.\n32. Align buttons, icons, and interactive elements consistently. Use `display:flex/inline-flex; align-items:center; gap:…` everywhere interactive content shares a row. Avoid oversized gaps and cramped rows (4pt base, 8pt cadence; 12px allowed when it solves rhythm).\n\nHOVER & ACCESSIBILITY\n33. Hover effects on: CTA buttons (lift + shadow + brightness), TOC items (bg + border + color), FAQ summaries (bg + color), social pills (filled green + lift + shadow), logo link (scale + brightness), proof cards (lift + shadow). Never use low-contrast hover states.\n34. Keep focus states accessible — do not fully remove outline on interactive elements without providing a visible alternative.\n35. RTL/Hebrew only: place TOC/FAQ caret icons AFTER the text on the same line at a fixed position via `flex-shrink:0; min-width:1.2em; display:inline-block`. (For PowerPlug LTR output, still place the caret at the line-end/right for visual consistency.)\n\nWORDPRESS COMPATIBILITY\n36. No fragile implementations — no @import, no @font-face fetches of third-party fonts, no custom web components, no attributes that Gutenberg blocklists. Everything must paste-render inside a standard WordPress Custom HTML block.\n37. Balance spacing — no oversized gaps, no cramped sections. Section cards use consistent 28px/30px internal padding; inter-section margin is 24–28px.\n38. Final layout must look premium and clean — not generic, not obviously AI-generated. Use restrained shadows, a single accent colour, real copy, and real brand assets.\n\n==========================================================\nDESIGN DIRECTION (TASTE LAYER)\n==========================================================\n- enterprise-grade, clean, trustworthy, conversion-aware\n- wider, more readable body (max-width ~960px) than a cramped narrow column\n- dark navy hero with a soft radial green highlight, white/cool-grey section surfaces, green accent buttons and dividers\n- restrained premium styling: soft 1px borders, gentle 4–14px shadows, controlled gradient use\n- NEVER copy teal/generic template looks; the palette above is the brand\n\n==========================================================\nREQUIRED STRUCTURE (IN ORDER)\n==========================================================\n 1. <article dir=\"ltr\" lang=\"en\" class=\"sa-article pp-article\" style=\"…\"> wrapper\n 2. scoped <style> block (hovers, media queries, floating-button CSS, wpautop defenses)\n 3. HERO — navy gradient, logo-badge link to homepage, the ONE <h1>, subtitle, two CTAs\n 4. Proof strip — 4 branded stat cards (Up to 60% / <4 months / 100–50,000 PCs / Zero disruption)\n 5. Intro paragraph (1–2 sentences, NO dates/years)\n 6. TOC <details> (COLLAPSED, no numeric prefixes in items)\n 7. Key Takeaways card\n 8. EARLY CTA bar (dark pill strip)\n 9. Section 1: Why endpoint power management matters   + image\n10. \"Did you know?\" block\n11. Section 2: How policy-based power management actually works   + image\n12. Section 3: Measuring real savings, not theoretical ones   + data table\n13. MID CTA block (dark navy gradient)\n14. \"Tip\" block\n15. Section 4: Deploying without disrupting users   + image\n16. \"How-To\" block\n17. Section 5: Case studies (3-up grid with real customer names)\n18. Section 6: How to start an endpoint power programme (numbered steps)\n19. BOTTOM STRONGER CTA block (green gradient, dual buttons + reassurance line)\n20. FAQ <section> (5 <details> rows, all COLLAPSED)\n21. Author/publisher block (logo linked to homepage, real socials, address + phone)\n22. Floating Contact Us (bottom-left, always visible)\n23. Floating Scroll-to-Top (bottom-right, hidden until scroll, IIFE script)\n\n==========================================================\nDATA INJECTION\n==========================================================\nFULL BLOG CONTENT (ENGLISH):\n{{ $item(0).$node[\"Writing Blog\"].json[\"output\"] }}\n\nIMAGE URLS:\nSection image 1 URL: {{ $json.images.section_1.url }}\nSection image 2 URL: {{ $json.images.section_2.url }}\nSection image 3 URL: {{ $json.images.section_3.url }}\nSection image 4 URL: {{ $json.images.section_4.url }}\n\nPRE-RETURN SELF-AUDIT (agent must verify all before emitting HTML)\n [ ] exactly one <h1>\n [ ] no numeric prefixes inside TOC <a> text\n [ ] TOC appears AFTER the intro paragraph, BEFORE Section 1\n [ ] every <details> has NO `open` attribute\n [ ] every CTA href points to https://powerplug.ai/contact-us (or tel:/mailto: variants)\n [ ] author block logo wrapped in <a href=\"https://powerplug.ai/\">\n [ ] real social URLs match the Brand Source of Truth list exactly\n [ ] floating Contact Us + floating Scroll-to-Top both present and non-overlapping\n [ ] no empty img src, no placeholder text, no \"Lorem\", no TODO, no date/year in hero or first paragraph\n [ ] at least one external authoritative link with target=\"_blank\" rel=\"noopener\"\n [ ] scoped <style> includes the two wpautop defenses and the floating-button rules\n\nReturn the complete final HTML article now.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1200,
        784
      ],
      "id": "42218288-14c3-4800-9a46-89fb0dc6bcc4",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-friendly URL slug for the following blog post.\n\nIMPORTANT:\n- The blog post content is written in ENGLISH.\n- The slug MUST be written in ENGLISH.\n- You must translate the primary keyword into natural, SEO-friendly English.\n- Use a clear, commonly used English phrasing.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nSlug rules:\n- The slug must be 3 words maximum.\n- The slug must include the primary keyword.\n- Use lowercase letters only.\n- Use hyphens (-) between words.\n- Do NOT include stop words unless necessary for clarity.\n- Do NOT include dates, numbers, or brand names unless essential.\n\nOutput rules:\n- Output ONLY the slug.\n- Do NOT include explanations or extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        784
      ],
      "id": "2c8654f3-009a-4965-8e2c-6a335e6c83c3",
      "name": "slug"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the blog post title from the following blog post content.\n\nIMPORTANT:\n- The blog post content is written in ENGLISH.\n- The output title MUST be in ENGLISH.\n- Do NOT translate the title into Hebrew.\n- Do NOT change the meaning of the title.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nRules for the title:\n- The title must include the primary keyword:\n  {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n- The title must clearly inform users what they will learn from the blog post.\n- The title should be concise, clear, and SEO-friendly.\n- Do NOT add quotation marks.\n- Do NOT add markdown or formatting.\n- Do NOT add out-dated years or dates.\n\nOutput rules:\n- Output ONLY the blog post title.\n- Do NOT include any extra text.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1968,
        784
      ],
      "id": "9cae5a21-0cdf-4245-895a-8aee78f26892",
      "name": "Post Title"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META DESCRIPTION.\n\nIMPORTANT:\n- Output must be written in ENGLISH.\n- Do NOT translate into Hebrew.\n- Do NOT include quotation marks.\n- Do NOT include branding unless it appears naturally in the keywords.\n## Language Requirements - CRITICAL\n\n- **Primary language**: English only for all content text.\n- **Exceptions allowed**:\n  - Company name: May remain in English if the original name is in English.\n  - Phone numbers: Use standard numeric digits (0-9).\n- **Strictly forbidden languages**: Arabic, Russian, Chinese, Hebrew, or any other non English characters.\n- **Character validation**: Ensure all text uses only English alphabet (A-Z, a-z), and standard punctuation marks.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta description rules:\n- Length must be between 150–160 characters (Google recommended range).\n- Must include the primary keyword naturally.\n- Include 1–2 supporting keywords if they fit naturally.\n- Clearly explain what the reader will learn or gain.\n- Use engaging, click-worthy language (action verbs or a soft question).\n- Accurately reflect the topic and intent to avoid misleading clicks.\n- Sound natural and appealing to a Hebrew-speaking audience in Israel.\n- Avoid keyword stuffing.\n\nOutput rules:\n- Output ONLY the meta description text.\n- Do NOT include explanations, formatting, or extra text.\n- DO NOT create and \",' or other marks or signals.\nIF output contains: signs or signal such as: \\ or \" etc., you MUST replace them with space instead.\nExample: if you have this \"חז״ל\" = INVALID.\nInstead, fix this: \"חז ל\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2896,
        784
      ],
      "id": "8d78ef26-b7b5-43c3-952b-8703407e3a76",
      "name": "Meta Description"
    },
    {
      "parameters": {
        "content": "## Meta Title\n\n\n \n \n",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        704
      ],
      "typeVersion": 1,
      "id": "ec7b94da-52bd-41fd-bf0c-1ca63deea406",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an SEO-optimized META TITLE.\n\nIMPORTANT:\n- Output must be written in ENGLISH.\n- Do NOT translate into Hebrew.\n- Do NOT include quotation marks or branding.\n\n## Language Requirements - CRITICAL\n\n- **Primary language**: English only for all content text.\n- **Exceptions allowed**:\n  - Company name: May remain in English if the original name is in English.\n  - Phone numbers: Use standard numeric digits (0-9).\n- **Strictly forbidden languages**: Arabic, Russian, Chinese, Hebrew, or any other non-English characters.\n- **Character validation**: Ensure all text uses the English alphabet (A-Z, a-z), and standard punctuation marks.\n\nInput:\nPrimary keyword:\n{{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nSupporting keywords:\n{{ $('Grab New Cluster').last().json.Keywords }}\n\nSearch intent:\n{{ $('Grab New Cluster').last().json.Intent }}\n\nMeta title rules:\n- Must include the primary keyword exactly as written (in English).\n- Must clearly communicate the main topic or benefit.\n- Length must be between 50–60 characters (Google recommended display range).\n- Avoid filler words and unnecessary punctuation.\n- Sound natural to a English-speaking audience in USA.\n\nOutput rules:\n- Output ONLY the meta title text.\n- Do NOT include any explanations or extra text.\n- DO NOT create and \",' or other marks\nIF output contains: signs or signal such as: \\ or \" etc., you MUST replace them with space instead.\nExample: if you have this \"חז״ל\" = INVALID.\nInstead, fix this: \"חז ל\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2416,
        784
      ],
      "id": "bd80faf0-6052-4f4d-a601-64444bb6eace",
      "name": "Meta Title"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        1376
      ],
      "id": "fff2e0a7-772a-4e07-8a82-0d10398ebfb9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        1568
      ],
      "id": "1269f160-fc97-400b-a2fe-6fb9f2a80a02",
      "name": "Wait",
      "webhookId": "3cf57eb9-e58f-422c-a2ef-0479c61334a3"
    },
    {
      "parameters": {
        "jsCode": "function normalizeInnerQuotes(s) {\n  if (!s || typeof s !== \"string\") return s;\n\n  s = s.replace(/[״”“]/g, '\"');\n  s = s.replace(/([\\u0590-\\u05FF0-9A-Za-z])\"(?=[\\u0590-\\u05FF0-9A-Za-z])/g, \"$1״\");\n  s = s.replace(/[\\u202A-\\u202E\\u2066-\\u2069]/g, \"\");\n  return s;\n}\n\nfunction makeFilenameSafe(s) {\n  if (!s) return \"\";\n  return String(s)\n    .normalize(\"NFKD\")\n    .replace(/[^\\p{L}\\p{N}\\s]+/gu, \"\")\n    .trim()\n    .replace(/\\s+/g, \"_\")\n    .replace(/-+/g, \"\");\n}\n\nconst raw = $json.output ?? $json;\nlet plan = raw;\nif (typeof raw === \"string\") {\n  // Remove markdown code fences, e.g. ```json or ```\n  const removeFences = s => s.replace(/```(?:json)?|```/gi, '').trim();\n  const cleaned = normalizeInnerQuotes(removeFences(raw));\n  plan = JSON.parse(cleaned);\n}\n\n// ✅ IMPORTANT: handle array wrapper: [ { hero, sections } ]\nif (Array.isArray(plan)) {\n  plan = plan[0] || {};\n}\n\nconst out = [];\n\n// HERO\nif (plan?.hero?.prompt && String(plan.hero.prompt).trim()) {\n  out.push({\n    json: {\n      slot: \"hero\",\n      type: plan.hero.type || \"hero\",\n      prompt: plan.hero.prompt,\n      source_text: plan.hero.source_text || \"\",\n      translation_en: plan.hero.translation_en || \"\",\n      h2_text: \"\",\n      alt: plan.hero.source_text || \"\",\n      filename_safe:\n        plan.hero.filename_safe ||\n        makeFilenameSafe(plan.hero.translation_en || plan.hero.source_text || \"hero\"),\n    },\n  });\n}\n\n// SECTIONS\n(plan?.sections || [])\n  .filter(s => s?.prompt && String(s.prompt).trim())\n  .forEach((s, i) => {\n    out.push({\n      json: {\n        slot: `section_${i + 1}`,\n        type: s.type || \"section\",\n        prompt: s.prompt,\n        h2_text: s.h2_text || \"\",\n        source_text: s.source_text || \"\",\n        translation_en: s.translation_en || \"\",\n        alt: s.h2_text || s.source_text || \"\",\n        filename_safe:\n          s.filename_safe ||\n          makeFilenameSafe(s.translation_en || s.h2_text || `section_${i + 1}`),\n      },\n    });\n  });\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1376
      ],
      "id": "cd78f57b-c33c-471d-b4f4-ce981d6c9239",
      "name": "Cleaning Image Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 165cc5401c1882a5442b943172fc6afe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"callBackUrl\": \"{{$execution.resumeUrl}}\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        1568
      ],
      "id": "c52ec215-1f09-4c46-a36b-724a6a149392",
      "name": "Image Generation"
    },
    {
      "parameters": {
        "jsCode": "// We receive the callback item from KIE\n// In n8n, the JSON for this item looks like:\n// { headers: {...}, body: { code, data: { resultJson, taskId, state, ... } }, ... }\n\nconst item = $json;\n\n// Safely get the body object\nconst body = item.body || {};\nconst data = body.data || {};\n\nlet imageUrl = null;\nlet parsedResult = null;\n\nif (data.resultJson) {\n  try {\n    // resultJson is a JSON string, so we must parse it\n    parsedResult = JSON.parse(data.resultJson);\n\n    if (Array.isArray(parsedResult.resultUrls) && parsedResult.resultUrls.length > 0) {\n      imageUrl = parsedResult.resultUrls[0];\n    }\n  } catch (error) {\n    throw new Error('Could not parse resultJson: ' + error.message);\n  }\n}\n\nreturn [\n  {\n    json: {\n      imageUrl,              // 👈 this is your final image URL\n      state: data.state,     // \"success\"\n      taskId: data.taskId,   // useful for logging\n      rawResultJson: data.resultJson\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1568
      ],
      "id": "4708e28d-3c0b-4852-8771-1c7c023336ba",
      "name": "Getting URLS"
    },
    {
      "parameters": {
        "jsCode": "const items = $items();\nconst urls = items.map(i => i.json[\"Image URL\"]).filter(Boolean);\n\nconst images = {\n  hero: urls[0] || null,\n  section_1: urls[1] || null,\n  section_2: urls[2] || null,\n  section_3: urls[3] || null,\n  section_4: urls[4] || null,\n};\n\nreturn [{ json: { images } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1360
      ],
      "id": "2d1c61f6-04d7-45cf-bc7f-d549c6f5e157",
      "name": "Collect images URLS"
    },
    {
      "parameters": {
        "content": "## Image Generation\n",
        "height": 496,
        "width": 1164
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1328
      ],
      "typeVersion": 1,
      "id": "b0dd443f-5469-4077-a4d3-fff0aa42fb66",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1359853134,
          "mode": "list",
          "cachedResultName": "Generated Images",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUlVPKoAXwrTnSkEdCzk2MJCg1S0gKWYRPDRxrGXJi4/edit#gid=1359853134"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"row_id\"] }}",
            "Image URL": "={{ $json.imageUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        1568
      ],
      "id": "c65d3d5d-9d92-4e66-ae57-5924fa7c25ef",
      "name": "Save image URLS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "2390c6da-c8e8-4f45-b123-5049c7b98442",
      "name": "Download Image (PNG URL → Binary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1184,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://powerplug.ai/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "={{ 'attachment; filename=\"' + $json.filename_safe + '.png\"' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "03244177-c5e3-480b-8223-f3f925bdd3fb",
      "name": "Upload to WordPress (Media)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1392,
        1376
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image Upload to wordpress \n",
        "height": 336,
        "width": 844
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        1296
      ],
      "typeVersion": 1,
      "id": "04c0f874-b46d-4e02-8a22-14c91b6888be",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://powerplug.ai/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{ \"alt_text\": $(\"Preparing Image Data\").item.json.alt, \"title\": $(\"Preparing Image Data\").item.json.alt } }}",
        "options": {}
      },
      "id": "00736ab3-d8f7-4b58-a801-017bc00005c9",
      "name": "Image Alt Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1568,
        1376
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=INPUT:\n\nKeywords:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Keywords\"] }}\n\nSearch Intent:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Intent\"] }}\n\nPrimary Keyword:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}\n\nPreliminary Plan:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nResearch Findings:\n{{ $('Fix Links').item.json.research }}\nInternal Links List (parsed, NOT text):\n{{ JSON.stringify($json.data, null, 2) }}\n\n# 🎯 פרומפט מאוחד ל־N8N – יצירת תכנית מבנה למאמר SEO (עם סינון מקורות מתחרים)\n\n---\n\n## 🎯 ROLE\n\nYou are part of a professional team that creates **world-class, SEO-optimized blog post plans**  \nfor Israeli websites, intended to be written by **non-expert copywriters**.\n\n---\n\n## 🌍 LANGUAGE RULES (STRICT)\n\n- All input is provided in **ENGLISH**.\n- You must analyze and generate the output in **ENGLISH ONLY**.\n- Do **NOT** translate from Hebrew.\n- Do **NOT** include Hebrew words unless they are **common English search terms**.\n- Do **NOT** mention rules, laws, or regulations.\n- Do **NOT** create an H1 anywhere in the article.\n- Do **NOT** add an article title.\n\n---\n\n## 🧩 INPUT YOU RECEIVE FOR EACH PROJECT\n\nYou are provided with:\n\n- **Keywords** – SEO keywords the article must rank for  \n- **Primary Keyword** – must appear in the opening section  \n- **Search Intent** – the user’s goal when searching  \n- **Preliminary Plan** – rough outline or draft ideas  \n- **Research Findings** – raw external research (UNTRUSTED, must be filtered)  \n- **Internal Links List** – parsed list of internal URLs with explanations  \n\n---\n\n## 🧠 YOUR TASK\n\nCreate a **VERY DETAILED blog post plan** that:\n\n- Is written in **BULLET POINTS ONLY**\n- Describes the **full logical structure and flow** of the article\n- Clearly explains **WHAT** should be written in each section and **HOW**\n- Explicitly states **which keywords** must appear in each section\n- Uses **ALL keywords** across the plan\n- Fully satisfies the **Search Intent**\n- Can be handed directly to a **non-expert copywriter**\n\n---\n\n## 🧱 STRUCTURE RULES (CRITICAL)\n\n- ❌ Do NOT create an H1  \n- ❌ Do NOT add an article title  \n- ✅ Use **H2 + H3 only**  \n- ✅ Output must be **BULLET POINTS ONLY**\n- ❌ No paragraphs\n- ❌ No explanations outside the plan itself\n\n---\n\n## 🔍 EXTERNAL RESEARCH RULES\n\n- External research is used **for credibility and facts only**\n- Every research point must:\n  - Be assigned to a **specific section**\n  - Include the **SOURCE URL** next to the bullet\n- External links are **references only** (NOT embedded hyperlinks)\n\n### 🔗 External Link Quantity (Writing Stage Rule)\n- The final written article must include **EXACTLY 1 external link for the entire article**\n- That link must come from the **approved research sources in this plan**\n- This rule is enforced **during WRITING**, but:\n  - The plan must include **enough filtered research** to support this\n\n---\n\n## 🚫 EXTERNAL RESEARCH FILTERING RULES (CRITICAL – APPLY BEFORE USING ANY SOURCE)\n\n- Treat `Research Findings` as **UNTRUSTED INPUT**\n- For **every research URL**, extract the **domain** and apply filtering:\n\n### ✅ ALLOWLIST LOGIC\n- Allowed if domain is **clearly institutional / research**, such as:\n  - Government\n  - Regulation\n  - Official statistics\n  - PDF\n  - Research magazine\n\n### ❌ DENYLIST LOGIC (AUTO-DISQUALIFY)\n- Do NOT use sources that are:\n  - CRM vendors\n  - Software providers\n  - SaaS platforms\n  - Marketing agencies\n  - Comparison / affiliate CRM sites\n  - Pages offering demos, trials, pricing, or sales funnels\n- If a domain appears to **sell, promote, compare, or market CRM** → **DISQUALIFY**\n\n### ⚠️ UNCERTAIN SOURCES\n- If a domain is NOT clearly allowed or denied:\n  - Use it **ONLY IF** it is neutral, informational, and non-commercial\n  - If in doubt → **DO NOT USE**\n\n### 🚨 INSUFFICIENT ALLOWED SOURCES\n- If, after filtering, there are not enough valid sources:\n  - Add bullets stating: **\"נדרש מחקר נוסף ממקורות ניטרליים\"**\n  - ❌ Do NOT invent URLs\n  - ❌ Do NOT reuse denied sources\n\n---\n\n## 🔗 INTERNAL LINK RULES (CRITICAL)\n\n- You are PROVIDED with a list of internal links\n- You MUST select **1–3 internal links**\n- You MUST NOT claim no links were provided if the list is not empty\n- Links must be:\n  - **Contextually embedded** inside relevant sections\n  - NOT grouped in a separate section\n\n### For EACH internal link you select, you MUST specify:\n- The **EXACT URL**\n- The **EXACT English anchor text**\n- **Exact instructions** on:\n  - WHERE the link appears\n  - HOW it is integrated naturally in the sentence\n\n### Additional Internal Link Rules\n- ❌ Do NOT select links targeting the **Primary Keyword** (avoid cannibalization)\n- ❌ Do NOT invent links\n- ✅ Use ONLY the provided list\n- ✅ Prefer links that **support** the topic, not duplicate it\n\n---\n\n## ✍️ TONE & STYLE\n\n- Tone and messaging must match:\n{{ $('Grab New Cluster').item.json.Website }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        784
      ],
      "id": "2f26bdc6-3139-4e25-b7b8-8ddb38562666",
      "name": "Post Plan"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=OUTPUT: Return ONLY a single continuous HTML article fragment. No code blocks. No duplicate copy. No text outside HTML.\n\nLANGUAGE:\n- English only.\n- The article is for PowerPlug, an enterprise PC power management / endpoint efficiency brand.\n\nSTRUCTURE RULES:\n- No H1 in this writing-stage output. The template layer will create the final hero/H1.\n- Start with an opening paragraph.\n- Then use H2 and H3 only.\n- Wrap the whole output in <article dir=\"ltr\" lang=\"en\">.\n- Use valid HTML elements only: article, h2, h3, p, ul, ol, li, table, thead, tbody, tr, th, td, strong, em, a, div, img.\n- Do NOT include styled CTA boxes or author boxes; the template layer will inject branded CTA and author sections.\n- Include a FAQ section near the end with real user-question phrasing.\n\nPOWERPLUG BRAND CONTEXT:\n- Real site: https://powerplug.ai/\n- Core themes: PC power management, endpoint energy savings, operational efficiency, wake-on-demand access, enterprise IT cost reduction.\n- Tone: enterprise, practical, credible, measurable, not flashy.\n- Do not mention unrelated brands or stale client names.\n\nCONTENT QUALITY RULES:\n- Use search intent and research findings to build a practical, decision-useful article.\n- Keep each H2/H3 section concise and readable.\n- Vary H2 patterns: question, scenario, comparison, mistakes, KPI/measurement, roadmap, selection criteria.\n- Avoid repetitive template phrasing.\n- Use 2-3 authoritative external links total and relevant internal PowerPlug links from the provided list.\n- Do not invent fake statistics, customer stories, or regulatory claims.\n- If a brand fact is used, it must align with known PowerPlug positioning.\n\nINPUT:\nKeywords:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Keywords\"] }}\n\nSearch Intent:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Intent\"] }}\n\nPrimary Keyword:\n{{ $item(0).$node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}\n\nPreliminary Plan:\n{{ $('Message a model1').item.json.output[0].content[0].text }}\n\nResearch Findings:\n{{ $('Fix Links').item.json.research }}\n\nInternal Links List (parsed, NOT text):\n{{ JSON.stringify($json.data, null, 2) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        784
      ],
      "id": "aed97953-cb67-40fc-b69b-ed77763318a0",
      "name": "Writing Blog"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"You are an image prompt generation system. You receive a full blog article as input. You output structured image prompts bound to the article's content and locked to a specific brand design system. You follow every rule below with zero deviation.\n\n---\n\n## LOCKED DESIGN TOKENS\n\nThese values are final and immutable for every image prompt you generate:\n\n- BRAND_PRIMARY_COLOR: #131b3b\n- BRAND_SECONDARY_COLOR: #7238ce\n- BRAND_ACCENT_COLOR: #8AD628\n- BACKGROUND_STYLE: light\n- TYPOGRAPHY_MOOD: modern clean sans-serif professional\n- UI_MOOD: professional, airy, elevated with subtle depth\n- BORDER_RADIUS: 17px\n- SHADOW_STYLE: soft diffused shadow (0px 30px 30px rgba(0,0,0,0.18))\n- VISUAL_DENSITY: airy and balanced with generous whitespace\n- ALLOWED_COLORS: #131b3b, #7238ce, #8AD628, #ffffff, #333333\n- SATURATION: vibrant\n- GRADIENTS: prominent, used as background transitions between brand colors\n- MOTIFS: energy, technology, sustainability, enterprise software, healthcare, green\n\nEvery image prompt you produce MUST explicitly reference colors by HEX from ALLOWED_COLORS. No color outside this set is permitted under any circumstance.\n\n---\n\n## STEP 1: EXTRACT HEADINGS\n\nFrom the input article, extract:\n1. The H1 title (exactly one).\n2. All H2 headings, numbered sequentially in the exact order they appear (H2 #1, H2 #2, H2 #3, …).\n\n---\n\n## STEP 2: IMAGE PLANNING LOGIC\n\nHERO IMAGE: Always generated. Exactly one. Based on the H1 title.\n\nSECTION IMAGES: Determined by the total count of H2 headings.\n\n- If the article contains FEWER THAN 4 H2 headings: generate ZERO section images. All 4 section slots output empty strings.\n- If the article contains 4 or more H2 headings: generate a section image for H2 #4. Then generate one additional section image for every 3 subsequent H2 headings: H2 #7, H2 #10, H2 #13, and so on. Stop when there are not enough remaining H2 headings to reach the next target index. Maximum 4 section images total regardless of article length.\n\nSection image assignment order fills slots 1 through 4 sequentially. Unused slots remain empty.\n\n---\n\n## STEP 3: TRANSLATION RULES\n\nHERO:\n- source_text: the H1 title exactly as it appears in the article.\n- translation_en: the H1 title translated into English. If the H1 is already in English, repeat it.\n\nSECTIONS:\n- For every section slot that has a matched H2: h2_text is the H2 heading exactly as it appears in the article. translation_en is that H2 translated into English. If the H2 is already in English, repeat it.\n- For every section slot that has no matched H2: h2_text is \"\"\"\". translation_en is \"\"\"\".\n\ntranslation_en is NEVER null. It is always a string.\n\n---\n\n## STEP 4: CONTENT BINDING RULE\n\nEach section image prompt MUST be derived strictly and exclusively from the content under its specific matched H2 heading, up to the next H2 or end of article. No cross-section mixing. No borrowing from other sections. No generalizing across the article.\n\n---\n\n## STEP 5: INFOGRAPHIC DETECTION\n\nBefore writing each section image prompt, inspect the content under the matched H2. If that content contains ANY of the following:\n- Numbered steps or sequences\n- Bullet lists with 3 or more items\n- Pricing, plans, or packages\n- Statistics, percentages, or numerical comparisons\n- Tables, pros and cons, or side-by-side comparisons\n- Multiple short structured items in a list format\n\nTHEN the image MUST be an infographic.\n\nInfographic prompts MUST:\n- Include the exact phrase \"\"clean infographic layout\"\".\n- Reference brand colors by HEX: primary #131b3b, secondary #7238ce, accent #8AD628, background #ffffff, text #333333.\n- Include between 3 and 6 labeled blocks ONLY if those labels exist verbatim in the source text.\n- Use minimal flat icons, strict grid alignment, clean sans-serif typography, generous whitespace.\n- NEVER invent steps, labels, numbers, statistics, or data not present in the source text.\n\nIf the content does NOT match any infographic trigger, the image is a conceptual illustration.\n\n---\n\n## STEP 6: PROMPT CONSTRUCTION RULES\n\nEvery image prompt (hero and section) MUST:\n- Be written entirely in English.\n- Be cinematic, premium, high-detail, and visually explicit.\n- Explicitly state the dominant color palette using HEX values, e.g.: \"\"dominant color palette using deep navy #131b3b with vibrant green #8AD628 accents and purple #7238ce gradient elements against a clean white #ffffff background\"\".\n- Reference the TYPOGRAPHY_MOOD: modern clean sans-serif professional.\n- Reference the UI_MOOD: professional, airy, elevated with subtle depth.\n- Reference vibrant saturation and prominent gradients where appropriate.\n- Reference motifs from: energy, technology, sustainability, enterprise software, healthcare, green — selecting only those relevant to the specific content.\n- Maintain consistent visual hierarchy, balance, spacing, and tone across all images.\n- Contain no line breaks.\n- Contain no vague words such as \"\"nice,\"\" \"\"good,\"\" \"\"interesting,\"\" or \"\"various.\"\"\n- Use no color outside ALLOWED_COLORS.\n\nHERO prompts MUST conceptually represent the translated H1 title and the overall theme of the article.\n\nAny visible text rendered inside any image MUST be in English. Only these abbreviations are allowed as visible text: SEO, UX, UI, AI, KPI, ROI, B2B, B2C, CRM, SaaS, Design. When uncertain whether text will render correctly, use icons instead. Prefer minimal text in all images.\n\n---\n\n## STEP 7: SAFE OUTPUT RULES\n\n- NEVER output null for any field.\n- Every value MUST be a string.\n- If a section slot is unused: h2_text = \"\"\"\", translation_en = \"\"\"\", prompt = \"\"\"\".\n- If a section qualifies but the H2 text is empty in the source: h2_text = \"\"\"\", translation_en = \"\"\"\", prompt = \"\"\"\".\n\n---\n\n## OUTPUT FORMAT\n\nOutput EXACTLY this JSON structure. No commentary. No explanation. No markdown code fences. No text before or after the JSON.\n\n{\n  \"\"hero\"\": {\n    \"\"type\"\": \"\"hero\"\",\n    \"\"source_text\"\": \"\"\"\",\n    \"\"translation_en\"\": \"\"\"\",\n    \"\"prompt\"\": \"\"\"\"\n  },\n  \"\"sections\"\": [\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" },\n    { \"\"type\"\": \"\"section\"\", \"\"h2_text\"\": \"\"\"\", \"\"translation_en\"\": \"\"\"\", \"\"prompt\"\": \"\"\"\" }\n  ]\n}\n\nAlways output exactly 1 hero object. Always output exactly 4 section objects. Output ONLY the JSON. Stop immediately after the final closing brace.\"\n\nDo not delete all the text above in this box\n{{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -368,
        1424
      ],
      "id": "0653cd47-7525-43d6-ac51-333960cb0aa4",
      "name": "Image Planning"
    },
    {
      "parameters": {
        "jsCode": "// Build image upload items where filename_safe comes from translation_en\n// (pulled from \"Cleaning Image Prompts\" node by matching slot).\n\nfunction cleanHeadingText(s) {\n  if (!s) return \"\";\n  return String(s)\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/^#+\\s*/g, \"\")\n    .replace(/^\\d+[\\.\\)]\\s*/g, \"\")\n    .trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\");\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const rawLine of lines) {\n    const line = rawLine.trim();\n\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) {\n      h1 = cleanHeadingText(m1[1]);\n      continue;\n    }\n\n    const m2 = line.match(/^##\\s*(.+)$/);\n    if (m2) {\n      const txt = cleanHeadingText(m2[1]);\n      if (txt) h2.push(txt);\n    }\n  }\n\n  return { h1, h2 };\n}\n\n/**\n * ✅ STRICT HEADER-SAFE FILENAME\n * - NO hyphens\n * - NO spaces\n * - NO extension\n * - ASCII only\n */\nfunction toHeaderSafeFilename(str) {\n  const s = String(str || \"\")\n    .trim()\n    .replace(/\\.(png|jpg|jpeg|webp|gif)$/i, \"\") // strip extension if present\n    .normalize(\"NFKD\")\n    .replace(/[\\u00A0\\u2000-\\u200B\\u202F\\u205F\\u3000]/g, \"\") // remove weird spaces\n    .replace(/[\\u0300-\\u036f]/g, \"\") // accents\n    .replace(/[—–]/g, \"\")           // long dashes\n    .replace(/&/g, \"and\")\n    .replace(/['\"`]/g, \"\")\n    .replace(/[:;,.!?(){}\\[\\]|<>]/g, \"\")\n    .replace(/[^a-zA-Z0-9]/g, \"\")   // ❗ remove EVERYTHING except letters+numbers\n    .slice(0, 80);\n\n  return s || \"image\";\n}\n\n// --- Inputs ---\nconst images = $node[\"Collect images URLS\"].json.images;\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\nconst getH2 = (n) => (h2 && h2.length >= n ? h2[n - 1] : \"\");\n\n// --- Pull translations from Cleaning Image Prompts (by slot) ---\nconst translationsBySlot = {};\nconst cleaned = $items(\"Cleaning Image Prompts\") || [];\n\nfor (const it of cleaned) {\n  const j = it.json || {};\n  if (!j.slot) continue;\n\n  const t =\n    (typeof j.translation_en === \"string\" && j.translation_en.trim()) || \"\";\n\n  if (t) translationsBySlot[j.slot] = t;\n}\n\nfunction safeNameForSlot(slot, fallback) {\n  const t = translationsBySlot[slot] || fallback || \"image\";\n  return toHeaderSafeFilename(t);\n}\n\n// --- Build items ---\nconst map = [\n  {\n    key: \"hero\",\n    slot: \"hero\",\n    url: images.hero,\n    filename_safe: safeNameForSlot(\"hero\", \"heroimage\"),\n    alt: h1 || \"תמונה ראשית\",\n  },\n  {\n    key: \"section_1\",\n    slot: \"section_1\",\n    url: images.section_1,\n    filename_safe: safeNameForSlot(\"section_1\", \"section1\"),\n    alt: getH2(4) || \"תמונה\",\n  },\n  {\n    key: \"section_2\",\n    slot: \"section_2\",\n    url: images.section_2,\n    filename_safe: safeNameForSlot(\"section_2\", \"section2\"),\n    alt: getH2(8) || \"תמונה\",\n  },\n  {\n    key: \"section_3\",\n    slot: \"section_3\",\n    url: images.section_3,\n    filename_safe: safeNameForSlot(\"section_3\", \"section3\"),\n    alt: getH2(12) || \"תמונה\",\n  },\n  {\n    key: \"section_4\",\n    slot: \"section_4\",\n    url: images.section_4,\n    filename_safe: safeNameForSlot(\"section_4\", \"section4\"),\n    alt: getH2(16) || \"תמונה\",\n  },\n];\n\n// Output only items with URLs\nreturn map\n  .filter(x => !!x.url)\n  .map(x => ({ json: x }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1360
      ],
      "id": "2d4e8519-e6ec-449c-b5d9-295593bb1336",
      "name": "Preparing Image Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        1360
      ],
      "id": "445c682f-8cf6-479a-b8ef-06f2012e93b7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(str) {\n  return (str || \"\").replace(/<[^>]*>/g, \"\").trim();\n}\n\nfunction extractHeadingsFromMarkdown(md) {\n  const lines = (md || \"\").split(\"\\n\").map(l => l.trim());\n\n  let h1 = \"\";\n  const h2 = [];\n\n  for (const line of lines) {\n    const m1 = line.match(/^#\\s+(.+)$/);\n    if (m1 && !h1) h1 = stripHtml(m1[1]);\n\n    const m2 = line.match(/^##\\s+(.+)$/);\n    if (m2) h2.push(stripHtml(m2[1]));\n  }\n\n  return { h1, h2 };\n}\n\n// ---- INPUT SOURCES ----\nconst blog = $node[\"Writing Blog\"].json.output || \"\";\nconst { h1, h2 } = extractHeadingsFromMarkdown(blog);\n\n// helper: get H2 by index (1-based)\nconst H2 = (n) => h2[n - 1] || \"\";\n\n// Targets (these are the headings your image-plan logic uses)\nconst targets = {\n  hero: h1 || \"\",\n  section_1: H2(4) || \"\",\n  section_2: H2(8) || \"\",\n  section_3: H2(12) || \"\",\n  section_4: H2(16) || \"\",\n};\n\n// ---- WordPress media items come as INPUT to this node ----\nconst wpItems = $input.all().map(i => i.json);\n\n// Helper: pick best WP URL\nfunction wpUrl(m) {\n  return (\n    (m && typeof m.source_url === \"string\" && m.source_url) ||\n    (m && m.guid && typeof m.guid.rendered === \"string\" && m.guid.rendered) ||\n    \"\"\n  );\n}\n\n// Helper: match media item to a target heading\nfunction matchMediaToHeading(media, heading) {\n  if (!heading) return false;\n\n  const alt = (media.alt_text || \"\").trim();\n  const title = (media.title && (media.title.raw || media.title.rendered) || \"\").trim();\n\n  // Strong match: alt_text equals heading\n  if (alt && alt === heading) return true;\n\n  // Fallback match: title equals heading\n  if (title && title === heading) return true;\n\n  return false;\n}\n\n// Build empty structure first\nconst structuredImages = {\n  hero: null,\n  section_1: null,\n  section_2: null,\n  section_3: null,\n  section_4: null,\n};\n\n// 1) Try to match by alt_text/title to headings\nfor (const media of wpItems) {\n  const url = wpUrl(media);\n  if (!url) continue;\n\n  for (const key of Object.keys(structuredImages)) {\n    if (structuredImages[key]) continue; // already filled\n    if (matchMediaToHeading(media, targets[key])) {\n      structuredImages[key] = {\n        url,\n        alt: targets[key] || (media.alt_text || \"\")\n      };\n    }\n  }\n}\n\n// 2) Fallback by order if some are still missing (hero first, then sections)\nconst remainingKeys = Object.keys(structuredImages).filter(k => !structuredImages[k]);\nif (remainingKeys.length > 0) {\n  // take medias that weren't used yet\n  const usedUrls = new Set(Object.values(structuredImages).filter(Boolean).map(x => x.url));\n  const unused = wpItems\n    .map(m => ({ m, url: wpUrl(m) }))\n    .filter(x => x.url && !usedUrls.has(x.url));\n\n  let idx = 0;\n  for (const key of remainingKeys) {\n    const pick = unused[idx++];\n    if (!pick) break;\n\n    structuredImages[key] = {\n      url: pick.url,\n      alt: targets[key] || (pick.m.alt_text || \"\")\n    };\n  }\n}\n\n// 3) Remove null entries\nObject.keys(structuredImages).forEach(\n  k => structuredImages[k] === null && delete structuredImages[k]\n);\n\nreturn [\n  {\n    json: {\n      images: structuredImages\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1088
      ],
      "id": "76e89cf2-12f7-4e6c-9cbf-6d9acbae000c",
      "name": "Preparing Images for HTML"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        944
      ],
      "id": "8174dabd-ed4f-4a0c-836c-4bda665db99e",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        944
      ],
      "id": "7fa82ba6-8627-412a-bf07-78838d6106db",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -352,
        1568
      ],
      "id": "4781032f-5f18-4711-acab-d970bbdcbad7",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        944
      ],
      "id": "b966b9a3-2a84-49e1-8f19-b34f40e4d554",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        928
      ],
      "id": "2274c484-79c6-46ad-8e80-bfc8a1231bc3",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1968,
        928
      ],
      "id": "62b662ec-cf53-4d74-a830-a00535fda11a",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2432,
        944
      ],
      "id": "c5ad289e-44f7-4ae3-b48b-e5a5e1ddb776",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2896,
        944
      ],
      "id": "e5ad182d-2a11-4fd3-ab19-1d25ff6c7529",
      "name": "OpenRouter Chat Model10",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c4ba02e-a677-4c0f-9db5-5a9db1a0e783",
              "leftValue": "={{ $item(0).$node[\"Grab New Cluster\"].json[\"Type\"] }}",
              "rightValue": "Post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        784
      ],
      "id": "bf572865-a9e1-47c0-9e65-7efc1f036197",
      "name": "If"
    },
    {
      "parameters": {
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 8,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3552,
        672
      ],
      "id": "7bd82764-3de6-4b6f-98ed-afa42a7fbb0a",
      "name": "Create Post",
      "credentials": {
        "wordpressApi": {
          "id": "FY50uyQfJNI7VYef",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "title": "={{ $('Post Title').item.json.output }}",
        "additionalFields": {
          "authorId": 1881,
          "content": "={{ $('HTML').item.json.output }}",
          "slug": "={{ $('slug').item.json.output }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3552,
        864
      ],
      "id": "026e0cb2-c558-48bd-82da-0ee9325efe23",
      "name": "Create Page",
      "credentials": {
        "wordpressApi": {
          "id": "FY50uyQfJNI7VYef",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a research agent.\n\nThe input below is a preliminary article outline.\nUse it to understand the main topic and subtopics of the article.\n\nYour task:\n** Research** \n- Find authoritative, external sources that support the topic and key sections.המקורות חייבים להמצא אך ורק מהארץ והשפה ששייכת לאותו.\nלדוגמא: אם ה-KEYWORD הוא בשפה העברית,\nאז החיפוש יתבצע בישראל.\n- Do NOT invent sources.\n- Do Not link to other competitors or brand names. \n- Do NOT mention any other brand name or competitors in the text.\n- Do NOT - תקשר לעמוד של מתחרה.\n- לעולם בשום צורה שהיא, אל תבנה LINK או אזכור בתוכן של הכתבה למתחרה מאותה הנישה או מאותו התחום של האתר\n{{ $('Grab New Cluster').item.json.Website }}\n- link only to Gov,PDF, Research sites, News media sites.\n** Fact Checker **\n\n** Fact Checker: **\nאתה FACT Checker: \nאתה חייב לזחול לכל אחד מהקישורים האלו ולוודא שהתוכן שנמצא בהם, מגבה את המידע שציינת.\nתוודא שהקישור תקין ומכיל את שהמידע.\nבמידה והוא לא מכיל את המידע או הקישור שבור או מוביל לעמוד 404. \nאתה חייב למצוא קישור ממקור אחר שהוא תקין ולהחליף אותו במקומו.\n\nArticle outline:\n{{ $json.output[0].content[0].text }}\n\nFind up to 20 sources \n\nOutput format:\nFor each source, provide:\n- Title\n- Short summary (1–2 sentences)\n- Direct URL\n- Try to find the most relevant sources to the output titles\nRules:\n- No opinions\n- No duplicate sources\n- No filler text\n- Only verified Links\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -816,
        784
      ],
      "id": "f180ede4-adf7-4ae3-84f2-9856d484a926",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=# 🎯 ROLE – מומחה כתיבת תוכן SEO\n\nאתה מומחה לכתיבת תוכן SEO בחברת קידום אתרים עם **למעלה מ-15 שנות ניסיון**.  \nאתה מתמחה במחקר SERP אנליטי (ללא אזכור שמות אתרים), ניתוח כוונת חיפוש (Search Intent),  \nבניית תוכן מבוסס שאילתות גולשים, ואופטימיזציה ל-CTR גבוה בתוצאות החיפוש של גוגל.\n\n---\n\n# 📥 INPUT\n- **Keywords:** {{ $json.Keywords }}\n- **Primary Keyword:** {{ $json[\"Primary Keyword\"] }}\n- **Search Intent:** {{ $json.Intent }}\n- **Website (האתר שלנו):** {{ $json.Website }}\n\n---\n\n# 🔍 שלב 1 – מחקר SERP (Google Simulation)\n\nבצע מחקר המדמה חיפוש אמיתי בגוגל – **באופן אנליטי בלבד**, ללא אזכור שמות אתרים, מותגים או כתובות URL.\n\n1. נתח את **10 התוצאות האורגניות המובילות** עבור מילת המפתח הראשית.\n2. בדוק עבור כל מתחרה:\n   - כמות מילים משוערת\n   - מבנה כותרות (H2 / H3)\n   - סוג התוכן (מדריך, מאמר מידע, השוואה, מסחרי וכו')\n3. ספק:\n   - כמות מילים ממוצעת בקרב המתחרים\n   - **המלצה חד-משמעית אחת בלבד לכמות מילים אופטימלית** למאמר שלנו\n   - נימוק קצר המבוסס על רמת התחרות וכוונת החיפוש\n\n---\n\n# 🔎 שלב 2 – מחקר שאילתות גולשים\n\nאסוף ניסוחים אמיתיים של שאלות גולשים, בהשראת:\n- People Also Ask\n- Autocomplete\n- פורומים ודיונים\n- ניסוחים נפוצים ממודלי שפה\n\n❗ דרישה קריטית:  \nלפחות **70% מכותרות H2 חייבות להיות מנוסחות כשאלות חיפוש של גולשים**,  \nכולל ניסוחים מסוג: **\"מהו X\"**, \"איך\", \"למה\", \"האם\", \"כמה\", \"מתי\".\n\nאין לציין או להזכיר מקורות כלשהם בטקסט עצמו.\n\n---\n\n# 🧱 שלב 3 – בניית מבנה תוכן (Outline)\n\nבנה מבנה תוכן מלא למאמר.\n\n## כללי מבנה\n- כל **H2** מייצגת נושא מרכזי או שאלת חיפוש.\n- מתחת לכל **H2 חובה לכלול**:\n  - **תשובה ישירה** – 1–3 משפטים ברורים\n  - **עובדות / דוגמאות / הסברים** תומכים\n- **H3** – רק אם יש צורך אמיתי בפירוק נושא מורכב\n- גיוון מבני:\n  - H2 בלבד\n  - H2 + 2–4 H3\n  - ללא תבנית קבועה\n\n---\n\n## 📌 פורמט חובה לכל כותרת H2\n\n## כותרת H2\n\n**תשובה ישירה:**  \nתשובה חדה וברורה לשאלה.\n\n**עובדות / דוגמאות תומכות:**  \nהרחבה מקצועית, הסברים או דוגמאות.\n\nמשפט מקשר (אם נדרש):  \n\"להלן פירוט הנושא:\"\n\n### כותרת H3 (רק אם נדרש)\nפירוט ממוקד.\n\n---\n\n# 🔁 השוואות בין מוצרים / מושגים\n\nאם קיימת השוואה:\n- יש ליצור **כותרת H2 נפרדת לכל מושג**\n- כל H2 תענה על השאלה: **\"מהו X\"**\n\n---\n\n# 📏 חישוב כמות כותרות לפי אורך המאמר\n\n- כ-150 מילים לכל H2\n- יש לחשב:\n  - מספר H2 / H3 נדרש\n  - כך שהמאמר יעמוד בכמות המילים שהומלצה\n\n---\n\n# 🧠 שלב 4 – SEO מתקדם\n\n## מילות מפתח סמנטיות\n- מונחים משלימים\n- שמות נרדפים\n- נגזרות וביטויים קשורים\n- מותאמים לכוונת החיפוש\n\n## חוסרים מול מתחרים\n- נושאים חסרים\n- שאלות ללא מענה מספק\n- זוויות בידול תוכניות\n\n---\n\n## OUTPUT – חובה\n\nOutput: **TEXT ONLY**  \n(ללא HTML, ללא Markdown, ללא קישורים, ללא שמות מותגים, ללא כתובות URL)\n\nיש להציג:\n\n- Recommended article wordcount – **פעם אחת בלבד**\n- רשימת H2\n- H3 – רק אם נדרש\n- FAQ – שאלות בלבד, מנוסחות בסגנון חיפושי גולשים\n- מילות מפתח סמנטיות\n- רשימת ביטויים, שמות נרדפים, מונחים משלימים ונגזרות\n- חוסרים בתוכן מול מתחרים\n- נושאים שלא מכוסים מספיק\n- זוויות בידול\n\nאלמנטים חסרים (כטקסט תיאורי בלבד):\n- מבנה טבלת השוואה (כותרות ועמודות)\n- תיאור גרפים אפשריים\n\nאיסורים מוחלטים:\n- DO NOT show any URL’s\n- להסיר כל כתובת URL מהטקסט\n- DO NOT show any other brands\n- להסיר כל שם של מותג או חברה\n"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1072,
        784
      ],
      "id": "5a7c6559-e4e8-400c-b262-ef356f4bbaf1",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "OX3gYD9oemOrc0Lq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1552,
        784
      ],
      "id": "bf51d87d-ec22-4736-8e67-6a8171b79696",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://powerplug.ai/wp-json/wp/v2/posts/' + $('Create Post').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": \"{{ $('Meta Title').first().json.output }}\",\n    \"_yoast_wpseo_metadesc\": \"{{ $('Meta Description').first().json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4064,
        672
      ],
      "id": "2b77b836-1701-4238-8bce-12a556d05871",
      "name": "Update meta title description Yoast",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://powerplug.ai/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_title\": {{ JSON.stringify($('Meta Title').first().json.output) }},\n    \"_yoast_wpseo_metadesc\": {{ JSON.stringify($('Meta Description').first().json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4064,
        864
      ],
      "id": "a78b4a02-4871-49b1-96a3-db6f584c7220",
      "name": "Update meta title description Yoast1",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho",
          "mode": "list",
          "cachedResultName": "elementshls.com- פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApWSxaB367lNZgruyYKmJNSsrsUD3GhgxdnfIwH9lvQ/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Post').item.json.link }}",
            "Date": "={{ $('Create Post').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        672
      ],
      "id": "59e5c375-f9bf-4456-9347-2ca766efbe57",
      "name": "Check as completed on Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho",
          "mode": "list",
          "cachedResultName": "elementshls.com- פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXoaOgdoQlxtz4o2BftuhNjM1x1rCNqZFMcNX63V-ho/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yEKxlD1ugC_SO-9w2CfOvL8cREfNEBCqJTFTwp2Ij8U/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $node[\"Grab New Cluster\"].json.Cluster }}",
            "Primary Keyword": "={{ $node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4352,
        672
      ],
      "id": "a4a40da9-ff2e-4aa0-8ceb-6d4ea024d7d0",
      "name": "Article Saving 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ApWSxaB367lNZgruyYKmJNSsrsUD3GhgxdnfIwH9lvQ/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ String($node[\"Grab New Cluster\"].json.row_id) }}",
            "Published": "Yes",
            "URL": "={{ $('Create Page').item.json.link }}",
            "Date": "={{ $('Create Page').item.json.date }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4768,
        864
      ],
      "id": "748df650-ab6b-4a39-8983-a788b7772b23",
      "name": "Check as completed on Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954311286,
          "mode": "list",
          "cachedResultName": "Article",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yEKxlD1ugC_SO-9w2CfOvL8cREfNEBCqJTFTwp2Ij8U/edit#gid=954311286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cluster": "={{ $node[\"Grab New Cluster\"].json.Cluster }}",
            "Primary Keyword": "={{ $node[\"Grab New Cluster\"].json[\"Primary Keyword\"] }}",
            "Slug": "={{ $('slug').item.json.output }}",
            "Meta Title": "={{ $('Post Title').item.json.output }}",
            "Meta Description": "={{ $('Meta Title').item.json.output }}",
            "External Links ": "={{ $node[\"Fix Links\"].json.research }}",
            "Published": "Yes",
            "row_id": "={{ $('Grab New Cluster').first().json['row_id'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HTML",
              "displayName": "HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Title",
              "displayName": "Meta Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "External Links ",
              "displayName": "External Links ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Internal Links",
              "displayName": "Internal Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4352,
        864
      ],
      "id": "98f9c78e-7cf4-4bad-afea-35fa407d4d47",
      "name": "Article Saving 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "=PUT",
        "url": "={{ 'https://powerplug.ai/wp-json/wp/v2/posts/' + $('Create Post').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        672
      ],
      "id": "7b11a09e-d8cc-4b82-a853-208d1c4a84e6",
      "name": "Update Featured Image2",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://powerplug.ai/wp-json/wp/v2/pages/{{$node[\"Create Page\"].json[\"id\"]}}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"featured_media\": {{$item(0).$node[\"Loop Over Items1\"].json.id}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        864
      ],
      "id": "39af9487-9b44-44b1-8658-070cf36a34ea",
      "name": "Update Featured Image3",
      "credentials": {
        "httpBasicAuth": {
          "id": "yXLxF0ziJW4sBb6k",
          "name": "https://powerplug.ai/ (wp-admin)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior English copywriter and social media strategist with strong B2B + storytelling skills.\n\nINPUT:\nYou will receive a full article written in ENGLISH.\n{{ $json.output }}\n\nOBJECTIVE:\nCreate 4 separate social media posts derived from the article content — one for each platform:\n1) LinkedIn\n2) Facebook\n3) Instagram\n4) X (Twitter)\n\nLANGUAGE RULES:\n- INPUT language: English\n- OUTPUT language: English only\n- Do NOT use English words unless they are unavoidable brand/product names\n- Natural american english (not robotic, not translated)\n\nCORE QUALITY RULES:\n- Do NOT “summarize the article” — convert its insights into high-performing posts\n- Each platform must be UNIQUE (no repeated sentences across platforms)\n- Use concrete takeaways and examples from the article, not vague inspiration\n- If the article is about a product/service: emphasize value, outcome, and clarity (no hype)\n- Do NOT explain the process; output only the final posts\n\n────────────────────────\nPLATFORM RULES (STRICT)\n────────────────────────\n\n1️⃣ LinkedIn (MUST BE THE STRONGEST POST)\nGoal: Thought leadership + credibility + depth.\n\nLength & structure:\n- MUST be 1,000–1,600 characters (English chars, including spaces)\n- MUST be at least as detailed and valuable as the Facebook post\n- 3–6 short paragraphs (each 1–3 lines)\n- Include:\n  A) Hook line that creates tension/curiosity (not cliché)\n  B) 3 actionable points OR a mini-framework (numbered 1–3 is allowed)\n  C) One concrete micro-example / scenario\n  D) A reflective question at the end\n- Emojis: NONE (or max 1 if absolutely needed)\n- Hashtags: 1–3 in English only (optional, subtle)\n\nTone:\n- Professional, confident, human, not preachy\n\n2️⃣ Facebook\nGoal: Warm, community conversation.\n\nLength & structure:\n- 700–1,200 characters\n- 2–4 paragraphs\n- 1–2 emojis allowed\n- End with a question\n- 2–5 hashtags in English\n\n3️⃣ Instagram\nGoal: Scroll-stopping + punchy.\n\nLength & structure:\n- 500–900 characters\n- Strong first line (very short)\n- Short sentences, rhythm, emotional tone\n- 2–4 emojis allowed (not excessive)\n- End with a soft CTA question\n- 5–10 hashtags in English\n- Avoid long blocks; keep it visually scannable\n\n4️⃣ X (Twitter)\nGoal: Sharp, single idea.\n\nLength & structure:\n- MUST fit within 280 characters total\n- One main point only\n- No emojis\n- Hashtags: none (or max 1 only if essential)\n\n────────────────────────\nOUTPUT FORMAT (EXACT)\n────────────────────────\nReturn the content exactly in this structure:\n\n---\n🔹 LinkedIn:\n[LinkedIn post text]\n\n🔹 Facebook:\n[Facebook post text]\n\n🔹 Instagram:\n[Instagram post text]\n\n🔹 X:\n[X post text]\n---\n\nFINAL CHECK BEFORE YOU OUTPUT:\n- LinkedIn is 1,000–1,600 characters and includes hook + 3 points/framework + micro-example + question\n- No sentence is repeated between platforms\n- All text is English\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        320
      ],
      "id": "076794de-e795-4613-a585-c08da7735ae5",
      "name": "Social Media AI Prompt"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * Input: item.json.output (string) OR item.json.text (string) OR item.json (string)\n * Output: columns ready for Google Sheets mapping\n */\n\nfunction pickText(item) {\n  return (\n    item.json.output ??\n    item.json.text ??\n    item.json.result ??\n    (typeof item.json === 'string' ? item.json : null) ??\n    ''\n  );\n}\n\nfunction normalize(s) {\n  return (s || '')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n}\n\nfunction extractSection(fullText, label) {\n  // Matches: 🔹 LinkedIn: ... until next 🔹 or end\n  const re = new RegExp(\n    String.raw`(?:^|\\n)\\s*(?:🔹\\s*)?${label}\\s*:\\s*([\\s\\S]*?)(?=\\n\\s*(?:🔹\\s*)?(?:LinkedIn|Facebook|Instagram|X)\\s*:|\\s*$)`,\n    'i'\n  );\n  const m = fullText.match(re);\n  return normalize(m ? m[1] : '');\n}\n\nfunction makePreview(s, max = 120) {\n  const t = normalize(s).replace(/\\n+/g, ' ');\n  return t.length > max ? t.slice(0, max - 1) + '…' : t;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const raw = normalize(pickText(item));\n\n  const linkedin = extractSection(raw, 'LinkedIn');\n  const facebook = extractSection(raw, 'Facebook');\n  const instagram = extractSection(raw, 'Instagram');\n  const xpost = extractSection(raw, 'X');\n\n  out.push({\n    json: {\n      // These keys should match your Google Sheet columns (recommended):\n      LinkedIn: linkedin,\n      Facebook: facebook,\n      Instagram: instagram,\n      X: xpost,\n\n      // Optional useful fields:\n      LinkedIn_Preview: makePreview(linkedin),\n      Facebook_Preview: makePreview(facebook),\n      Instagram_Preview: makePreview(instagram),\n      X_Preview: makePreview(xpost),\n\n      // Store original text too (optional):\n      Raw_Output: raw,\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        320
      ],
      "id": "53a860a9-cdab-4394-bcef-cbe667b2dc95",
      "name": "Filtering Data"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        544
      ],
      "id": "e001853e-c73a-4393-a316-f2c2c3c8a498",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3KkS143m7oeIPEr2",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4",
          "mode": "list",
          "cachedResultName": "powerplug.ai - פרסום כתבות N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G-gEmOP1JXTjrvDAbQ4mEnAok4uxZo9zPbbOg8u2Fk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683869339,
          "mode": "list",
          "cachedResultName": "מחקר + כתבות",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-53sNSGJmA9XtHqwghv7-Zea1f21n0xlCu2zKYFstV4/edit#gid=683869339"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin": "={{ $json.LinkedIn }}",
            "Facebook": "={{ $json.Facebook }}",
            "Instagram": "={{ $json.Instagram }}",
            "Twitter ": "={{ $json.X }}",
            "row_id": "={{ $('Grab New Cluster').item.json.row_id }}"
          },
          "matchingColumns": [
            "row_id"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "עמוד אב",
              "displayName": "עמוד אב",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pillar",
              "displayName": "Pillar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cluster",
              "displayName": "Cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Keyword",
              "displayName": "Primary Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Parent ID",
              "displayName": "Parent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category ID",
              "displayName": "Category ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter ",
              "displayName": "Twitter ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        320
      ],
      "id": "388bd3d7-9414-4266-8ca7-eaaba5c0da6f",
      "name": "Update Google Sheet with Posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lvHSVyl4fQmLoRi4",
          "name": "Tomer google sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "={{ $('Grab New Cluster').item.json.Website }} {{ $('Grab New Cluster').item.json['Primary Keyword'] }}",
        "limit": 100,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -352,
        784
      ],
      "id": "fe7144b1-be5b-4eae-b465-752c27a7431d",
      "name": "Search and optionally scrape search results",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "obgA87O5rxZBEggg",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Grab New Cluster": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Links": {
      "main": [
        [
          {
            "node": "Search and optionally scrape search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slug": {
      "main": [
        [
          {
            "node": "Post Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Title": {
      "main": [
        [
          {
            "node": "Meta Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Description": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Title": {
      "main": [
        [
          {
            "node": "Meta Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Collect images URLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Getting URLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Image Prompts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting URLS": {
      "main": [
        [
          {
            "node": "Save image URLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect images URLS": {
      "main": [
        [
          {
            "node": "Preparing Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save image URLS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image (PNG URL → Binary)": {
      "main": [
        [
          {
            "node": "Upload to WordPress (Media)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress (Media)": {
      "main": [
        [
          {
            "node": "Image Alt Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Alt Settings": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Plan": {
      "main": [
        [
          {
            "node": "Writing Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writing Blog": {
      "main": [
        [
          {
            "node": "Image Planning",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Media AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Planning": {
      "main": [
        [
          {
            "node": "Cleaning Image Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Image Data": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Preparing Images for HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image (PNG URL → Binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparing Images for HTML": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Post Plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Writing Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Image Planning",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "slug",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Post Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Meta Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "Update Featured Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Page": {
      "main": [
        [
          {
            "node": "Update Featured Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Fix Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grab New Cluster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast": {
      "main": [
        [
          {
            "node": "Article Saving 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update meta title description Yoast1": {
      "main": [
        [
          {
            "node": "Article Saving 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 3": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Saving 1": {
      "main": [
        [
          {
            "node": "Check as completed on Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image2": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Featured Image3": {
      "main": [
        [
          {
            "node": "Update meta title description Yoast1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media AI Prompt": {
      "main": [
        [
          {
            "node": "Filtering Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtering Data": {
      "main": [
        [
          {
            "node": "Update Google Sheet with Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media AI Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search and optionally scrape search results": {
      "main": [
        [
          {
            "node": "Post Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ce557acf-a8dd-408f-822d-dcb9253d4531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d687f3db8cf73bff0dc9f02849712fbaa1b2ea972c000594417cec61549f3360"
  },
  "id": "JH5wZ82C2xqkIg2h",
  "tags": [
    {
      "updatedAt": "2026-03-10T11:06:25.127Z",
      "createdAt": "2026-03-10T11:06:25.127Z",
      "id": "6i0BAnk54dHQbioc",
      "name": "https://powerplug.ai/"
    },
    {
      "updatedAt": "2025-12-25T09:04:33.025Z",
      "createdAt": "2025-12-25T09:04:33.025Z",
      "id": "bAQ5UBM4nFLDhksc",
      "name": "תומר"
    }
  ]
}